<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ortak Evim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css"
          integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
   <!-- &#45;&#45;&#45;&#45;Swiper css-&#45;&#45;-->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="assets/css/result_page.css">

</head>
<style>

</style>
<body>

<div class="header">
    <div class="container mt-3">
        <div class="row menu-big">
            <div class="col-8 d-flex align-items-center">
                <div class="logo-wrap">
                    <a href="index.html">
                        <img src="assets/image/Logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="button-wrap">
                    <a href="index.html" class="general-btn bg-purple">Ana Sayfa</a>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <div class="head-right">
                    <a href="" class="cart">
                        <img src="assets/image/sepet_icon.png" alt="">
                    </a>
                    <a href="" class="favorite">
                        <img src="assets/image/kalp.png" class="img-fluid" alt="">
                    </a>
                    <a href="" class="top-person">
                        <img src="assets/image/profil-foto.png" class="img-fluid" alt="">
                    </a>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Burak Yılmaz
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="account.html">
                                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                                <span>Hesap Bilgilerim</span>
                            </a></li>
                            <li>
                                <a class="dropdown-item" href="personal_card.html">
                                    <img src="../assets/image/B02-kisikartim.svg" alt="">
                                    <span>Kişi Kartım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="messages.html">
                                    <img src="../assets/image/B03-mesajlarim.svg" alt="">
                                    <span>Mesajlarım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="packages.html">
                                    <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                                    <span>Paket ve Tarifeler</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="card.html">
                                    <img src="../assets/image/B05-sepetim.svg" alt="">
                                    <span>Sepetim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="favorite_contacts.html">
                                    <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                                    <span>Favori Kişilerim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blocked_list.html">
                                    <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                                    <span>Engelliler Listem</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="campaigns.html">
                                    <img src="../assets/image/B08-kampanyalar.svg" alt="">
                                    <span>Kampanyalar</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="customer_representative.html">
                                    <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                                    <span>Müşteri Temsilcisi</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="../assets/image/B10-cikisyap.svg" alt="">
                                    <span>Çıkış</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="hmbr">
                <img src="assets/image/menu.svg" class="menu-btn" alt="">
                <img src="assets/image/profil-foto.png" class="img-fluid ms-1" alt="">
            </div>

            <div class="logo-wrap user-login">
                <a href=""><img src="assets/image/Logo.png" class="img-fluid" alt=""></a>
            </div>
            <div class="search">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        <div class="mobile_col_menu lower-screen">
            <div>
                <div class="close d-inline">
                    <img src="assets/image/carpi_iconu.png" alt="">
                </div>
                <div class="profile-img">
                    <img src="assets/image/profil_resmi.png" alt="">
                </div>
                <p class="text-center name">Burak Yılmaz</p>
            </div>
            <div class="icon">
                <img src="assets/image/B01-hesapbilgilerim.svg" alt="">
                <span><a href="">Hesap Bilgilerim</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B02-kisikartim.svg" alt="">
                <span><a href="">Kişi Kartım</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B03-mesajlarim.svg" alt="">
                <span><a href="">Mesajlarım</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B04-paketlervetarifeler.svg" alt="">
                <span><a href="">Paket ve Tarifeler</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B05-sepetim.svg" alt="">
                <span><a href="">Sepetim</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B06-favorikisilerim.svg" alt="">
                <span><a href="">Favori Kişilerim</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B07-engellenenkisiler.svg" alt="">
                <span><a href="">Engelliler Listem</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B08-kampanyalar.svg" alt="">
                <span><a href="">Kampanyalar</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B09-musteritemsilcisi.svg" alt="">
                <span><a href="">Müşteri Temsilcisi</a></span>
            </div>
            <div class="icon">
                <img src="assets/image/B10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
            <div class="mt-5 mb-3 social-icon">
                <a href="https://instagram.com/ortakevim">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/ortakevim">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://youtube.com/ortakevim">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://linkedin.com/company/ortakevim">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container blog">
    <div class="row">
        <div class="col-12 btn-holder">
            <div class="d-flex justify-content-between">
                <a href="" class="my-account">Güncel Haberler</a>
                <div class="date">
                    <span class="d-block">01 Ocak 2023</span>
                    <span class=d-block>Pazar</span>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-big position-relative">
            <div class="swiper blogSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-image">
                            <a href="">
                                <img src="assets/image/haber_gorsel.png" class="img-fluid" alt="">
                            </a>
                            <p>Öğrenciler yüksek kiralar yüzünden okumakta güçlük çekiyor</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="col-lg-4">
            <div class="col-small">
                <div class="h-60">
                    <img src="assets/image/gorsel-1.png" class="img-fluid" alt="">
                </div>
                <div class="row py-4 py-lg-0">
                    <div class="col-6">
                        <div class="wrap">
                            <img src="assets/image/gorsel-2.png" class="img-fluid" alt="">
                            <p>30 ürüne yüzde <br> 25 indirim!</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap">
                            <img src="assets/image/gorsel-3.png" class="img-fluid" alt="">
                            <p>İstanbul'da <br> konut projeleri</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-wrap">
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-4.png" class="img-fluid" alt="">
            </div>
            <span>TEKNOLOJİ</span>
            <p>E-ticaret genç girişimcileri 2022'de zirveye taşıdı</p>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-5.png" class="img-fluid" alt="">
            </div>
            <span class="bg-blue">ARABA</span>
            <p>TOGG, Akıllı otomobillerin üretim aşamalarını paylaştı</p>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-6.png" class="img-fluid" alt="">
            </div>
            <span class="bg-red">EKONOMİ</span>
            <p>Altın yatırımcıları için yeni tahminler gelmeye başladı</p>
        </div>
    </div>
    <div class="dividing">
        HABER AKIŞI
    </div>
    <div class="row col-wrap">
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-4.png" class="img-fluid" alt="">
            </div>
            <span class="bg-gray">TEKNOLOJİ</span>
            <p>E-ticaret genç girişimcileri 2022'de zirveye taşıdı</p>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-5.png" class="img-fluid" alt="">
            </div>
            <span class="bg-green">ARABA</span>
            <p>TOGG, Akıllı otomobillerin üretim aşamalarını paylaştı</p>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-6.png" class="img-fluid" alt="">
            </div>
            <span class="bg-light-blue">EKONOMİ</span>
            <p>Altın yatırımcıları için yeni tahminler gelmeye başladı</p>
        </div>
        <div class="br big-screen">
            <div></div>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-6.png" class="img-fluid" alt="">
            </div>
            <span class="bg-dark-pink">EKONOMİ</span>
            <p>Altın yatırımcıları için yeni tahminler gelmeye başladı</p>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-6.png" class="img-fluid" alt="">
            </div>
            <span class="bg-purple">EKONOMİ</span>
            <p>Altın yatırımcıları için yeni tahminler gelmeye başladı</p>
        </div>
        <div class="col-sm-4">
            <div class="col-wrap-img">
                <img src="assets/image/gorsel-6.png" class="img-fluid" alt="">
            </div>
            <span class="bg-purple">EKONOMİ</span>
            <p>Altın yatırımcıları için yeni tahminler gelmeye başladı</p>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <a href="about_us.html">Hakkımızda</a>
                </li>
                <li>
                    <a href="advertisement.html">Reklam</a>
                </li>
                <li>
                    <a href="terms_of_service.html">Hizmet Koşulları</a>
                </li>
                <li>
                    <a href="privacy_policy.html">Gizlilik Politikası</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="carrier.html">Kariyer</a>
                </li>
                <li>
                    <a href="contact.html">İletişim</a>
                </li>
            </ul>
        </div>
        <div class="col-12 copyright text-center lower-screen">
            <i class="fa-regular fa-copyright"></i> 2023 Ortak Evim
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="blogModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-body p-0">
                <button type="button" class="btn-close main-modal-button" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <img src="assets/image/gorsel-1.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script src="assets/js/main.js"></script>

<script>

    let time = 700;
    let myModal = new bootstrap.Modal(document.getElementById('blogModal'), {
        keyboard: false
    });
    const modalBlog = function () {
        myModal.show();
    }
    setTimeout(modalBlog, time);
</script>
</body>
</html>