<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ortak Evim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css"
          integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="stylesheet" href="../assets/css/result_page.css">

    <style>
        #crop .img-container {
            width: 450px;
            overflow: hidden;
            min-height: 310px;
        }
        .image-workspace{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #image{
            width: 100%;
            height: 100%;
            display: block;
        }
        @media screen and (max-width: 576px){
            #crop .img-container {
                width: 360px;
                overflow: hidden;
                max-height: 500px;
            }
        }
    </style>
</head>
<style>

</style>
<body>

<div class="header">
    <div class="container mt-3">
        <div class="row menu-big">
            <div class="col-8 d-flex align-items-center">
                <div class="logo-wrap">
                    <a href="../index.html">
                        <img src="../assets/image/Logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="button-wrap">
                    <a href="../index.html" class="general-btn bg-purple">Yeni Arama</a>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <div class="head-right">
                    <a href="" class="cart">
                        <img src="../assets/image/sepet_icon.png" alt="">
                    </a>
                    <a href="" class="favorite">
                        <img src="../assets/image/kalp.png" class="img-fluid" alt="">
                    </a>
                    <a href="" class="top-person">
                        <img src="../assets/image/profil-foto.png" class="img-fluid" alt="">
                    </a>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Burak Yılmaz
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="account.html">
                                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                                <span>Hesap Bilgilerim</span>
                            </a></li>
                            <li>
                                <a class="dropdown-item" href="personal_card.html">
                                    <img src="../assets/image/B02-kisikartim.svg" alt="">
                                    <span>Kişi Kartım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="messages.html">
                                    <img src="../assets/image/B03-mesajlarim.svg" alt="">
                                    <span>Mesajlarım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="packages.html">
                                    <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                                    <span>Paket ve Tarifeler</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="card.html">
                                    <img src="../assets/image/B05-sepetim.svg" alt="">
                                    <span>Sepetim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="favorite_contacts.html">
                                    <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                                    <span>Favori Kişilerim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blocked_list.html">
                                    <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                                    <span>Engelliler Listem</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="campaigns.html">
                                    <img src="../assets/image/B08-kampanyalar.svg" alt="">
                                    <span>Kampanyalar</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="customer_representative.html">
                                    <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                                    <span>Müşteri Temsilcisi</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="../assets/image/B10-cikisyap.svg" alt="">
                                    <span>Çıkış</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="hmbr">
                <img src="../assets/image/menu.svg" class="menu-btn" alt="">
                <img src="../assets/image/profil-foto.png" class="img-fluid ms-1" alt="">
            </div>

            <div class="logo-wrap user-login">
                <a href=""><img src="../assets/image/Logo.png" class="img-fluid" alt=""></a>
            </div>
            <div class="search">
                <a href="">
                    <img src="../assets/image/arama.svg" alt="">
                </a>
            </div>
        </div>
        <div class="mobile_col_menu">
            <div>
                <div class="close d-inline">
                    <img src="../assets/image/carpi_iconu.png" alt="">
                </div>
                <div class="profile-img">
                    <img src="../assets/image/profil_resmi.png" alt="">
                </div>
                <p class="text-center name">Burak Yılmaz</p>
            </div>
            <div class="icon">
                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                <span><a href="">Hesap Bilgilerim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B02-kisikartim.svg" alt="">
                <span><a href="">Kişi Kartım</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B03-mesajlarim.svg" alt="">
                <span><a href="">Mesajlarım</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                <span><a href="">Paket ve Tarifeler</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B05-sepetim.svg" alt="">
                <span><a href="">Sepetim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                <span><a href="">Favori Kişilerim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                <span><a href="">Engelliler Listem</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B08-kampanyalar.svg" alt="">
                <span><a href="">Kampanyalar</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                <span><a href="">Müşteri Temsilcisi</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
            <div class="mt-5 mb-3 social-icon">
                <a href="https://instagram.com/ortakevim">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/ortakevim">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://youtube.com/ortakevim">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://linkedin.com/company/ortakevim">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="back"></div>
<!-- Modal closeAccount -->
<div class="modal fade" id="closeAccount" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content">
            <h3>Hesabınızı tamamen kapatmak istediğinize emin misiniz?</h3>
            <p>Sitemizi tekrar kullanmak isterseniz yeni bir hesap oluşturmanız gerekir.</p>
            <a class="general-btn" href="">Hesabımı Kapat</a>
            <button class="general-btn" data-bs-dismiss="modal">Vazgeç</button>
        </div>
    </div>
</div>

<div class="container account-page">
    <div class="row">
        <div class="col-12 btn-holder">
            <div class="d-flex justify-content-between align-items-baseline">
                <a href="" class="my-account">Hesabım</a>
                <div class="dropdown drop-select">
                    <a class="dropdown-toggle" href="#" role="button" id="select" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        İşlemler
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="select">
                        <li><a class="dropdown-item" href="#">Müşteri Temsilcisi</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#closeAccount">Hesabımı
                            Kapat</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2 menu">
            <div>
                <img src="../assets/image/01-hesapbilgilerim.svg" alt="">
                <span><a href="corporate_account.html">Hesap Bilgilerim</a></span>
            </div>
            <div>
                <img src="../assets/image/02-kisikartim.svg" alt="">
                <span><a href="publication.html">İlanlarım</a></span>
            </div>
            <div>
                <img src="../assets/image/03-mesajlarim.svg" alt="">
                <span><a href="../account/messages.html">Mesajlarım</a></span>
            </div>
            <div>
                <img src="../assets/image/04-paketlervetarifeler.svg" alt="">
                <span><a href="../account/packages.html">Paket ve Tarifeler</a></span>
            </div>
            <div>
                <img src="../assets/image/05-sepetim.svg" alt="">
                <span><a href="../account/card.html">Sepetim</a></span>
            </div>
            <div>
                <img src="../assets/image/06-favorikisilerim.svg" alt="">
                <span><a href="../account/favorite_contacts.html">Favori Kişilerim</a></span>
            </div>
            <div>
                <img src="../assets/image/07-engellenenkisiler.svg" alt="">
                <span><a href="../account/blocked_list.html">Engelliler Listem</a></span>
            </div>
            <div>
                <img src="../assets/image/08-kampanyalar.svg" alt="">
                <span><a href="../account/campaigns.html">Kampanyalar</a></span>
            </div>
            <div>
                <img src="../assets/image/09-musteritemsilcisi.svg" alt="">
                <span><a href="../account/customer_representative.html">Müşteri Temsilcisi</a></span>
            </div>
            <div>
                <img src="../assets/image/10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
        </div>
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-7">
                    <div class="row br-1">
                        <p class="col-title text-center text-lg-start">Üyelik Bilgilerim</p>
                        <div class="col-lg-3 pe-0 padding-0">
                            <div class="profile" id="profile-wrap"></div>
                            <input type="file" id="profile">
                        </div>
                        <div class="col-lg-9 mb-245">
                            <form action="" class="profile-personal">
                                <div class="row g-2">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control br-37" placeholder="Şirket Adı">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control br-37" placeholder="Yetkili Adı">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control br-37" placeholder="Yetkili Soyadı">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control br-37" placeholder="T.C Kimlik No"
                                               oninput="">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="email" class="form-control br-37" placeholder="E-mail adresi">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" onfocus="this.placeholder='0(___) ___ __ __'"
                                               class="form-control br-37" placeholder="Cep Telefonu">
                                    </div>
                                    <div class="col-6 position-relative">
                                        <div class="female">
                                            <input class="form-control br-37" type="radio" name="gender" id="female"
                                                   value="" placeholder="Kadın">
                                            <label class="form-check-label">
                                                Kadın
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6 position-relative">
                                        <div class="male">
                                            <input class="form-control br-37" type="radio" name="gender" id="male"
                                                   value="">
                                            <label class="form-check-label">
                                                Erkek
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <input class="form-control br-37" type="text" onfocus="(this.type='date')"
                                               name="birthday" placeholder="Doğum Tarihi">
                                    </div>

                                    <div class="col-md-12">
                                        <select name="" class="form-select br-37" id="">
                                            <option value="">İl</option>
                                            <option value="1">Adana</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <select name="" class="form-select br-37">
                                            <option value="">İlçe</option>
                                            <option value="1">Akçakoca</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 text-start">
                                        <div class="form-check check-confirm">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                                            <label class="form-check-label col-form-label-sm" for="gridCheck1">
                                                Kampanyalarından / duyurularından haberdar olmak istiyorum.
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-12 update">
                                        <a href="">GÜNCELLE</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-5 mt-4 mt-sm-0 mb-6">
                    <p class="col-title">Şifre Güncelleme</p>
                    <form action="" class="profile-personal">
                        <div class="row g-2">
                            <div class="col-md-12">
                                <input type="text" class="form-control br-37" placeholder="Eski Şifre">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control br-37" placeholder="Yeni Şifre">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control br-37" placeholder="Yeni Şifre Tekrar">
                            </div>
                            <div class="col-12 update">
                                <a href="">GÜNCELLE</a>
                            </div>
                        </div>
                    </form>
                    <p class="text-center lower-screen account-close">
                        <a href="">Hesabımı Kapat</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer big-screen">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <a href="../about_us.html">Hakkımızda</a>
                </li>
                <li>
                    <a href="../advertisement.html">Reklam</a>
                </li>
                <li>
                    <a href="../terms_of_service.html">Hizmet Koşulları</a>
                </li>
                <li>
                    <a href="../privacy_policy.html">Gizlilik Politikası</a>
                </li>
                <li>
                    <a href="../blog.html">Blog</a>
                </li>
                <li>
                    <a href="../carrier.html">Kariyer</a>
                </li>
                <li>
                    <a href="../contact.html">İletişim</a>
                </li>
            </ul>
        </div>
        <div class="col-12 copyright text-center lower-screen">
            <i class="fa-regular fa-copyright"></i> 2023 Ortak Evim
        </div>
    </div>
</div>
<div class="mobile-footer">
    <div class="icon-wrap">
        <a href=""><img src="../assets/image/B03-mesajlarim.svg" alt=""></a>
        <a href=""> <img src="../assets/image/B05-sepetim.svg" alt=""></a>
        <a href=""><img class="third" src="../assets/image/B04-paketlervetarifeler.svg" alt=""></a>
    </div>
</div>
<!-- Modal Crop -->
<div class="modal fade" id="crop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content position-relative text-center py-2">
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            <div class="modal-body px-1 pt-3">
                <img src="../assets/image/Logo.png" alt="" width="34px">
                <h5>Profil Resmi</h5>
                <p>Profil resmi kullanmanız sizi diğer kişilerin tanımasına yardımcı olur</p>
                <div class="img-container mx-auto d-flex justify-content-center align-items-center">
                    <div class="image-workspace">
                            <img id="image" src="../assets/image/profil.png">

                    </div>
                </div>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn mx-auto" id="btn-crop">
                    <i class="fa-regular fa-pen-to-square"></i>
                    Yükle
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"
        integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--<script src="../assets/js/main.js"></script>-->

<script>
    // profil fotoğrafının kırpılması
    let fileInput = $('#profile');
    var modal = $('#crop');
    var image = document.getElementById('image');
    let cropper;

    $('.profile').click(function () {
        fileInput.click();
    }).show();
    $("body").on("change", "#profile", function (e) {

        var files = e.target.files;
        var done = function (url) {
            image.src = url;
            modal.modal('show');
        };
        var reader;
        var file;
        var url;
        if (files && files.length > 0) {
            file = files[0];
            if (URL) {
                done(URL.createObjectURL(file));
            } else if (FileReader) {
                reader = new FileReader();
                reader.onload = function (e) {
                    done(reader.result);
                };
                let url = reader.readAsDataURL(file);
                console.log(url);
            }
        }
    });

    modal.on('shown.bs.modal', function () {
        var options = {
            dragMode: 'move',
            preview: '.img-preview',
            viewMode: 2,
            modal: false,
            background: false,

            ready: function () {
                console.log('3434');
            }
        }
        cropper = new Cropper(image, options)
    }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
    });


    $("body").on("click", "#btn-crop", function() {
        canvas = cropper.getCroppedCanvas({
            width: 117,
            height: 117,
        });
        canvas.toBlob(function(blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function() {
                let base64data = reader.result;
                document.getElementById("profile").setAttribute('value',base64data);
               // $('#profile').value(base64data);
                document.getElementById('profile-wrap').style.backgroundImage = "url("+base64data+")";
                modal.modal('hide');
            }
        });
    })
</script>
</body>
</html>