<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ortak Evim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css"
          integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="stylesheet" href="../assets/css/result_page.css">

    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

</head>
<style>

</style>
<body>
<!-- Modal infoone -->
<div class="modal fade" id="infoOneModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <b class="stay"> SÜRELİ KONAKLAMA NEDİR? </b>
            Kendi evinizde kısa süreli misafir konaklamasıyla ev ekonominize katkı sağlamış olur aynı zamanda
            kazanç elde edebilirsiniz. Kısa süreli şehir dışı ziyaretinde bulunan kişiler bu ekonomik yöntem
            ile süreli konaklamayı tercih etmektedirler.
            <br>
            Ayrıca herhangi bir sebeple şehir dışı seyehati yapacaksanız, süreli konaklamayı kabul eden ev sahiplerinin
            belirlediği bedel karşılığında kısa süreli konaklama yapabilirsiniz.
        </div>
    </div>
</div>
<div class="header">
    <div class="container mt-3">
        <div class="row menu-big">
            <div class="col-8 d-flex align-items-center">
                <div class="logo-wrap">
                    <a href="../index.html">
                        <img src="../assets/image/Logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="button-wrap">
                    <a href="../index.html" class="general-btn bg-purple">Yeni Arama</a>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <div class="head-right">
                    <a href="" class="cart">
                        <img src="../assets/image/sepet_icon.png" alt="">
                    </a>
                    <a href="" class="favorite">
                        <img src="../assets/image/kalp.png" class="img-fluid" alt="">
                    </a>
                    <a href="" class="top-person">
                        <img src="../assets/image/profil-foto.png" class="img-fluid" alt="">
                    </a>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Burak Yılmaz
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="account.html">
                                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                                <span>Hesap Bilgilerim</span>
                            </a></li>
                            <li>
                                <a class="dropdown-item" href="personal_card.html">
                                    <img src="../assets/image/B02-kisikartim.svg" alt="">
                                    <span>Kişi Kartım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="messages.html">
                                    <img src="../assets/image/B03-mesajlarim.svg" alt="">
                                    <span>Mesajlarım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="packages.html">
                                    <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                                    <span>Paket ve Tarifeler</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="card.html">
                                    <img src="../assets/image/B05-sepetim.svg" alt="">
                                    <span>Sepetim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="favorite_contacts.html">
                                    <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                                    <span>Favori Kişilerim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blocked_list.html">
                                    <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                                    <span>Engelliler Listem</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="campaigns.html">
                                    <img src="../assets/image/B08-kampanyalar.svg" alt="">
                                    <span>Kampanyalar</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="customer_representative.html">
                                    <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                                    <span>Müşteri Temsilcisi</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="../assets/image/B10-cikisyap.svg" alt="">
                                    <span>Çıkış</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="hmbr">
                <img src="../assets/image/menu.svg" class="menu-btn" alt="">
                <img src="../assets/image/profil-foto.png" class="img-fluid ms-1" alt="">
            </div>

            <div class="logo-wrap user-login">
                <a href=""><img src="../assets/image/Logo.png" class="img-fluid" alt=""></a>
            </div>
            <div class="search">
                <a href="">
                    <img src="../assets/image/arama.svg" alt="">
                </a>
            </div>
        </div>
        <div class="mobile_col_menu">
            <div>
                <div class="close d-inline">
                    <img src="../assets/image/carpi_iconu.png" alt="">
                </div>
                <div class="profile-img">
                    <img src="../assets/image/profil_resmi.png" alt="">
                </div>
                <p class="text-center name">Burak Yılmaz</p>
            </div>
            <div class="icon">
                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                <span><a href="">Hesap Bilgilerim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B02-kisikartim.svg" alt="">
                <span><a href="">Kişi Kartım</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B03-mesajlarim.svg" alt="">
                <span><a href="">Mesajlarım</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                <span><a href="">Paket ve Tarifeler</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B05-sepetim.svg" alt="">
                <span><a href="">Sepetim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                <span><a href="">Favori Kişilerim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                <span><a href="">Engelliler Listem</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B08-kampanyalar.svg" alt="">
                <span><a href="">Kampanyalar</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                <span><a href="">Müşteri Temsilcisi</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
            <div class="mt-5 mb-3 social-icon">
                <a href="https://instagram.com/ortakevim">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/ortakevim">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://youtube.com/ortakevim">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://linkedin.com/company/ortakevim">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="back">
</div>

<div class="container account-page personal-card">
    <div class="row">
        <div class="col-12 btn-holder">
            <div class="d-flex justify-content-between">
                <a href="" class="my-account">Hesabım</a>
                <div class="contact-rule">
                    <a href="">GÖRÜŞME HAKKI <br> SATIN ALIN</a>
                </div>
                <div class="contact-rule success d-none">
                    <a href=""><p>10</p> GÖRÜŞME <br> HAKKINIZ VAR</a>
                </div>
            </div>
        </div>
        <div class="col-2 menu">
            <div>
                <img src="../assets/image/01-hesapbilgilerim.svg" alt="">
                <span><a href="corporate_account.html">Hesap Bilgilerim</a></span>
            </div>
            <div>
                <img src="../assets/image/02-kisikartim.svg" alt="">
                <span><a href="publication.html">İlanlarım</a></span>
            </div>
            <div>
                <img src="../assets/image/03-mesajlarim.svg" alt="">
                <span><a href="../account/messages.html">Mesajlarım</a></span>
            </div>
            <div>
                <img src="../assets/image/04-paketlervetarifeler.svg" alt="">
                <span><a href="../account/packages.html">Paket ve Tarifeler</a></span>
            </div>
            <div>
                <img src="../assets/image/05-sepetim.svg" alt="">
                <span><a href="../account/card.html">Sepetim</a></span>
            </div>
            <div>
                <img src="../assets/image/06-favorikisilerim.svg" alt="">
                <span><a href="../account/favorite_contacts.html">Favori Kişilerim</a></span>
            </div>
            <div>
                <img src="../assets/image/07-engellenenkisiler.svg" alt="">
                <span><a href="../account/blocked_list.html">Engelliler Listem</a></span>
            </div>
            <div>
                <img src="../assets/image/08-kampanyalar.svg" alt="">
                <span><a href="../account/campaigns.html">Kampanyalar</a></span>
            </div>
            <div>
                <img src="../assets/image/09-musteritemsilcisi.svg" alt="">
                <span><a href="../account/customer_representative.html">Müşteri Temsilcisi</a></span>
            </div>
            <div>
                <img src="../assets/image/10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row justify-content-center">
                <div class="col-md-7 br-1">
                    <div class="row">
                        <div class="head">
                            <p class="col-title text-center text-lg-start">İlan Ekle</p>
                            <div>
                                <span>İLK İLAN ÜCRETSİZ</span>
                            </div>
                        </div>
                        <div class="col-lg-12 mx-auto personal-info">
                            <form action="" class="profile-personal">
                                <div class="row g-2">
                                    <div class="col-12">
                                        <input type="text" class="form-control br-37" placeholder="İlan Başlığı">
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">İl</option>
                                            <option value="1">Adana</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">İlçe</option>
                                            <option value="1">Akçakoca</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">Oda Sayısı</option>
                                            <option value="1">1+1</option>
                                            <option value="1">2+1</option>
                                            <option value="1">3+1</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control br-37" placeholder="Kaç m2">
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">Kat Sayısı</option>
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="1">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">Bulunduğu Kat</option>
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="1">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">Eşya var mı?</option>
                                            <option value="1">Evet</option>
                                            <option value="1">Hayır</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">Cinsiyet</option>
                                            <option value="1">Kadın</option>
                                            <option value="1">Erkek</option>
                                            <option value="1">Farketmez</option>
                                        </select>
                                        <span class="not">Aradığınız kişinin cinsiyeti</span>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="" class="form-select br-37">
                                            <option value="">Durumu</option>
                                            <option value="1">örnek</option>
                                        </select>
                                        <span class="not">Aradığınız kişinin durumu</span>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control br-37" placeholder="Kira">
                                    </div>
                                    <div class="col-md-12 position-relative">
                                        <img class="info homes" src="../assets/image/info.svg" data-bs-toggle="modal" data-bs-target="#infoOneModal" alt="">
                                        <div class="tooltips" id="home">
                                            <i class="fa-solid fa-caret-left"></i>
                                            <b> SÜRELİ KONAKLAMA NEDİR? </b><br>
                                            Kendi evinizde kısa süreli misafir konaklamasıyla ev ekonominize katkı sağlamış olur aynı zamanda
                                            kazanç elde edebilirsiniz. Kısa süreli şehir dışı ziyaretinde bulunan kişiler bu ekonomik yöntem
                                            ile süreli konaklamayı tercih etmektedirler.
                                            <br>
                                            Ayrıca herhangi bir sebeple şehir dışı seyehati yapacaksanız, süreli konaklamayı kabul eden ev sahiplerinin
                                            belirlediği bedel karşılığında kısa süreli konaklama yapabilirsiniz.
                                        </div>
                                        <select name="" class="form-select br-37">
                                            <option value="">Süreli konaklama kabul eder misiniz?</option>
                                            <option value="1">örnek</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <textarea class="form-control" name="" cols="30" rows="3" placeholder="Açıklama"></textarea>
                                        <span class="not">Lütfen kişisel verilerinizi paylaşmayınız. Açıklamalar onaydan sonra yayına alınır</span>
                                    </div>

                                        <div class="row file-wrap g-2">
                                            <div class="col-sm-2 col-4 px-1">
                                                <input type="file" name="img1" id="img1">
                                                <div class="file">
                                                    <a href="">
                                                        <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-4 px-1">
                                                <input type="file" name="img2" id="img2">
                                                <div class="file">
                                                    <a href="">
                                                        <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-4 px-1">
                                                <input type="file" name="img3" id="img3">
                                                <div class="file">
                                                    <a href="">
                                                        <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-4 px-1">
                                                <input type="file" name="img4" id="img4">
                                                <div class="file">
                                                    <a href="">
                                                        <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-4 px-1">
                                                <input type="file" name="img4" id="img4">
                                                <div class="file">
                                                    <a href="">
                                                        <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-4 px-1">
                                                <input type="file" name="img4" id="img4">
                                                <div class="file">
                                                    <a href="">
                                                        <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="not">Evinizin örnek fotoğraflarını yükleyiniz </span>
                                        </div>


                                    <div class="col-md-12 text-start">
                                        <div class="form-check check-confirm">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                                            <label class="form-check-label col-form-label-sm" for="gridCheck1">
                                                Onaylayarak ortakevim.com'un <a href="">Hizmet Şartları</a>  koşullarını kabul eder
                                                ve <a href="">Gizlilik Politikası</a> metnini okuduğunuzu onaylamış olursunuz.
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-12 update">
                                        <a href="">GÜNCELLE</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="publish">Yayın Görünümü</div>
                    <div class="display-card">
                        <div class="bg-light-gray">
                            <div class="favorite">
                                <div>
                                    <span>PASİF</span>
                                </div>
                                <div>
                                    <div class="img"></div>
                                    <p>
                                        Favoriye
                                        Ekle
                                    </p>
                                </div>
                            </div>
                            <div class="person position-relative">
                                <div class="swiper slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="../assets/image/kart-gorseli.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="../assets/image/kart-gorseli.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="../assets/image/kart-gorseli.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="../assets/image/kart-gorseli.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="name mt-4">
                                <p>3+1 AİLE APARTMANI İTÜ’YE YÜRÜME MESAFESİ</p>
                            </div>
                            <div class="text">
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                           İl
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            İstanbul
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            İlçe
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            Beyoğlu
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            İlan Tarihi
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            11/11/2022
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Oda Sayısı
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            3+1
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Kaç m<sup>2</sup>
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            135 m<sup>2</sup>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Kat Sayısı
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            5
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Bulunduğu Kat
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            4
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Eşyalı
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            Evet
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Cinsiyet
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            Sadece Kadın
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Durumu
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            Öğrenci / Çalışan
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4">
                                        <p class="text-thin">
                                            Kira
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            2.500 TL
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-sm-4 pe-0">
                                        <p class="text-thin">
                                            Süreli Konaklama
                                        </p>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <p class="text-bold">
                                            Kabul ediyor
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="description">
                                        Öğrenciye ve çalışana uygun 3+1  eşyalı dairemiz aile apartmanındadır.
                                        İTÜ'ye yürüme mesafesinde olup AVM'lere yakın konumdadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="btn-smt">
                            <a class="person-link bg-purple" href="">İLANI YAYINLA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer big-screen">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <a href="../about_us.html">Hakkımızda</a>
                </li>
                <li>
                    <a href="../advertisement.html">Reklam</a>
                </li>
                <li>
                    <a href="../terms_of_service.html">Hizmet Koşulları</a>
                </li>
                <li>
                    <a href="../privacy_policy.html">Gizlilik Politikası</a>
                </li>
                <li>
                    <a href="../blog.html">Blog</a>
                </li>
                <li>
                    <a href="../carrier.html">Kariyer</a>
                </li>
                <li>
                    <a href="../contact.html">İletişim</a>
                </li>
            </ul>
        </div>
        <div class="col-12 copyright text-center lower-screen">
            <i class="fa-regular fa-copyright"></i> 2023 Ortak Evim
        </div>
    </div>
</div>
<div class="mobile-footer">
    <div class="icon-wrap">
        <a href=""><img src="../assets/image/B03-mesajlarim.svg" alt=""></a>
        <a href=""> <img src="../assets/image/B05-sepetim.svg" alt=""></a>
        <a href=""><img class="third" src="../assets/image/B04-paketlervetarifeler.svg" alt=""></a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="../assets/js/main.js"></script>
<script>
    var swiper = new Swiper(".slider", {
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
</body>
</html>