<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ortak Evim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css"
          integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="stylesheet" href="../assets/css/result_page.css">

</head>
<style>

</style>
<body>

<div class="header">
    <div class="container mt-3">
        <div class="row menu-big">
            <div class="col-8 d-flex align-items-center">
                <div class="logo-wrap">
                    <a href="../index.html">
                        <img src="../assets/image/Logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="button-wrap">
                    <a href="../index.html" class="general-btn bg-purple">Yeni Arama</a>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <div class="head-right">
                    <a href="" class="cart">
                        <img src="../assets/image/sepet_icon.png" alt="">
                    </a>
                    <a href="" class="favorite">
                        <img src="../assets/image/kalp.png" class="img-fluid" alt="">
                    </a>
                    <a href="" class="top-person">
                        <img src="../assets/image/profil-foto.png" class="img-fluid" alt="">
                    </a>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Burak Yılmaz
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="account.html">
                                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                                <span>Hesap Bilgilerim</span>
                            </a></li>
                            <li>
                                <a class="dropdown-item" href="personal_card.html">
                                    <img src="../assets/image/B02-kisikartim.svg" alt="">
                                    <span>Kişi Kartım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="messages.html">
                                    <img src="../assets/image/B03-mesajlarim.svg" alt="">
                                    <span>Mesajlarım</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="packages.html">
                                    <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                                    <span>Paket ve Tarifeler</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="card.html">
                                    <img src="../assets/image/B05-sepetim.svg" alt="">
                                    <span>Sepetim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="favorite_contacts.html">
                                    <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                                    <span>Favori Kişilerim</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blocked_list.html">
                                    <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                                    <span>Engelliler Listem</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="campaigns.html">
                                    <img src="../assets/image/B08-kampanyalar.svg" alt="">
                                    <span>Kampanyalar</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="customer_representative.html">
                                    <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                                    <span>Müşteri Temsilcisi</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="../assets/image/B10-cikisyap.svg" alt="">
                                    <span>Çıkış</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="hmbr">
                <img src="../assets/image/menu.svg" class="menu-btn" alt="">
                <img src="../assets/image/profil-foto.png" class="img-fluid ms-1" alt="">
            </div>

            <div class="logo-wrap user-login">
                <a href=""><img src="../assets/image/Logo.png" class="img-fluid" alt=""></a>
            </div>
            <div class="search">
                <a href="">
                    <img src="../assets/image/arama.svg" alt="">
                </a>
            </div>
        </div>
        <div class="mobile_col_menu">
            <div>
                <div class="close d-inline">
                    <img src="../assets/image/carpi_iconu.png" alt="">
                </div>
                <div class="profile-img">
                    <img src="../assets/image/profil_resmi.png" alt="">
                </div>
                <p class="text-center name">Burak Yılmaz</p>
            </div>
            <div class="icon">
                <img src="../assets/image/B01-hesapbilgilerim.svg" alt="">
                <span><a href="">Hesap Bilgilerim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B02-kisikartim.svg" alt="">
                <span><a href="">Kişi Kartım</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B03-mesajlarim.svg" alt="">
                <span><a href="">Mesajlarım</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B04-paketlervetarifeler.svg" alt="">
                <span><a href="">Paket ve Tarifeler</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B05-sepetim.svg" alt="">
                <span><a href="">Sepetim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B06-favorikisilerim.svg" alt="">
                <span><a href="">Favori Kişilerim</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B07-engellenenkisiler.svg" alt="">
                <span><a href="">Engelliler Listem</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B08-kampanyalar.svg" alt="">
                <span><a href="">Kampanyalar</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B09-musteritemsilcisi.svg" alt="">
                <span><a href="">Müşteri Temsilcisi</a></span>
            </div>
            <div class="icon">
                <img src="../assets/image/B10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
            <div class="mt-5 mb-3 social-icon">
                <a href="https://instagram.com/ortakevim">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/ortakevim">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://youtube.com/ortakevim">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://linkedin.com/company/ortakevim">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="back">
</div>

<div class="container account-page favorite-contacts blocked">
    <div class="row">
        <div class="col-12 btn-holder">
            <div class="d-flex justify-content-between">
                <a href="" class="my-account">Hesabım</a>
                <div class="contact-rule">
                    <a href="">GÖRÜŞME HAKKI <br> SATIN ALIN</a>
                </div>
                <div class="contact-rule success d-none">
                    <a href=""><p>10</p> GÖRÜŞME <br> HAKKINIZ VAR</a>
                </div>
            </div>
        </div>
        <div class="col-2 menu">
            <div>
                <img src="../assets/image/01-hesapbilgilerim.svg" alt="">
                <span><a href="account.html">Hesap Bilgilerim</a></span>
            </div>
            <div>
                <img src="../assets/image/02-kisikartim.svg" alt="">
                <span><a href="personal_card.html">Kişi Kartım</a></span>
            </div>
            <div>
                <img src="../assets/image/03-mesajlarim.svg" alt="">
                <span><a href="messages.html">Mesajlarım</a></span>
            </div>
            <div>
                <img src="../assets/image/04-paketlervetarifeler.svg" alt="">
                <span><a href="packages.html">Paket ve Tarifeler</a></span>
            </div>
            <div>
                <img src="../assets/image/05-sepetim.svg" alt="">
                <span><a href="card.html">Sepetim</a></span>
            </div>
            <div>
                <img src="../assets/image/06-favorikisilerim.svg" alt="">
                <span><a href="favorite_contacts.html">Favori Kişilerim</a></span>
            </div>
            <div>
                <img src="../assets/image/07-engellenenkisiler.svg" alt="">
                <span><a href="blocked_list.html">Engelliler Listem</a></span>
            </div>
            <div>
                <img src="../assets/image/08-kampanyalar.svg" alt="">
                <span><a href="campaigns.html">Kampanyalar</a></span>
            </div>
            <div>
                <img src="../assets/image/09-musteritemsilcisi.svg" alt="">
                <span><a href="customer_representative.html">Müşteri Temsilcisi</a></span>
            </div>
            <div>
                <img src="../assets/image/10-cikisyap.svg" alt="">
                <span><a href="">Çıkış</a></span>
            </div>
        </div>
        <div class="col-lg-10 mb-245">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="head">
                            <p class="col-title text-center text-lg-start">
                                Engelliler Listem
                            </p>
                        </div>
                        <div class="col-12 mx-auto">
                            <div class="row g-2">
                                <div class="favorite-wrap">
                                    <div class="col-left">
                                        <img data-bs-toggle="modal" data-bs-target="#detail" src="../assets/image/kisi_resmi.png" alt="">
                                        <p>SEZEN G*****</p>
                                    </div>
                                    <div class="col-right">
                                        <a class="link" href="">Engeli Kaldır</a>
                                        <a class="person see big-screen" href="">
                                            <img src="../assets/image/kisikarti-beyaz.svg" class="img-fluid" alt="">
                                        </a>
                                        <a class="person delete" href="">
                                            <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="favorite-wrap">
                                    <div class="col-left">
                                        <img data-bs-toggle="modal" data-bs-target="#detail" src="../assets/image/kisi_resmi.png" alt="">
                                        <p>SEZEN G*****</p>
                                    </div>
                                    <div class="col-right">
                                        <a class="link" href="">Engeli Kaldır</a>
                                        <a class="person see big-screen" href="">
                                            <img src="../assets/image/kisikarti-beyaz.svg" class="img-fluid" alt="">
                                        </a>
                                        <a class="person delete" href="">
                                            <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="favorite-wrap">
                                    <div class="col-left">
                                        <img data-bs-toggle="modal" data-bs-target="#detail" src="../assets/image/kisi_resmi.png" alt="">
                                        <p>SEZEN G*****</p>
                                    </div>
                                    <div class="col-right">
                                        <a class="link" href="">Engeli Kaldır</a>
                                        <a class="person see big-screen" href="">
                                            <img src="../assets/image/kisikarti-beyaz.svg" class="img-fluid" alt="">
                                        </a>
                                        <a class="person delete" href="">
                                            <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="favorite-wrap">
                                    <div class="col-left">
                                        <img data-bs-toggle="modal" data-bs-target="#detail" src="../assets/image/kisi_resmi.png" alt="">
                                        <p>SEZEN G*****</p>
                                    </div>
                                    <div class="col-right">
                                        <a class="link" href="">Engeli Kaldır</a>
                                        <a class="person see big-screen" href="">
                                            <img src="../assets/image/kisikarti-beyaz.svg" class="img-fluid" alt="">
                                        </a>
                                        <a class="person delete" href="">
                                            <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="favorite-wrap">
                                    <div class="col-left">
                                        <img data-bs-toggle="modal" data-bs-target="#detail" src="../assets/image/kisi_resmi.png" alt="">
                                        <p>SEZEN G*****</p>
                                    </div>
                                    <div class="col-right">
                                        <a class="link" href="">Engeli Kaldır</a>
                                        <a class="person see big-screen" href="">
                                            <img src="../assets/image/kisikarti-beyaz.svg" class="img-fluid" alt="">
                                        </a>
                                        <a class="person delete" href="">
                                            <img src="../assets/image/copkutusu.svg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer big-screen">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <a href="../about_us.html">Hakkımızda</a>
                </li>
                <li>
                    <a href="../advertisement.html">Reklam</a>
                </li>
                <li>
                    <a href="../terms_of_service.html">Hizmet Koşulları</a>
                </li>
                <li>
                    <a href="../privacy_policy.html">Gizlilik Politikası</a>
                </li>
                <li>
                    <a href="../blog.html">Blog</a>
                </li>
                <li>
                    <a href="../carrier.html">Kariyer</a>
                </li>
                <li>
                    <a href="../contact.html">İletişim</a>
                </li>
            </ul>
        </div>
        <div class="col-12 copyright text-center lower-screen">
            <i class="fa-regular fa-copyright"></i> 2023 Ortak Evim
        </div>
    </div>
</div>
<div class="mobile-footer">
    <div class="icon-wrap">
        <a href=""><img src="../assets/image/B03-mesajlarim.svg" alt=""></a>
        <a href=""> <img src="../assets/image/B05-sepetim.svg" alt=""></a>
        <a href=""><img class="third" src="../assets/image/B04-paketlervetarifeler.svg" alt=""></a>
    </div>
</div>

<!--Kişiyi Gör-->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby=""
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="display-card">
                <div class="bg-light-gray">
                    <div class="favorite">
                        <div>
                            <div class="img"></div>
                            <p>
                                Favoriye
                                Ekle
                            </p>
                        </div>
                    </div>
                    <div class="person">
                        <div class="person-wrap">
                            <img src="assets/image/kisi1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="name">
                        <p>3+1 AİLE APARTMANI</p>
                    </div>
                    <div class="text">
                        <div class="row">
                            <div class="col-6 col-sm-5">
                                <p class="text-thin">
                                    İl
                                </p>
                            </div>
                            <div class="col-6 col-sm-7">
                                <p class="text-bold">
                                    İstanbul
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-5">
                                <p class="text-thin">
                                    İlçe
                                </p>
                            </div>
                            <div class="col-6 col-sm-7">
                                <p class="text-bold">
                                    Beyoğlu
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    İlan Tarihi
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    11/11/2022
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Cinsiyet
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Erkek
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-45">
                                <p class="text-thin">
                                    Yaş
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    33
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Durumu
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Çalışıyor
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Aranan Durum
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Öğrenci Çalışan
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Aranan Cinsiyet
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Farketmez
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Sigara
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Hayır
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Alkol
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Hayır
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Kendi Evi
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Var
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5">
                                <p class="text-thin">
                                    Kira Aralığı
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    3.000Tl - 6.000Tl
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-5 pe-0">
                                <p class="text-thin">
                                    Süreli Konaklama
                                </p>
                            </div>
                            <div class="col-7 col-sm-7">
                                <p class="text-bold">
                                    Kabul ediyor
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="description">
                                Ankara’da yaşıyorum fakat üniversite sebebiyle İstanbul’da kendime
                                ev arkadaşı arıyorum. Evde 3 kişi yaşayabiliriz.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="btn-smt">
                    <a class="contact" href="">Bağlantı Kur</a>
                    <a class="block" data-bs-toggle="modal" data-bs-target="#blocked">Engelle</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="../assets/js/main.js"></script>

<script>

</script>
</body>
</html>