.footer {
  /* position: fixed;*/
  bottom: 0;
  left: 0;
  margin-top: 20px;
  background-color: #6478fd;
  padding: 13px 13px 11px;
  font-size: 12px;

  ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 540px;
    margin: auto;
    padding-left: 0;
    flex-wrap: wrap;

    li {
      list-style-type: none;
      padding: 0 10px;

      a {
        text-decoration: none;
        color: #fff;
        opacity: 0.8;
        font-family: "Panton Semi Bold";
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
.mobile-footer{
  display: none;
  position: fixed;
  background-color: #6478fd;
  width: 100%;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  padding: 18px 0 ;
  bottom: 0;
  left: 0;
  .icon-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img{
        width: 28px;
        height: 28px;
      object-fit:cover;
      &.third{
        width: 25px;
        height: 25px;
        margin-top: 2px;
      }
    }
  }
}
@media  screen and (max-width: 576px) {
  .copyright {
    font-family: "Panton Semi Bold";
    font-size: 12px;
    color: #7f7f7f;
    opacity: 0.8;

    i {
      font-size: 11px;
    }
  }
  .footer {
    background-color: #fff;
    margin-top: 0;
    ul {
      max-width: 256px;
      li {
        padding: 0;
        a {
          color: #7f7f7f;
        }
      }
    }


  }
  .mobile-footer{
    display: block;
  }
}
