
@font-face {
  font-family: "Panton ExtraBold Italic";
  src: url("../fonts/panton/Fontfabric - Panton ExtraBold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Panton SemiBold Italic";
  src: url("../fonts/panton/Fontfabric - Panton SemiBold Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/panton/Fontfabric - Panton.otf");
  font-style: normal;
}

@font-face {
  font-family: "Panton Extra Bold";
  src: url("../fonts/panton/Fontfabric - Panton ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Panton Semi Bold";
  src: url("../fonts/panton/Fontfabric - Panton SemiBold.otf");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Panton;
}

select.form-select {
  background-image: url("../image/arrow-down-sign-to-navigate.png");
  background-size: 10px 10px;
  background-position: right 21px center;
  font-family: "Panton Semi Bold";
}

.bg-purple {
  background-color: #6478fd !important;

  &:hover {
    background-color: #7288ff !important;
  }
}
.home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}
.bg-gray {
  background-color: #3f3f3f !important;

  &:hover {
    color: #fff !important;
  }
}

.br-37 {
  border-radius: 31px !important;
}
.back{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  transition: 0.5s ease-in;
  &.active{
    opacity: 0.5;
    top: 0;
  }
}
.hr-home {
  height: 2px;
  background: linear-gradient(37deg, rgba(252, 252, 252, 0) 0%, rgba(255, 255, 255, 0.9303318739605217) 16%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 0.9303318739605217) 84%, rgba(255, 255, 255, 0) 98%);
  margin-top: 9px;
  margin-bottom: 13px;

  &.mt {
    margin-top: 35px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-245{
  margin-bottom: 175px;
}
.mt-14 {

}

.header {
  .search {
    a {
      color: #000;
    }
  }

  .logo-wrap {
    width: 50px;
    display: inline-block;
    float: left;

    &.user-login {
      img {
        margin-left: -12px;
      }
    }

    img {
      width: 45px;
    }
  }

  .button-wrap {
    display: flex;

    select.form-select {
      width: auto;
      margin: 0 4px 0px 3px;
    }

    .turn-back {
      margin-left: 3px;
      background-color: #fff;
      color: #999999;
      border: 1px solid #999999;
      &:hover{
        color: #c6c6c6;
        border: 1px solid #c6c6c6;
      }
    }
  }

  .head-right {
    display: flex;
    justify-content: end;
    align-items: center;

    .favorite {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d12e26;
      margin-right: 8px;

      &:hover {
        background-color: #e1342b;
      }

      img {
        max-width: 50%;
      }
    }

    .cart {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #939393;
      margin-right: 8px;

      &:hover {
        background-color: #a4a4a4;
      }

      img {
        max-width: 62%;
      }
    }

    .top-person {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .dropdown{
      a.dropdown-toggle{
        padding: 10px 38px 11px 23px;
        background-color: #6478fd;
        border-radius: 20px;
        font-size: 12px;
        color: #fff;
        border: none;
        font-family: "Panton Semi Bold";
        width: auto;
        height: auto;
        background-image: url("../image/down.png");
        background-size: 14px;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: center;
        &:hover {
          background-color: #7288ff;
        }
        &:focus{
          box-shadow: none;
        }
      }
      .dropdown-toggle::after{
        display: none;
      }
      ul.dropdown-menu{
        right: 0 !important;
        top: 45px !important;
        transform: none !important;
        padding: 17px;
        min-width: 247px;
        background-color: #6478fd;
        border-radius: 25px;
        transition: all 0.3s ease-in;
        border: none;

        .dropdown-item{
          padding: 2px 0;
          color: rgb(255,255,255, 1);
          font-family: "Panton Semi Bold";
          font-size: 12px;
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          &:hover{
            background: none;
            color: rgb(255,255,255, 0.8);
          }
          span{
            position: relative;
            /*&:after{
              content: "";
              position: absolute;
              left: 0;
              bottom: -4px;
              height: 1px;
              width: 167px;
              background-color: rgb(255,255,255, 0.7);
            }*/
            &.border-0{
              &:after{
                background-color: rgb(255,255,255, 0);
              }
            }
          }

          img{
            width: 20px;
            margin-right: 5px;
          }
        }
        .social-icon{
          margin-left: 3px;
          i{
            font-size: 15px;
            color: rgb(255,255,255, 0.8);
          }
        }
      }
    }


    .general-btn {
      margin-top: 0;
    }
  }
}

.multi-range {
  margin-left: 22px;
  margin-right: 22px;
  position: relative;
  .mobile-value{
    opacity: 0;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 1px;
    left: 26px;
    font-family: "Panton Semi Bold";
  }

  .slider-div {
    width: 100%;
    height: 15.3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    margin-top: 6px;

    .slider-wrapper {
      width: 92%;
      display: inline-block;
      position: relative;
      /*top: 3.3px;*/
    }

    .ui-slider {
      background: #fff;
      height: 10.78px;
      position: relative;
      border-radius: 37px;
      /*&:hover{
        .range-wrapper.top{
          opacity: 1;
        }
      }*/

    }

    .ui-slider-range {
      background: #ffd54a;
      height: 10.78px;
      position: absolute;
      top: 0.9px;
      /*border-top: 1px solid #ffd54a;
      border-bottom: 1px solid #ffd54a;*/
      transform: translateY(-1px);

    }

    .ui-slider-handle {
      background-color: #ffd54a;
      position: absolute;
      width: 10.78px;
      height: 10.78px;
      top: 49%;
      display: block;
      transform: translate(-50%, -50%);
      border-radius: 100px;
      z-index: 10;
      /*background: linear-gradient(#555, #454545);*/
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      /*box-shadow: inset -2px -2px 6px 2px rgba(0,0,0, 0.1);*/
      transition: width 0.1s;

      &:focus {
        outline: none;
      }

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        background-color: #6478fd;
      }
    }

    .ui-state-active {
      width: 12px;
    }


    // Range Indicator

    .range-wrapper {
      position: absolute;
      top: 16px;
      transform: translateX(-50%);
    }


    .range-wrapper.one {
      left: 0%;
    }

    .range-wrapper.two {
      left: 100%;
    }

    .range {
      border-radius: 2px;
      font-size: 13px;
      letter-spacing: 0.02em;
      color: #fff;
      z-index: 10;
      position: relative;

    }

    .range-value {
      font-family: "Panton Semi Bold";
      text-align: center;
      display: inline-block;
      transition: background 0.1s;
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      /* margin-top: 3px;*/

      &:after {
        position: absolute;
        content: "\f0de";
        font-family: FontAwesome;
        left: -1px;
        border-radius: 16px;
        top: -5px;
        width: 14px;
        font-size: 12px;
        height: 15px;
      }
    }
  }
}

button.general-btn:focus {
  box-shadow: none;
  outline: none;
}

select.form-select:focus {
  box-shadow: none;
  outline: none;
}

input.form-control:focus {
  box-shadow: none;
  outline: none;
}
.mobile-menu {
  align-items: center;
  justify-content: space-between;

  .login {
    img {
      width: 22px;
    }
  }

  .hmbr {
    img {
      width: 22px;

    }
  }

  .search {
    img {
      width: 22px;
    }
  }

}

.mobile_col_menu {
  transform: translateY(100%);
  overflow: scroll;
  transition: 0.5s ease-in;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100vh - 70px);
  height: -moz-calc(100vh - 70px);
  height: -webkit-calc(100vh - 70px);
  background-color: #6478fd;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  padding: 35px;
  z-index: 99;

  &.active {
    transform: translateY(0);
  }

  p.name {
    margin-top: 7px;
    font-family: "Panton Extra Bold";
    color: #fff;
    font-size: 15px;
  }

  .close {
    img {
      width: 15px;
    }
  }

  .profile-img {
    width: 117px;
    height: 118px;
    border-right: 50%;
    margin: auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .icon {
    display: flex;
    margin-bottom: 20px;

    img {
      width: 25px;
      margin-right: 4px;
    }

    span {
      /*border-bottom: 1px solid #fff;*/
      width: 100%;
      font-size: 13px;
      font-family: "Panton Semi Bold";
      position: relative;

     /* &:after {
        content: "";
        position: absolute;
        width: 91%;
        height: 0.1px;
        background-color: #fff;
        bottom: -5px;
        left: 0;
      }*/

      a {
        color: #fff
      }
    }

    &:nth-child(11) {
      span:after {
        height: 0;
      }
    }
  }

  .social-icon {
    display: flex;
    margin-left: 6px;

    a {
      font-size: 19px;
      color: #fff;
      margin-right: 18px;
    }
  }
}

#order {
  margin-left: 4px;

  button {
    color: #565656;
    font-size: 13px;
    border: 1px solid #565656;
    background-color: #fff;
    padding: 7px 38px 8px 38px;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position: right 16px center;
    background-size: 10px;
    background-repeat: no-repeat;
    &:hover{
      color: #b5b5b5;
      border: 1px solid #b5b5b5;
    }

    &.active {
      box-shadow: 1px 1px 12px rgb(0 0 0 / 7%) !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: none;
      &:hover{
        color: #565656;
        border: none;
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:after {
      background-image: url("");
    }
  }

  .accordion-item {
    position: relative;
    border: none;

    #collapseOne {
      top: 35px;
      position: absolute;
      z-index: 99;
      background-color: #fff;
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: rgb(0 0 0 / 6%) 1px 8px 12px !important;

      .accordion-body {
        padding: 0px 8px 8px !important;

        a {
          width: 100%;
          /*border-top: 1px solid #cdcdcd;*/
          font-size: 12px;
          color: #565656;
          padding: 9px 9px;
          display: inline-block;

          &:hover {
            background-color: #e7e7e7;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

.dropdown.filter-drop{
  z-index: 9999;
}
.dropdown {

  &.active {
    #filter {
      background-color: #fff;
      border: none;
      margin-bottom: -11px;
      &:hover{
        color: #565656;
        border: none;
      }
    }
  }

  #filter {
    color: #565656;
    font-size: 13px;
    background-position: right 16px center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    border: 1px solid #565656;
    padding: 7px 35px 8px 16px;
    background-size: 10px;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 0 4px;
    &:hover{
      color: #b5b5b5;
      border: 1px solid #b5b5b5;
    }
    &:focus {
      box-shadow: none;
    }

    &.dropdown-toggle:after {
      border: none;
    }
  }
}
@media screen and (max-width: 1399px){
  .mb-245{
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 992px) {
  .menu-big {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
.mb-245{
  margin-bottom: 0px;
}

.mt-20{
margin-top: -20px;
}
.big-screen {
display: none !important;
}
.header {
.header-wrap {
max-width: 444px;
}
}
}
@media screen and (max-width: 500px) {
.header {
.header-wrap {
max-width: 400px;
}
}
}
@media screen and (max-width: 400px) {
.header {
.header-wrap {
max-width: 382px;
}
}
}
@media screen and (min-width: 576px) {
.lower-screen {
display: none;
}
.header {
.header-wrap {
max-width: 436px;
}
}
}
@media screen and (min-width: 768px) {
.header {
.header-wrap {
max-width: 657px;
}
}
}
@media screen and (min-width: 992px) {
.header {
.header-wrap {
max-width: 872px;
}
}
.mobile-menu {
display: none;
}
}
@media screen and (min-width: 1200px) {
.header {
.header-wrap {
max-width: 1100px !important;
}
}
}
