.footer {
  /* position: fixed;*/
  bottom: 0;
  left: 0;
  margin-top: 20px;
  background-color: #6478fd;
  padding: 13px 13px 11px;
  font-size: 12px;
}
.footer ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 540px;
  margin: auto;
  padding-left: 0;
  flex-wrap: wrap;
}
.footer ul li {
  list-style-type: none;
  padding: 0 10px;
}
.footer ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-family: "Panton Semi Bold";
}
.footer ul li a:hover {
  opacity: 1;
}

.mobile-footer {
  display: none;
  position: fixed;
  background-color: #6478fd;
  width: 100%;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  padding: 18px 0;
  bottom: 0;
  left: 0;
}
.mobile-footer .icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-footer .icon-wrap img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.mobile-footer .icon-wrap img.third {
  width: 25px;
  height: 25px;
  margin-top: 2px;
}

@media screen and (max-width: 576px) {
  .copyright {
    font-family: "Panton Semi Bold";
    font-size: 12px;
    color: #7f7f7f;
    opacity: 0.8;
  }
  .copyright i {
    font-size: 11px;
  }

  .footer {
    background-color: #fff;
    margin-top: 0;
  }
  .footer ul {
    max-width: 256px;
  }
  .footer ul li {
    padding: 0;
  }
  .footer ul li a {
    color: #7f7f7f;
  }

  .mobile-footer {
    display: block;
  }
}
@font-face {
  font-family: "Panton ExtraBold Italic";
  src: url("../fonts/panton/Fontfabric - Panton ExtraBold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Panton SemiBold Italic";
  src: url("../fonts/panton/Fontfabric - Panton SemiBold Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Panton";
  src: url("../fonts/panton/Fontfabric - Panton.otf");
  font-style: normal;
}
@font-face {
  font-family: "Panton Extra Bold";
  src: url("../fonts/panton/Fontfabric - Panton ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Panton Semi Bold";
  src: url("../fonts/panton/Fontfabric - Panton SemiBold.otf");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Panton;
}

select.form-select {
  background-image: url("../image/arrow-down-sign-to-navigate.png");
  background-size: 10px 10px;
  background-position: right 21px center;
  font-family: "Panton Semi Bold";
}

.bg-purple {
  background-color: #6478fd !important;
}
.bg-purple:hover {
  background-color: #7288ff !important;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bg-gray {
  background-color: #3f3f3f !important;
}
.bg-gray:hover {
  color: #fff !important;
}

.br-37 {
  border-radius: 31px !important;
}

.back {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  transition: 0.5s ease-in;
}
.back.active {
  opacity: 0.5;
  top: 0;
}

.hr-home {
  height: 2px;
  background: linear-gradient(37deg, rgba(252, 252, 252, 0) 0%, rgba(255, 255, 255, 0.930331874) 16%, white 33%, white 67%, rgba(255, 255, 255, 0.930331874) 84%, rgba(255, 255, 255, 0) 98%);
  margin-top: 9px;
  margin-bottom: 13px;
}
.hr-home.mt {
  margin-top: 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-245 {
  margin-bottom: 175px;
}

.header .search a {
  color: #000;
}
.header .logo-wrap {
  width: 50px;
  display: inline-block;
  float: left;
}
.header .logo-wrap.user-login img {
  margin-left: -12px;
}
.header .logo-wrap img {
  width: 45px;
}
.header .button-wrap {
  display: flex;
}
.header .button-wrap select.form-select {
  width: auto;
  margin: 0 4px 0px 3px;
}
.header .button-wrap .turn-back {
  margin-left: 3px;
  background-color: #fff;
  color: #999999;
  border: 1px solid #999999;
}
.header .button-wrap .turn-back:hover {
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
}
.header .head-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .head-right .favorite {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d12e26;
  margin-right: 8px;
}
.header .head-right .favorite:hover {
  background-color: #e1342b;
}
.header .head-right .favorite img {
  max-width: 50%;
}
.header .head-right .cart {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #939393;
  margin-right: 8px;
}
.header .head-right .cart:hover {
  background-color: #a4a4a4;
}
.header .head-right .cart img {
  max-width: 62%;
}
.header .head-right .top-person {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.header .head-right .top-person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .head-right .dropdown a.dropdown-toggle {
  padding: 10px 38px 11px 23px;
  background-color: #6478fd;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  border: none;
  font-family: "Panton Semi Bold";
  width: auto;
  height: auto;
  background-image: url("../image/down.png");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}
.header .head-right .dropdown a.dropdown-toggle:hover {
  background-color: #7288ff;
}
.header .head-right .dropdown a.dropdown-toggle:focus {
  box-shadow: none;
}
.header .head-right .dropdown .dropdown-toggle::after {
  display: none;
}
.header .head-right .dropdown ul.dropdown-menu {
  right: 0 !important;
  top: 45px !important;
  transform: none !important;
  padding: 17px;
  min-width: 247px;
  background-color: #6478fd;
  border-radius: 25px;
  transition: all 0.3s ease-in;
  border: none;
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item {
  padding: 2px 0;
  color: white;
  font-family: "Panton Semi Bold";
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item:hover {
  background: none;
  color: rgba(255, 255, 255, 0.8);
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item span {
  position: relative;
  /*&:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px;
    width: 167px;
    background-color: rgb(255,255,255, 0.7);
  }*/
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item span.border-0:after {
  background-color: rgba(255, 255, 255, 0);
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item img {
  width: 20px;
  margin-right: 5px;
}
.header .head-right .dropdown ul.dropdown-menu .social-icon {
  margin-left: 3px;
}
.header .head-right .dropdown ul.dropdown-menu .social-icon i {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.header .head-right .general-btn {
  margin-top: 0;
}

.multi-range {
  margin-left: 22px;
  margin-right: 22px;
  position: relative;
}
.multi-range .mobile-value {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: "Panton Semi Bold";
}
.multi-range .slider-div {
  width: 100%;
  height: 15.3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  margin-top: 6px;
}
.multi-range .slider-div .slider-wrapper {
  width: 92%;
  display: inline-block;
  position: relative;
  /*top: 3.3px;*/
}
.multi-range .slider-div .ui-slider {
  background: #fff;
  height: 10.78px;
  position: relative;
  border-radius: 37px;
  /*&:hover{
    .range-wrapper.top{
      opacity: 1;
    }
  }*/
}
.multi-range .slider-div .ui-slider-range {
  background: #ffd54a;
  height: 10.78px;
  position: absolute;
  top: 0.9px;
  /*border-top: 1px solid #ffd54a;
  border-bottom: 1px solid #ffd54a;*/
  transform: translateY(-1px);
}
.multi-range .slider-div .ui-slider-handle {
  background-color: #ffd54a;
  position: absolute;
  width: 10.78px;
  height: 10.78px;
  top: 49%;
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  z-index: 10;
  /*background: linear-gradient(#555, #454545);*/
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /*box-shadow: inset -2px -2px 6px 2px rgba(0,0,0, 0.1);*/
  transition: width 0.1s;
}
.multi-range .slider-div .ui-slider-handle:focus {
  outline: none;
}
.multi-range .slider-div .ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background-color: #6478fd;
}
.multi-range .slider-div .ui-state-active {
  width: 12px;
}
.multi-range .slider-div .range-wrapper {
  position: absolute;
  top: 16px;
  transform: translateX(-50%);
}
.multi-range .slider-div .range-wrapper.one {
  left: 0%;
}
.multi-range .slider-div .range-wrapper.two {
  left: 100%;
}
.multi-range .slider-div .range {
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #fff;
  z-index: 10;
  position: relative;
}
.multi-range .slider-div .range-value {
  font-family: "Panton Semi Bold";
  text-align: center;
  display: inline-block;
  transition: background 0.1s;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  /* margin-top: 3px;*/
}
.multi-range .slider-div .range-value:after {
  position: absolute;
  content: "\f0de";
  font-family: FontAwesome;
  left: -1px;
  border-radius: 16px;
  top: -5px;
  width: 14px;
  font-size: 12px;
  height: 15px;
}

button.general-btn:focus {
  box-shadow: none;
  outline: none;
}

select.form-select:focus {
  box-shadow: none;
  outline: none;
}

input.form-control:focus {
  box-shadow: none;
  outline: none;
}

.mobile-menu {
  align-items: center;
  justify-content: space-between;
}
.mobile-menu .login img {
  width: 22px;
}
.mobile-menu .hmbr img {
  width: 22px;
}
.mobile-menu .search img {
  width: 22px;
}

.mobile_col_menu {
  transform: translateY(100%);
  overflow: scroll;
  transition: 0.5s ease-in;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100vh - 70px);
  height: -moz-calc(100vh - 70px);
  height: -webkit-calc(100vh - 70px);
  background-color: #6478fd;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  padding: 35px;
  z-index: 99;
}
.mobile_col_menu.active {
  transform: translateY(0);
}
.mobile_col_menu p.name {
  margin-top: 7px;
  font-family: "Panton Extra Bold";
  color: #fff;
  font-size: 15px;
}
.mobile_col_menu .close img {
  width: 15px;
}
.mobile_col_menu .profile-img {
  width: 117px;
  height: 118px;
  border-right: 50%;
  margin: auto;
}
.mobile_col_menu .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mobile_col_menu .icon {
  display: flex;
  margin-bottom: 20px;
}
.mobile_col_menu .icon img {
  width: 25px;
  margin-right: 4px;
}
.mobile_col_menu .icon span {
  /*border-bottom: 1px solid #fff;*/
  width: 100%;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  position: relative;
  /* &:after {
     content: "";
     position: absolute;
     width: 91%;
     height: 0.1px;
     background-color: #fff;
     bottom: -5px;
     left: 0;
   }*/
}
.mobile_col_menu .icon span a {
  color: #fff;
}
.mobile_col_menu .icon:nth-child(11) span:after {
  height: 0;
}
.mobile_col_menu .social-icon {
  display: flex;
  margin-left: 6px;
}
.mobile_col_menu .social-icon a {
  font-size: 19px;
  color: #fff;
  margin-right: 18px;
}

#order {
  margin-left: 4px;
}
#order button {
  color: #565656;
  font-size: 13px;
  border: 1px solid #565656;
  background-color: #fff;
  padding: 7px 38px 8px 38px;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 16px center;
  background-size: 10px;
  background-repeat: no-repeat;
}
#order button:hover {
  color: #b5b5b5;
  border: 1px solid #b5b5b5;
}
#order button.active {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.07) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}
#order button.active:hover {
  color: #565656;
  border: none;
}
#order button:focus {
  box-shadow: none;
}
#order button:after {
  background-image: url("");
}
#order .accordion-item {
  position: relative;
  border: none;
}
#order .accordion-item #collapseOne {
  top: 35px;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 1px 8px 12px !important;
}
#order .accordion-item #collapseOne .accordion-body {
  padding: 0px 8px 8px !important;
}
#order .accordion-item #collapseOne .accordion-body a {
  width: 100%;
  /*border-top: 1px solid #cdcdcd;*/
  font-size: 12px;
  color: #565656;
  padding: 9px 9px;
  display: inline-block;
}
#order .accordion-item #collapseOne .accordion-body a:hover {
  background-color: #e7e7e7;
  border-radius: 20px;
}

.dropdown.filter-drop {
  z-index: 9999;
}

.dropdown.active #filter {
  background-color: #fff;
  border: none;
  margin-bottom: -11px;
}
.dropdown.active #filter:hover {
  color: #565656;
  border: none;
}
.dropdown #filter {
  color: #565656;
  font-size: 13px;
  background-position: right 16px center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  border: 1px solid #565656;
  padding: 7px 35px 8px 16px;
  background-size: 10px;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 0 4px;
}
.dropdown #filter:hover {
  color: #b5b5b5;
  border: 1px solid #b5b5b5;
}
.dropdown #filter:focus {
  box-shadow: none;
}
.dropdown #filter.dropdown-toggle:after {
  border: none;
}

@media screen and (max-width: 1399px) {
  .mb-245 {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 992px) {
  .menu-big {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .mb-245 {
    margin-bottom: 0px;
  }

  .mt-20 {
    margin-top: -20px;
  }

  .big-screen {
    display: none !important;
  }

  .header .header-wrap {
    max-width: 444px;
  }
}
@media screen and (max-width: 500px) {
  .header .header-wrap {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .header .header-wrap {
    max-width: 382px;
  }
}
@media screen and (min-width: 576px) {
  .lower-screen {
    display: none;
  }

  .header .header-wrap {
    max-width: 436px;
  }
}
@media screen and (min-width: 768px) {
  .header .header-wrap {
    max-width: 657px;
  }
}
@media screen and (min-width: 992px) {
  .header .header-wrap {
    max-width: 872px;
  }

  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-wrap {
    max-width: 1100px !important;
  }
}
.br-1 {
  border-right: 1px solid #b2b2b2;
}

.my-account {
  padding: 10px 34px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  position: relative;
  margin-bottom: 19px;
}
.my-account:hover {
  color: #fff;
}
.my-account:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 38px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

select.form-select {
  color: #565656;
  font-size: 13px;
  background-position: right 16px center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  border: 1px solid #565656;
  padding: 7px 35px 8px 16px;
}

#detail {
  background-color: rgba(100, 120, 253, 0.7);
  z-index: 99999;
}
#detail .modal-dialog {
  margin-top: 75px;
}
#detail .modal-dialog .modal-content {
  margin: 0 auto;
  border-radius: 31px;
  width: 350px;
}
#detail .modal-dialog .modal-content .btn-close {
  position: absolute;
  top: -27px;
  background-color: #fff;
  opacity: 1;
  border-radius: 50%;
  font-size: 10px;
  padding: 9px;
  right: -28px;
}
#detail .modal-dialog .modal-content .display-card {
  padding: 14px 26px 26px;
  color: #000;
}
#detail .modal-dialog .modal-content .display-card .favorite > div {
  max-width: 54px;
  margin-left: auto;
}
#detail .modal-dialog .modal-content .display-card .favorite > div .img {
  background-image: url("../image/kalpicibos.svg");
  width: 25px;
  height: 23px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#detail .modal-dialog .modal-content .display-card .favorite > div .img:hover {
  background-image: url("../image/kalpkirmizi.svg");
}
#detail .modal-dialog .modal-content .display-card .favorite > div p {
  text-align: center;
  font-family: "Panton SemiBold Italic";
  font-style: italic;
  font-size: 10px;
  line-height: 13px;
}
#detail .modal-dialog .modal-content .display-card .person .person-wrap {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  margin: auto;
}
#detail .modal-dialog .modal-content .display-card .person .person-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#detail .modal-dialog .modal-content .display-card .name p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Panton Extra Bold;
  margin-top: 9px;
}
#detail .modal-dialog .modal-content .display-card .text {
  padding-bottom: 12px;
  border-bottom: 1px solid #c4c4c4;
}
#detail .modal-dialog .modal-content .display-card .text p {
  font-size: 13px;
  margin-bottom: 2px;
}
#detail .modal-dialog .modal-content .display-card .text p.text-bold {
  font-weight: bold;
  font-family: "Panton Extra Bold";
}
#detail .modal-dialog .modal-content .display-card .description {
  margin-top: 18px;
  font-size: 13px;
}
#detail .modal-dialog .modal-content .display-card .contact, #detail .modal-dialog .modal-content .display-card .block {
  display: block;
  padding: 8px;
  text-align: center;
  border-radius: 31px;
  color: #fff;
  font-size: 15px;
  font-family: "Panton Extra Bold";
  margin-top: 8px;
}
#detail .modal-dialog .modal-content .display-card .contact {
  background-color: #6cbe5d;
}
#detail .modal-dialog .modal-content .display-card .contact:hover {
  background-color: #6dc95b;
}
#detail .modal-dialog .modal-content .display-card .block {
  background-color: #d12e26;
}
#detail .modal-dialog .modal-content .display-card .block:hover {
  background-color: #e1342b;
}

#blocked {
  background-color: rgba(100, 120, 253, 0.7);
  z-index: 99999;
}
#blocked .modal-dialog {
  max-width: 650px;
}
#blocked .modal-dialog .modal-content {
  border-radius: 35px;
}
#blocked .modal-dialog .modal-content .btn-close {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #fff;
  opacity: 1;
  color: #000;
  font-size: 10px;
  padding: 7px;
  border-radius: 50%;
}
#blocked .modal-dialog .modal-content .modal-body {
  padding: 36px;
}
#blocked .modal-dialog .modal-content .modal-body .text-center span {
  background-color: #d12e26;
  color: #fff;
  font-size: 16px;
  font-family: Panton Extra Bold;
  padding: 8px 15px;
  border-radius: 25px;
  position: relative;
}
#blocked .modal-dialog .modal-content .modal-body .text-center span:after {
  content: "";
  position: absolute;
  border-top: #d12e26;
  border-right: transparent;
  border-left: transparent;
  border: 40px;
  bottom: -11px;
  left: 48%;
  border-top: 11px solid #d12e26;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
#blocked .modal-dialog .modal-content .modal-body .profil {
  margin: 28px 0 7px;
}
#blocked .modal-dialog .modal-content .modal-body .profil > div {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: auto;
}
#blocked .modal-dialog .modal-content .modal-body .profil > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#blocked .modal-dialog .modal-content .modal-body .name {
  font-size: 14px;
  font-family: "Panton Extra Bold";
}
#blocked .modal-dialog .modal-content .modal-body .message-wrap {
  border: 1px solid #c5c5c5;
  border-radius: 31px;
  height: 190px;
}

#closeAccount {
  background-color: rgba(100, 120, 253, 0.7);
}
#closeAccount .modal-content {
  width: 245px;
  padding: 17px;
  border: none;
  border-radius: 20px;
}
#closeAccount .modal-content h3 {
  font-size: 15px;
  color: #000;
  font-family: "Panton Extra Bold";
  text-align: center;
}
#closeAccount .modal-content p {
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 16px;
}
#closeAccount .modal-content a.general-btn {
  margin: 0;
  background-color: #939393;
}
#closeAccount .modal-content a.general-btn:hover {
  background-color: #6478fd;
}
#closeAccount .modal-content button.general-btn {
  margin: 8px 0 0;
}

#infoOneModal, #infoTwoModal {
  background-color: rgba(100, 120, 253, 0.7);
}
#infoOneModal .modal-dialog, #infoTwoModal .modal-dialog {
  justify-content: center;
}
#infoOneModal .modal-dialog button, #infoTwoModal .modal-dialog button {
  position: absolute;
  font-size: 12px;
  background-color: #3f3f3f;
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 50%;
  top: -8px;
  right: -9px;
  background-image: url("../image/carpi_iconu.png");
}
#infoOneModal .modal-dialog .modal-content, #infoTwoModal .modal-dialog .modal-content {
  width: 310px;
  background-color: #3f3f3f;
  color: #fff;
  padding: 15px;
  font-size: 13px;
  border-radius: 20px;
  line-height: 17px;
}
#infoOneModal .modal-dialog .modal-content b, #infoTwoModal .modal-dialog .modal-content b {
  font-family: "Panton Extra Bold";
  margin-bottom: -10px;
}
#infoOneModal .modal-dialog .modal-content b.stay, #infoTwoModal .modal-dialog .modal-content b.stay {
  margin-bottom: 10px;
}

#filterModal {
  background-color: rgba(100, 120, 253, 0.7);
}
#filterModal .modal-content {
  border: none;
}

.filter {
  display: block;
  top: 34px;
  width: 334px;
  border-radius: 20px;
  padding: 25px;
  border: none;
}
.filter .detail {
  padding: 6px 16px 5px;
  background-color: #6478fd;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 12px;
}
.filter .detail .circle {
  background-color: #fff;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  float: right;
  margin-right: -11px;
  margin-top: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter .select-box select.form-select {
  color: #565656;
  font-size: 13px;
  background-position: right 16px center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  border: 1px solid #565656;
  padding: 7px 35px 8px 16px;
  width: 100%;
  margin: 0 0 8px 0;
}
.filter .check h3 {
  font-size: 14px;
  font-family: "Panton Extra Bold";
  margin-top: 12px;
  margin-bottom: 0px;
  position: relative;
}
.filter .check h3 img[data-tool=rent]:hover + #rent {
  display: inline-block;
}
.filter .check h3 img[data-tool=accommodation]:hover + #accommodation {
  display: inline-block;
}
.filter .check .tooltips {
  position: absolute;
  left: 107px;
  top: -75px;
  font-size: 12px;
  width: 301px;
  background-color: #3f3f3f;
  color: #fff;
  padding: 14px 24px;
  border-radius: 20px;
  opacity: 0.95;
  display: none;
  font-family: "Panton";
}
.filter .check .tooltips b {
  font-size: 14px;
  padding-bottom: 5px;
  display: inline-block;
  font-family: "Panton Extra Bold";
}
.filter .check .tooltips#accommodation {
  left: 140px;
  top: -68px;
}
.filter .check .tooltips i {
  position: absolute;
  left: -9px;
  font-size: 29px;
  top: 42%;
  color: #3f3f3f;
}
.filter .check .gender .form-check:nth-child(2) {
  margin-left: 24px;
}
.filter .check .gender .form-check:nth-child(3) {
  margin-left: 35px;
}
.filter .check .status .form-check:nth-child(2) {
  margin-left: 12px;
}
.filter .check .status .form-check:nth-child(3) {
  margin-left: 27px;
}
.filter .check .smoking .form-check:nth-child(2) {
  margin-left: 30px;
}
.filter .check .smoking .form-check:nth-child(3) {
  margin-left: 38px;
}
.filter .check .drinking .form-check:nth-child(2) {
  margin-left: 30px;
}
.filter .check .drinking .form-check:nth-child(3) {
  margin-left: 38px;
}
.filter .check .own-home .form-check:nth-child(2) {
  margin-left: 36px;
}
.filter .check .timing .form-check:nth-child(2) {
  margin-left: 30px;
}
.filter .check .timing .form-check:nth-child(3) {
  margin-left: 38px;
}
.filter .check .form-check {
  margin-right: 25px;
}
.filter .check .form-check label {
  margin-left: -9px;
  font-size: 13px;
  font-family: "Panton Semi Bold";
}
.filter .check .form-check-input[type=radio] {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #777777;
  margin-top: 7px;
  width: 11px;
  height: 11px;
}
.filter .check .form-check-input[type=radio]:checked {
  background-color: #6cbe5d;
  /*background-image: none;*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.filter .hr {
  height: 1px;
  background: linear-gradient(37deg, rgba(205, 205, 205, 0) 0%, rgba(205, 205, 205, 0.930331874) 16%, rgba(205, 205, 205, 0.930331874) 84%, rgba(205, 205, 205, 0) 98%);
  margin-top: 13px;
  margin-bottom: 13px;
}
.filter .multi-range {
  margin: 0px 0px 30px;
}
.filter .multi-range h3 {
  font-size: 14px;
  font-family: "Panton Extra Bold";
  margin-top: 12px;
  margin-bottom: 0;
}
.filter .multi-range .slider-div {
  background-color: #eeeeee;
}
.filter .multi-range .slider-div .slider-wrapper {
  width: 94%;
  background-color: #eeeeee;
}
.filter .multi-range .slider-div .slider-wrapper #slider-range {
  background-color: #eeeeee;
}
.filter .multi-range .slider-div .slider-wrapper #slider-range .ui-slider-range .range-value {
  color: #000;
}
.filter .price-range h3 {
  font-size: 14px;
  font-family: "Panton Extra Bold";
  margin-top: 12px;
  margin-bottom: 4px;
}
.filter .price-range input.form-control {
  color: #000000;
  border: 1px solid #939393;
  border-radius: 20px;
  font-size: 13px;
}
.filter .price-range input.form-control::placeholder {
  color: #939393;
}
.filter .price-range input.form-control:focus {
  border: 1px solid #cdcdcd;
}
.filter .price-range input.form-control:focus::placeholder {
  color: #cdcdcd;
}
.filter .btn-submit {
  margin-top: 22px;
  text-align: center;
}
.filter .btn-submit button {
  border-radius: 31px;
  background-color: #6478fd;
  border: none;
  padding: 11px 30px;
  color: #fff;
  font-size: 13px;
  font-family: "Panton Extra Bold";
}
.filter .btn-submit button:hover {
  background-color: #7288ff;
}

.general-btn {
  border-radius: 23px;
  padding: 7px 30px 8px;
  border: none;
  background-color: #6478fd;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 5px;
  color: white;
  font-size: 13px;
  text-decoration: none;
  /*height: 31px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-btn:hover {
  background-color: #7288ff;
  color: #fff;
}
.general-btn.login {
  font-family: "Panton Semi Bold";
  width: 108px;
  font-size: 12px;
  margin-left: 0;
  padding: 9px 30px 9px;
  margin-right: 0;
}

.boxes {
  margin-top: 10px;
  min-height: calc(100vh - 133px);
}
.boxes .col-sm-3 {
  width: 218px;
}
.boxes .text .col-4 {
  padding: 0;
}
.boxes .row {
  margin: 0;
}
.boxes .row .bg-light-gray {
  background-color: #eeeeee;
  border-radius: 25px;
  position: relative;
  padding: 30px 22px 0px;
  text-align: center;
  margin-bottom: 36px;
}
.boxes .row .bg-light-gray .ticket {
  position: absolute;
  left: 24px;
  top: 0;
}
.boxes .row .bg-light-gray .ticket img {
  height: 31px;
  width: 26px;
}
.boxes .row .bg-light-gray .person .person-wrap {
  width: 91px;
  height: 93px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /*outline: 2px solid #6cbe5d;*/
}
.boxes .row .bg-light-gray .person .person-wrap.br {
  border: 4px solid #6cbe5d;
}
.boxes .row .bg-light-gray .person .person-wrap img {
  height: 102%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.boxes .row .bg-light-gray .name {
  font-family: "Panton Extra Bold";
  font-size: 14px;
  margin-top: 6px;
}
.boxes .row .bg-light-gray .name p {
  margin-bottom: 6px;
}
.boxes .row .bg-light-gray .favorite {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 36px;
  height: 21px;
  text-align: center;
}
.boxes .row .bg-light-gray .favorite p {
  font-family: "Panton SemiBold Italic";
  font-size: 10px;
  line-height: 10px;
  margin-top: -2px;
  font-style: italic;
}
.boxes .row .bg-light-gray .favorite .img {
  background-image: url("../image/kalpicibos.svg");
  width: 23px;
  height: 23px;
  margin: 0 auto;
}
.boxes .row .bg-light-gray .favorite .img:hover {
  background-image: url("../image/kalpkirmizi.svg");
}
.boxes .row .bg-light-gray .text {
  margin-bottom: -26px;
}
.boxes .row .bg-light-gray .text .text-thin {
  font-size: 13px;
  text-align: start;
  margin-bottom: 1px;
  color: #000;
}
.boxes .row .bg-light-gray .text .text-bold {
  font-size: 13px;
  text-align: start;
  margin-bottom: 1px;
  font-weight: 900;
  font-family: "Panton Extra Bold";
  color: #000;
}
.boxes .row .bg-light-gray .person-link {
  position: relative;
  top: 14px;
  width: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 25px 7px;
  /*height: 31px;*/
  background-color: #6cbe5d;
  border-radius: 25px;
  text-decoration: none;
  margin: 20px auto 0;
  color: #fff;
  font-size: 13px;
  font-family: Panton Extra Bold;
}
.boxes .row .bg-light-gray .person-link:hover {
  background-color: #6dc95b;
}

.single-page {
  height: calc(100vh - 123px);
  color: #000;
}
.single-page .single-page-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.single-page .single-page-wrap img {
  max-width: 96px;
  margin-left: -35px;
}
.single-page .single-page-wrap p {
  font-family: "Panton Extra Bold";
  font-size: 22px;
  color: #6478fd;
  max-width: 240px;
  text-align: center;
  margin-top: 15px;
  line-height: 24px;
}
.single-page .single-page-wrap .single-page-btn {
  width: 145px;
  height: 40px;
  color: #fff;
  background-color: #6478fd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Panton Extra Bold";
  font-size: 13px;
  text-decoration: none;
  border-radius: 20px;
}
.single-page .single-page-wrap .single-page-btn:hover {
  background-color: #7288ff;
}
.single-page .text-wrapper h1 {
  font-size: 23px;
  font-family: "Panton Extra Bold";
}
.single-page .text-wrapper p {
  font-size: 15px;
  line-height: 20px;
}
.single-page .text-wrapper p a.purple {
  color: #6478fd;
}
.single-page .text-wrapper p a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
.single-page .social {
  text-align: center;
  margin-top: 100px;
}
.single-page .social p {
  font-size: 11px;
  font-family: "Panton Semi Bold";
  color: #939393;
  width: 163px;
  margin: auto;
  line-height: 12px;
}
.single-page .social .social_media {
  margin-top: 9px;
  display: flex;
  justify-content: center;
  color: #939393;
}
.single-page .social .social_media .icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  border-radius: 50%;
}
.single-page .social .social_media .icon a {
  color: #b3b3b3;
}
.single-page .social .social_media .icon a:hover {
  color: #939393;
}
.single-page .big-img {
  width: 100%;
  margin: 45px 0 20px;
}
.single-page .campaigns-detail-btn {
  font-family: "Panton Extra Bold";
}

.account-page {
  margin-top: 20px;
  min-height: calc(100vh - 143px);
}
.account-page .drop-select ul {
  inset: 0 0 auto auto !important;
  text-align: end;
  font-size: 13px;
  border: none;
  padding: 0;
}
.account-page .drop-select ul a {
  color: #939393;
  padding-top: 0;
  padding-bottom: 0;
}
.account-page .drop-select ul a:hover {
  background-color: #fff;
  color: #000;
}
.account-page .drop-select .dropdown-toggle {
  color: #939393;
  /*background-color: #fff;*/
  border: none;
  font-size: 13px;
}
.account-page .drop-select .dropdown-toggle:after {
  margin-bottom: -1px;
}
.account-page .drop-select .dropdown-toggle:hover {
  color: #000;
}
.account-page .col-title {
  font-size: 18px;
  font-family: "Panton Extra Bold";
  color: #3f3f3f;
}
.account-page .contact-rule a {
  padding: 8px 23px 7px;
  text-align: center;
  line-height: 12px;
  font-size: 10px;
  background-color: #d12e26;
  border-radius: 31px;
  font-family: Panton Extra Bold;
  color: #fff;
  display: inline-block;
}
.account-page .contact-rule a:hover {
  background-color: #e1342b;
}
.account-page .contact-rule.success a {
  background-color: #6cbe5d;
  display: flex;
  align-items: center;
  text-align: left;
}
.account-page .contact-rule.success a p {
  margin: 0 4px 0 0;
  font-size: 22px;
}
.account-page .menu {
  border-right: 1px solid #b2b2b2;
}
.account-page .menu > div {
  margin-bottom: 10px;
}
.account-page .menu > div img {
  width: 23px;
  margin-bottom: 3px;
  /*margin-right: -6px;*/
}
.account-page .menu > div span {
  font-size: 13px;
  font-family: "Panton Semi Bold";
}
.account-page .menu > div span a {
  color: #000;
}
.account-page .menu > div span a:hover {
  color: #666666;
}
.account-page .review {
  min-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.account-page .review img {
  max-width: 105px;
}
.account-page .review h3 {
  font-size: 22px;
  font-family: "Panton Extra Bold";
  line-height: 27px;
  margin: 10px 0 2px;
}
.account-page .review p {
  max-width: 380px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
}
.account-page .account-close {
  font-size: 13px;
}
.account-page .account-close a {
  color: #939393;
}

.account-page.personal-card .head {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  flex-wrap: wrap;
}
.account-page.personal-card .head p {
  margin-bottom: 0;
}
.account-page.personal-card .head span {
  font-size: 11px;
  background-color: #6cbe5d;
  color: #fff;
  font-weight: bold;
  padding: 3px 8px 2px;
  border-radius: 15px;
  margin-left: 7px;
}
.account-page.personal-card .head span.yellow {
  margin-left: 3px;
  background-color: #ffd54a;
  color: #000;
}
.account-page.personal-card .personal-info .name {
  font-size: 18px;
  font-family: "Panton Extra Bold";
  color: #3f3f3f;
  margin-bottom: 12px;
}
.account-page.personal-card .personal-info .check-confirm input {
  width: 13px;
  height: 10px;
}
.account-page.personal-card .personal-info .tooltips {
  position: absolute;
  right: -302px;
  top: -86px;
  font-size: 12px;
  width: 301px;
  background-color: #3f3f3f;
  color: #fff;
  padding: 14px 24px;
  border-radius: 20px;
  opacity: 1;
  z-index: 99;
  display: none;
  line-height: 17px;
}
.account-page.personal-card .personal-info .tooltips b {
  font-size: 14px;
  padding-bottom: 5px;
  display: inline-block;
  font-family: "Panton Extra Bold";
}
.account-page.personal-card .personal-info .tooltips#home {
  top: -86px;
}
.account-page.personal-card .personal-info .tooltips i {
  position: absolute;
  left: -9px;
  font-size: 29px;
  top: 42%;
  color: #3f3f3f;
}
.account-page.personal-card .profile-personal span {
  font-size: 10px;
  padding-left: 14px;
  color: #9d9d9d;
  margin-top: 3px;
  display: block;
  line-height: 11px;
}
.account-page.personal-card .profile-personal textarea {
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  padding-left: 14px;
  font-size: 13px;
  color: #000;
}
.account-page.personal-card .profile-personal textarea:focus {
  border: 1px solid #c5c5c5;
  box-shadow: none;
}
.account-page.personal-card .profile-personal textarea:focus::placeholder {
  color: #cdcdcd;
}
.account-page.personal-card .profile-personal .file-wrap {
  padding-top: 10px;
}
.account-page.personal-card .profile-personal .file-wrap #img1, .account-page.personal-card .profile-personal .file-wrap #img2, .account-page.personal-card .profile-personal .file-wrap #img3, .account-page.personal-card .profile-personal .file-wrap #img4 {
  display: none;
}
.account-page.personal-card .profile-personal .file-wrap .file {
  width: 100%;
  height: 74px;
  background-color: #f2f2f2;
  border-radius: 25px;
  background-image: url("../image/resimyukle.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.account-page.personal-card .profile-personal .file-wrap .file a {
  display: none;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.account-page.personal-card .profile-personal .file-wrap .file a img {
  width: 80%;
  height: 80%;
}
.account-page.personal-card .profile-personal .file-wrap .file:hover {
  background-image: url("");
}
.account-page.personal-card .profile-personal .file-wrap .file:hover a {
  display: flex;
}
.account-page.personal-card .profile-personal .file-wrap .file:hover:after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #000;
  opacity: 0.5;
  border-radius: 25px;
}
.account-page.personal-card .publish {
  font-size: 18px;
  font-family: "Panton Extra Bold";
  color: #3f3f3f;
  margin-bottom: 16px;
}
.account-page.personal-card .display-card .bg-light-gray {
  background-color: #eeeeee;
  border-radius: 25px;
  position: relative;
  padding: 18px;
  text-align: center;
  margin-bottom: 11px;
}
.account-page.personal-card .display-card .bg-light-gray .swiper-pagination {
  bottom: -19px;
}
.account-page.personal-card .display-card .bg-light-gray .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #939393;
}
.account-page.personal-card .display-card .bg-light-gray .swiper-button-prev:after, .account-page.personal-card .display-card .bg-light-gray .swiper-button-next:after {
  font-size: 17px;
  color: #939393;
}
.account-page.personal-card .display-card .bg-light-gray .favorite {
  display: flex;
  justify-content: space-between;
}
.account-page.personal-card .display-card .bg-light-gray .favorite span {
  background-color: #d12e26;
  padding: 4px 10px;
  font-size: 11px;
  font-family: "Panton Extra Bold";
  color: #fff;
  border-radius: 20px;
}
.account-page.personal-card .display-card .bg-light-gray .favorite .img {
  background-image: url(../image/kalpicibos.svg);
  width: 22px;
  height: 20px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.account-page.personal-card .display-card .bg-light-gray .favorite .img:hover {
  background-image: url(../image/kalpkirmizi.svg);
}
.account-page.personal-card .display-card .bg-light-gray .favorite p {
  margin-top: 1px !important;
  font-family: "Panton SemiBold Italic";
  font-size: 10px;
  line-height: 10px;
  margin-top: -2px;
  font-style: italic;
  text-align: center;
  width: 41px;
}
.account-page.personal-card .display-card .person .person-wrap {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-page.personal-card .display-card .person .person-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-page.personal-card .display-card .name p {
  font-size: 18px;
  font-family: "Panton Extra Bold";
  color: #000;
  margin-top: 9px;
}
.account-page.personal-card .display-card .text {
  margin-left: 16px;
  text-align: left;
  border-bottom: 1px solid #999999;
  padding-bottom: 9px;
  margin-bottom: 13px;
}
.account-page.personal-card .display-card .text .text-thin {
  font-size: 13px;
  color: #000;
  margin-bottom: 5px;
}
.account-page.personal-card .display-card .text .text-bold {
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
  font-size: 13px;
  font-family: "Panton Extra Bold";
}
.account-page.personal-card .display-card .description {
  margin-left: 16px;
  text-align: left;
  font-size: 13px;
  line-height: 17px;
}
.account-page.personal-card .display-card .img-container {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 10px;
}
.account-page.personal-card .display-card .img-container div {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.account-page.personal-card .display-card .img-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.account-page.personal-card .display-card .btn-smt a {
  display: block;
  padding: 11px 0 10px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  background-color: #6cbe5d !important;
  font-size: 13px;
  font-family: Panton Extra Bold;
}
.account-page.personal-card .display-card .btn-smt a:hover {
  background-color: #6dc95b !important;
}

.sortable {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6478fd;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: all 0.5s ease-in;
  transform: translateY(100%);
}
.sortable.active {
  transform: translateY(0);
}
.sortable .sort-wrap {
  padding: 15px 45px 20px;
  position: relative;
}
.sortable .sort-wrap h5 {
  font-size: 15px;
  font-family: Panton Extra Bold;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.sortable .sort-wrap ul {
  list-style-type: none;
  padding-left: 0;
}
.sortable .sort-wrap ul li a {
  display: inline-block;
  color: #fff;
  padding: 5px 0;
}
.sortable .sort-wrap img {
  position: absolute;
  right: 20px;
  top: 19px;
  width: 11px;
}

.account-page.packages .col-text {
  font-size: 17px;
  margin-top: -18px;
}
.account-page.packages .item {
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 31px;
  padding-bottom: 13px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.account-page.packages .item .title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3f3f;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
}
.account-page.packages .item .title h4 {
  font-size: 14px;
  color: #fff;
  font-family: "Panton Extra Bold";
  margin-bottom: 0;
}
.account-page.packages .item .body {
  text-align: center;
  margin: 14px 0 20px;
}
.account-page.packages .item .body p {
  color: #3f3f3f;
  font-size: 20px;
  font-family: "Panton Semi Bold";
}
.account-page.packages .item .body p span {
  font-family: "Panton Extra Bold";
  font-size: 60px;
}
.account-page.packages .item .features {
  padding-left: 13px;
  margin-top: -15px;
  padding-right: 13px;
}
.account-page.packages .item .features p {
  display: flex;
  align-items: start;
  margin-bottom: 9px;
}
.account-page.packages .item .features p img {
  width: 18px;
  margin-right: 3px;
}
.account-page.packages .item .features p span {
  font-size: 13px;
  color: #3f3f3f;
  font-weight: bold;
  display: inline-block;
}
.account-page.packages .item .info {
  /*margin-bottom: 83px;*/
  color: #939393;
  font-size: 12px;
  padding: 0 31px;
  margin-top: -10px;
  line-height: 14px;
}
.account-page.packages .item .footer-btn {
  padding: 0 13px;
  /*margin-top: 35px;*/
  /*position: absolute;
  width: 94%;*/
  bottom: 13px;
}
.account-page.packages .item .footer-btn a {
  display: block;
  background-color: #6cbe5d;
  border-radius: 31px;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-family: "Panton Extra Bold";
}
.account-page.packages .item .footer-btn a:hover {
  background-color: #6dc95b;
}

.account-page.card-product .product {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b2b2b2;
  padding: 6px 19px 6px 13px;
  height: 72px;
}
.account-page.card-product .product .col-left {
  display: flex;
  align-items: center;
}
.account-page.card-product .product .col-left img {
  width: 50px;
}
.account-page.card-product .product .col-left .check-confirm {
  margin-bottom: -8px;
}
.account-page.card-product .product .col-left .check-confirm .form-check-input {
  width: 13px;
  height: 13px;
  border-radius: 3px !important;
}
.account-page.card-product .product .col-left .check-confirm .form-check-input:checked {
  background-color: #6478fd;
}
.account-page.card-product .product .col-left .img {
  width: 56px;
  height: auto;
}
.account-page.card-product .product .col-left p {
  margin: 0 8px -3px;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.account-page.card-product .product .col-left p span {
  font-weight: normal;
}
.account-page.card-product .product .col-right {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000;
  font-size: 13px;
}
.account-page.card-product .product .col-right .numeration {
  border: 1px solid #bbb;
  border-radius: 31px;
  margin-right: 17px;
}
.account-page.card-product .product .col-right .numeration a {
  padding: 7px 8px;
  display: inline-block;
  background-color: #bbbbbb;
  color: #fff;
}
.account-page.card-product .product .col-right .numeration a:hover {
  background-color: #9b9b9b;
}
.account-page.card-product .product .col-right .numeration a.minus {
  border-top-left-radius: 31px;
  border-bottom-left-radius: 31px;
}
.account-page.card-product .product .col-right .numeration a.plus {
  border-top-right-radius: 31px;
  border-bottom-right-radius: 31px;
}
.account-page.card-product .product .col-right .numeration span {
  padding: 7px;
  display: inline-block;
}
.account-page.card-product .product .col-right .delete {
  width: 31px;
  height: 31px;
  background-color: #d12e26;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 17px;
}
.account-page.card-product .product .col-right .delete img {
  width: 75%;
}
.account-page.card-product .product .col-right .delete:hover {
  background-color: #e1342b;
}
.account-page.card-product .product.bb-1 {
  border-bottom: 1px solid #b2b2b2;
}
.account-page.card-product .order {
  color: #000;
  margin-top: 20px;
}
.account-page.card-product .order .title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
  font-family: "Panton Extra Bold";
}
.account-page.card-product .order .order-item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 5px;
}
.account-page.card-product .order .order-item b {
  font-family: "Panton Extra Bold";
}
.account-page.card-product .order button {
  padding: 13px;
  width: 100%;
  background-color: #6cbe5d;
  color: #fff;
  font-family: "Panton Extra Bold";
  border-radius: 31px;
  border: none;
  font-size: 13px;
  margin-top: 10px;
}
.account-page.card-product .order button:hover {
  background-color: #6dc95b;
}

.account-page.card-product.publication .button-list {
  margin-bottom: 20px;
}
.account-page.card-product.publication .button-list .add {
  background-image: url("../image/ilanekle.svg");
  background-size: 24px;
}
.account-page.card-product.publication .button-list .add:hover {
  background-color: #6dc95b;
}
.account-page.card-product.publication .button-list .publish {
  background-image: url("../image/yayinla.svg");
  background-size: 8px;
  background-position: 16px 13px;
}
.account-page.card-product.publication .button-list .publish:hover {
  background-color: #6cbe5d;
}
.account-page.card-product.publication .button-list .stop {
  background-image: url("../image/durdur.svg");
  background-size: 8px;
  background-position: 16px 13px;
}
.account-page.card-product.publication .button-list .stop:hover {
  background-color: #d12e26;
}
.account-page.card-product.publication .button-list .delete {
  background-image: url("../image/copkutusu.svg");
  background-size: 20px;
  background-position: 10px 9px;
}
.account-page.card-product.publication .button-list .delete:hover {
  background-color: #d12e26;
}
.account-page.card-product.publication .button-list a {
  padding: 10px 24px 9px 32px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-family: Panton Extra Bold;
  background-color: #6cbe5d;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: 7px 6px;
}
.account-page.card-product.publication .button-list a.bg-light-gray {
  background-color: #c0c0c0;
}
.account-page.card-product.publication .col-right .delete {
  margin-left: 7px;
}
.account-page.card-product.publication .col-right .edit {
  width: 31px;
  height: 31px;
  background-color: #6478fd;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 17px;
}
.account-page.card-product.publication .col-right .edit:hover {
  background-color: #7288ff;
}
.account-page.card-product.publication .col-right .edit img {
  width: 75%;
}
.account-page.card-product.publication .col-left img {
  border-radius: 20px;
}
.account-page.card-product.publication .col-left .small-info {
  font-size: 11px;
  font-weight: bold;
  padding: 2px 8px;
  background-color: #6cbe5d;
  border-radius: 25px;
  margin: 0 0px 0px 2px;
  display: inline-block;
  color: #fff;
}
.account-page.card-product.publication .col-left .small-info:first-child {
  margin-left: 8px;
}
.account-page.card-product.publication .col-left .small-info.danger {
  background-color: #d12e26;
}
.account-page.card-product.publication .col-left .small-info.warning {
  background-color: #ffd54a;
  color: #000;
}

.account-page.campaigns .col-text {
  font-size: 17px;
  margin-top: -18px;
}
.account-page.campaigns .item {
  width: 100%;
  height: 419px;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 26px;
  text-align: center;
}
.account-page.campaigns .item .img_wrap {
  height: 29px;
  margin-bottom: 9px;
}
.account-page.campaigns .item .img_wrap img {
  height: 100%;
  width: auto;
}
.account-page.campaigns .item p {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  font-family: "Panton Semi Bold";
  margin-bottom: 12px;
  line-height: 22px;
}
.account-page.campaigns .item a {
  padding: 6px 13px;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  font-size: 12px;
  font-family: "Panton Semi Bold";
}
.account-page.campaigns .item a:hover {
  background-color: #121212;
}

.account-page.favorite-contacts .favorite-wrap {
  width: 100%;
  padding: 5px 18px 5px 5px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  align-items: center;
}
.account-page.favorite-contacts .favorite-wrap .col-left {
  display: flex;
  align-items: center;
}
.account-page.favorite-contacts .favorite-wrap .col-left img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.account-page.favorite-contacts .favorite-wrap .col-left p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: Panton Extra Bold;
  margin-left: 6px;
}
.account-page.favorite-contacts .favorite-wrap .col-right {
  display: flex;
  align-items: center;
}
.account-page.favorite-contacts .favorite-wrap .col-right .link {
  padding: 8px 20px;
  background-color: #6cbe5d;
  border-radius: 31px;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  color: #fff;
}
.account-page.favorite-contacts .favorite-wrap .col-right .link:hover {
  background-color: #6dc95b;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person {
  width: 35.5px;
  height: 35.5px;
  border-radius: 50%;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person img {
  width: 75%;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person.see {
  background-color: #6478fd;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person.see:hover {
  background-color: #7288ff;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person.delete {
  background-color: #d12e26;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person.delete:hover {
  background-color: #e1342b;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person.lower-screen {
  background-color: #6cbe5d;
}
.account-page.favorite-contacts .favorite-wrap .col-right .person.lower-screen:hover {
  background-color: #6dc95b;
}

.account-page.favorite-contacts.blocked .link {
  background-color: #d12e26 !important;
}
.account-page.favorite-contacts.blocked .link:hover {
  background-color: #e1342b !important;
}

.account-page.help .contact-area {
  border-radius: 31px;
  border: 1px solid #c5c5c5;
  height: 388px;
  padding: 9px;
}

.message_send {
  margin-top: 11px;
  border-radius: 31px;
  border: 1px solid #c5c5c5;
  padding: 9px;
  display: flex;
  align-items: center;
}
.message_send .person-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.message_send form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.message_send form input {
  width: 87%;
  border: none;
  padding-left: 8px;
  font-size: 13px;
}
.message_send form input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.message_send form input:focus::placeholder {
  color: #cdcdcd;
  font-size: 13px;
}
.message_send form button {
  border: none;
  padding: 10px 32px;
  border-radius: 31px;
  color: #fff;
  background-color: #6478fd;
  font-size: 13px;
  font-family: "Panton Semi Bold";
}
.message_send form button:hover {
  background-color: #7288ff;
}

.account-page.message .menu {
  border-right: 1px solid #c5c5c5;
}
.account-page.message .wrap {
  border: 1px solid #c5c5c5;
  /*height: 76vh;*/
  border-radius: 31px;
}
.account-page.message .wrap .messages {
  padding: 21px;
}
.account-page.message .wrap .messages .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 29px 8px 10px;
  background-color: #eeeeee;
  border-radius: 65px;
}
.account-page.message .wrap .messages .banner .col-left {
  display: flex;
  align-items: center;
}
.account-page.message .wrap .messages .banner .col-left .img_wrap {
  width: 93px;
  height: 93px;
  border-radius: 50%;
}
.account-page.message .wrap .messages .banner .col-left .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-page.message .wrap .messages .banner .col-left p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  font-family: "Panton Extra Bold";
  margin-left: 13px;
}
.account-page.message .wrap .messages .banner .col-right {
  display: flex;
  align-items: center;
}
.account-page.message .wrap .messages .banner .col-right .like {
  width: 35.4px;
  height: 35.4px;
  border-radius: 50%;
  background-color: #939393;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-page.message .wrap .messages .banner .col-right .like:hover {
  background-color: #d12e26;
}
.account-page.message .wrap .messages .banner .col-right .like img {
  width: 15px;
}
.account-page.message .wrap .messages .banner .col-right .link {
  padding: 8px 32px;
  background-color: #6cbe5d;
  border-radius: 31px;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  color: #fff;
  margin-left: 8px;
}
.account-page.message .wrap .messages .banner .col-right .link:hover {
  background-color: #6dc95b;
}
.account-page.message .wrap .messages .banner .col-right .link.red {
  background-color: #d12e26;
}
.account-page.message .wrap .messages .banner .col-right .link.red:hover {
  background-color: #e1342b;
}
.account-page.message .wrap .messages .message_area {
  height: 45vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.account-page.message .wrap .messages .message_area .message-wrap {
  display: flex;
  align-items: center;
  max-width: 50%;
}
.account-page.message .wrap .messages .message_area .message-wrap img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.account-page.message .wrap .messages .message_area .message-wrap span {
  font-size: 13px;
  font-family: "Panton Semi Bold";
  margin-left: 7px;
  padding: 7px 15px;
  line-height: 15px;
  background-color: #eeeeee;
  border-radius: 31px;
}
.account-page.message .wrap .messages .message_area .me {
  justify-content: end;
  margin-left: auto;
}
.account-page.message .wrap .messages .message_area .me span {
  background-color: #6478fd;
  color: #fff;
  margin-left: 0px;
  margin-right: 7px;
}
.account-page.message .wrap .person-list {
  padding: 21px;
}
.account-page.message .wrap .person-list .search {
  justify-content: space-between;
  display: flex;
  border: 1px solid #c5c5c5;
  border-radius: 31px;
  align-items: center;
  padding: 8px 13px;
}
.account-page.message .wrap .person-list .search img {
  width: 14px;
  height: 14px;
}
.account-page.message .wrap .person-list .search form {
  width: 90%;
}
.account-page.message .wrap .person-list .search form input {
  width: 100%;
  border: none;
  border-radius: 31px;
  font-size: 14px;
}
.account-page.message .wrap .person-list .search form input::placeholder {
  color: #939393;
}
.account-page.message .wrap .person-list .search form input:focus {
  outline: 0;
}
.account-page.message .wrap .person-list .search form input:focus::placeholder {
  color: #cdcdcd;
}
.account-page.message .wrap .person-list .friends {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.account-page.message .wrap .person-list .friends img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.account-page.message .wrap .person-list .friends p {
  margin-bottom: 0;
  font-size: 13px;
  color: #7f7f7f;
  font-family: "Panton Semi Bold";
  margin-left: 7px;
}
.account-page.message .wrap .person-list .friends p.bold {
  color: #000;
  font-weight: bold;
}
.account-page.message .wrap .person-list .friends .person-list-link {
  margin-left: auto;
  display: flex;
}
.account-page.message .wrap .person-list .friends .person-list-link a {
  width: 21px;
  height: 21px;
  background-color: #7f7f7f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}
.account-page.message .wrap .person-list .friends .person-list-link a:hover {
  background-color: #d12e26;
}
.account-page.message .wrap .person-list .friends .person-list-link a:nth-child(1):hover {
  background-color: #6cbe5d;
}
.account-page.message .wrap .person-list .friends .person-list-link a img {
  width: 90%;
  height: 90%;
}

.profile {
  width: 117px;
  height: 118px;
  background-image: url("../image/profil.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.profile:hover::after {
  content: "";
  background-image: url("../image/fotografcek.svg");
  background-size: 25px 27px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  inset: 0;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.5;
}

#profile {
  display: none;
}

#crop h5 {
  font-size: 13px;
  font-weight: 900;
  margin-top: 25px;
  font-family: Panton Extra Bold;
}
#crop p {
  padding: 0 94px;
  color: #a7a7a7;
  font-size: 13px;
  line-height: 1;
}
#crop .modal-dialog {
  width: fit-content;
}
#crop .modal-dialog .modal-content {
  background-color: #fff;
  border-radius: 70px;
}
#crop .modal-dialog .modal-content .btn-close {
  right: -20px;
  top: -20px;
  font-size: 11px;
  background-color: #fff;
  opacity: 1;
  padding: 9px;
  border-radius: 50%;
  color: #000;
}
#crop .modal-dialog .modal-footer button {
  background-color: #6478fd;
  color: white;
  border-radius: 20px;
  padding: 8px 40px;
}
#crop .modal-dialog .modal-footer button:hover {
  background-color: #7288ff;
}
#crop .img-container {
  min-width: 320px;
  max-height: 500px;
}
#crop button.btn-close {
  right: 0;
  z-index: 999;
}
#crop button.btn-close:focus {
  box-shadow: none;
  border: none;
}
#crop .modal-footer {
  border: none;
}

#image {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
  width: 100%;
}

.profile-personal select.form-select {
  height: 35px;
  border: 1px solid #c5c5c5;
  color: #939393;
  background-image: url("../image/arrow-down-sign-to-navigate.png");
  background-size: 10px 10px;
  background-position: right 14px center;
  padding-left: 14px;
  font-size: 13px;
  font-family: "Panton";
}
.profile-personal select.form-select:focus {
  color: #cdcdcd;
  border: 1px solid #c5c5c5;
}
.profile-personal input.form-control {
  height: 35px;
  color: #000;
  border: 1px solid #c5c5c5;
  padding-left: 14px;
  font-size: 13px;
}
.profile-personal input.form-control::placeholder {
  color: #939393;
}
.profile-personal input.form-control:focus {
  border-color: #cdcdcd;
}
.profile-personal input.form-control:focus::placeholder {
  color: #cdcdcd;
}
.profile-personal .female input, .profile-personal .male input {
  height: 35px;
}
.profile-personal .female input[type=radio]:checked, .profile-personal .male input[type=radio]:checked {
  /*border: 2px solid #6478fd;*/
}
.profile-personal .female input[type=radio]:checked:after, .profile-personal .male input[type=radio]:checked:after {
  content: "";
  position: absolute;
  top: 10%;
  right: 4px;
  width: 27px;
  height: 27px;
  background-image: url("../image/onayisaresi.svg");
}
.profile-personal .female label, .profile-personal .male label {
  margin-top: -29px;
  position: absolute;
  color: #939393;
  left: 48px;
  font-size: 13px;
}
.profile-personal #female {
  background: url("../image/kadin_icon.png") no-repeat left;
  background-size: 13px;
  background-position: 17px;
  padding-left: 20px;
  position: relative;
}
.profile-personal #male {
  background: url("../image/erkek_icon.png") no-repeat left;
  background-size: 13px;
  background-position: 17px;
  padding-left: 20px;
  position: relative;
}
.profile-personal .update {
  margin-top: 13px;
}
.profile-personal .update a {
  width: 100%;
  background-color: #939393;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 11px 0 10px;
  border-radius: 31px;
  font-size: 13px;
  font-family: "Panton Extra Bold";
}
.profile-personal .update a:hover {
  background-color: #596efa;
}
.profile-personal .update.active a {
  background-color: #6478fd;
}
.profile-personal img.info {
  position: absolute;
  width: 18px;
  bottom: 28%;
  right: 31px;
}
.profile-personal img.info.homes:hover + .tooltips {
  display: inline-block;
}
.profile-personal img.info.guess:hover + .tooltips {
  display: inline-block;
}

form.contact input.form-control {
  height: 40px;
  color: #000;
  border: 1px solid #c5c5c5;
  padding-left: 14px;
  font-size: 13px;
}
form.contact input.form-control::placeholder {
  color: #939393;
}
form.contact input.form-control:focus {
  border-color: #cdcdcd;
}
form.contact input.form-control:focus::placeholder {
  color: #cdcdcd;
}
form.contact textarea.form-control {
  color: #000;
  border: 1px solid #c5c5c5;
  padding-left: 14px;
  font-size: 13px;
  resize: none;
  border-radius: 20px;
}
form.contact textarea.form-control::placeholder {
  color: #939393;
}
form.contact textarea.form-control:focus {
  border-color: #cdcdcd;
  box-shadow: none;
}
form.contact textarea.form-control:focus::placeholder {
  color: #cdcdcd;
}
form.contact a {
  display: inline-block;
  padding: 7px 86px 8px;
}
form.contact button {
  font-family: "Panton Extra Bold";
}

input.form-check-input[type=checkbox]:checked {
  background-color: #9ebf43;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

input.form-check-input[type=checkbox]:focus {
  box-shadow: none;
}

.check-confirm {
  display: flex;
}
.check-confirm input {
  width: 11px;
  height: 11px;
  margin-top: 3px;
  border-radius: 0px !important;
}
.check-confirm label {
  margin-top: 2px;
  padding-top: 0;
  padding-left: 3px;
  color: #939393;
  font-size: 12px;
  line-height: 14px;
  font-family: "Panton Semi Bold";
}
.check-confirm label a {
  color: #000;
}

#blogModal button {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  padding: 6px;
  margin: 10px 6px;
  font-size: 12px;
  opacity: 1;
  right: -37px;
  top: -37px;
}
#blogModal img {
  width: 100%;
}

.blog {
  margin-top: 20px;
}
.blog .date {
  text-align: end;
  color: #939393;
  font-size: 12px;
  font-family: "Panton Semi Bold";
}
.blog .date span:nth-child(1) {
  margin-bottom: -4px;
}
.blog .br {
  margin-top: 6px;
  margin-bottom: 22px;
  padding: 0 12px;
}
.blog .br div {
  border-bottom: 1px solid #cccccc;
}
.blog .col-big .main-image {
  border-radius: 25px;
  position: relative;
}
.blog .col-big .main-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7510601653) 0%, rgba(0, 0, 0, 0.6810321541) 25%, rgba(0, 0, 0, 0.2524607255) 79%, rgba(0, 0, 0, 0) 98%);
}
.blog .col-big .main-image img {
  width: 100%;
  border-radius: 20px;
}
.blog .col-big .main-image p {
  position: absolute;
  left: 27px;
  bottom: 20px;
  color: #fff;
  font-size: 29px;
  font-weight: 900;
  padding-right: 120px;
  z-index: 9;
  line-height: 34px;
  font-family: "Panton Extra Bold";
}
.blog .col-big .swiper-pagination {
  bottom: -23px;
}
.blog .col-big .swiper-pagination .swiper-pagination-bullet {
  background-color: #cacaca;
  opacity: 0.8;
}
.blog .col-big .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #727272;
}
.blog .col-small {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog .col-small .h-60 {
  height: 60%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 9px;
}
.blog .col-small .h-60 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: center;
  border-radius: 12px;
}
.blog .col-small .row {
  margin-top: 5%;
  height: 36%;
}
.blog .col-small .row .wrap {
  position: relative;
  height: 100%;
}
.blog .col-small .row .wrap img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 20px;
}
.blog .col-small .row .wrap p {
  font-size: 16px;
  font-family: Panton Extra Bold;
  line-height: 19px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}
.blog .col-wrap {
  margin-top: 28px;
}
.blog .col-wrap .col-wrap-img {
  border-radius: 20px;
}
.blog .col-wrap .col-wrap-img img {
  width: 100%;
  max-height: 217px;
  object-fit: cover;
  border-radius: 20px;
}
.blog .col-wrap span {
  margin-top: 7px;
  padding: 4px 7px 2px;
  background-color: #e69632;
  border-radius: 20px;
  font-size: 10px;
  font-family: "Panton Semi Bold";
  color: #fff;
  width: 70px;
  display: flex;
  justify-content: center;
}
.blog .col-wrap span.bg-blue {
  background-color: #009cdd;
}
.blog .col-wrap span.bg-light-blue {
  background-color: #76c2ec;
}
.blog .col-wrap span.bg-dark-pink {
  background-color: #cb0ef3;
}
.blog .col-wrap span.bg-gray {
  background-color: #757575;
}
.blog .col-wrap span.bg-purple {
  background-color: #667af5;
}
.blog .col-wrap span.bg-green {
  background-color: #85b545;
}
.blog .col-wrap span.bg-red {
  background-color: #d12e26;
}
.blog .col-wrap p {
  font-size: 16px;
  font-family: Panton Extra Bold;
  padding-right: 75px;
  line-height: 19px;
  margin-top: 3px;
  color: #000;
}
.blog .dividing {
  font-family: "Panton Extra Bold";
  color: #fff;
  background-color: #6478fd;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
  margin: 4px 0 -6px;
}

.blog.blog-detail .dividing {
  height: fit-content;
  margin: 19px 0px 11px;
}
.blog.blog-detail .col-big {
  border-right: 1px solid #939393;
}
.blog.blog-detail .col-big .main-image:after {
  background: none;
}
.blog.blog-detail .col-big .news-title {
  font-size: 25px;
  font-family: "Panton Extra Bold";
  color: #000;
  line-height: 27px;
  margin: 17px 0;
}
.blog.blog-detail .col-big .news-content {
  color: #000;
  font-size: 15px;
}
.blog.blog-detail .col-big .news-content img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.blog.blog-detail .col-small .h-60 {
  height: auto;
}
.blog.blog-detail .col-small .h-60 img {
  border-radius: 12px;
}
.blog.blog-detail .col-small .row.col-wrap {
  margin-top: 0;
}
.blog.blog-detail .reklam {
  height: 200px;
  margin-bottom: 20px;
}
.blog.blog-detail .reklam img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.mobile-view {
  position: fixed;
  height: 100vh;
  background-color: #fff;
  inset: 0;
  transform: translateX(100%);
}
.mobile-view .wrap {
  height: 100vh;
}
.mobile-view .wrap .messages .banner {
  padding: 8px 19px 8px 10px !important;
}
.mobile-view .wrap .messages .banner .col-left .img_wrap {
  height: 65px !important;
  width: 65px !important;
}
.mobile-view .wrap .messages .message_area {
  height: 55vh !important;
}
.mobile-view .wrap .messages .message_area .message-wrap {
  max-width: 85% !important;
  margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .account-page.message .wrap {
    border: none;
  }
  .account-page.message .br-1 {
    border: none;
    position: inherit;
  }

  .account-page .btn-holder {
    display: none;
  }
  .account-page .menu {
    display: none;
  }

  .profile {
    margin: 0 auto 22px;
  }

  .account-page.help .contact-area {
    height: 471px;
  }

  .col-small .h-60 {
    order: 2;
  }

  .blog.blog-detail .col-small .h-60 {
    order: 0;
  }
  .blog.blog-detail .col-big {
    border-right: none;
  }

  .account-page.warning {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .account-page.packages .item .info {
    margin-bottom: 0;
  }
  .account-page.packages .item .footer-btn {
    position: initial;
    width: 100%;
  }

  .account-page.campaigns .item {
    height: 548px;
  }

  .account-page.personal-card .publish {
    text-align: center;
    margin-top: 10px;
  }
  .account-page.personal-card .head p {
    width: 100%;
  }
  .account-page.personal-card .head div {
    width: 100%;
    text-align: center;
  }
  .account-page.personal-card .personal-info .name {
    text-align: center;
    margin-top: -12px;
  }
  .account-page.personal-card .profile-personal .file-wrap .file {
    height: 110px;
    background-size: 34%;
  }
}
@media screen and (max-width: 576px) {
  .account-page.personal-card .publish {
    margin-top: 29px;
  }
  .account-page.personal-card .display-card {
    margin-bottom: 125px;
  }

  .message-footer {
    display: none;
  }

  #filterModal {
    background-color: #fff;
  }
  #filterModal .modal-dialog {
    height: 100%;
    margin-bottom: 215px;
  }

  #blogModal button {
    background-color: rgba(255, 255, 255, 0.5);
    right: 0px;
    top: -4px;
  }

  .account-page.card-product.publication .col-left p {
    width: 200px !important;
  }
  .account-page.card-product.publication .col-right .edit {
    margin-left: 3px;
  }

  .account-page.card-product.publication .button-list .publish {
    height: 38px;
    width: 38px;
    padding: 0;
    margin-left: 7px;
    background-position: center;
  }

  .account-page.card-product.publication .button-list a.bg-light-gray {
    height: 38px;
    width: 38px;
    padding: 0;
    margin-left: 7px;
    background-position: center;
  }

  .account-page.help .contact-area {
    height: 72vh;
    border: none;
  }

  #blocked .modal-dialog .modal-content .btn-close {
    right: 0;
    top: -95px;
  }

  .filter {
    width: 100%;
  }

  .blog .col-big .main-image p {
    font-size: 20px;
    padding-right: 25px;
    line-height: 25px;
    margin-bottom: 0px;
  }

  .blog .col-small .row .wrap p {
    height: 25px;
  }

  .blog .col-wrap p {
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  .big-screen {
    display: none !important;
  }

  .profile-personal {
    margin-bottom: 40px;
  }

  .br-1 {
    border-right: none;
    position: relative;
  }
  .br-1:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 12px;
    bottom: 0;
    width: calc(100% - 24px);
    background-color: #b2b2b2;
  }

  .mb-6 {
    margin-bottom: 4rem;
  }

  .account-page.campaigns .row.g-3 {
    margin-bottom: 100px;
  }

  .account-page.card-product .product {
    padding: 6px 10px 6px 10px;
  }
  .account-page.card-product .product .col-left img {
    width: 35px;
  }
  .account-page.card-product .product .col-left p {
    font-size: 11px;
    margin: 0 7px -3px;
    width: 130px;
  }
  .account-page.card-product .product .col-right {
    font-size: 11px;
  }
  .account-page.card-product .product .col-right .numeration {
    margin-right: 7px;
  }
  .account-page.card-product .product .col-right .numeration a {
    padding: 5px 6px;
  }
  .account-page.card-product .product .col-right .numeration span {
    padding: 4px;
  }
  .account-page.card-product .product .col-right .delete {
    width: 26px;
    height: 26px;
    margin-left: 7px;
  }

  #crop .modal-dialog .modal-content {
    margin: 0 15px;
  }
  #crop .modal-dialog .modal-content .btn-close {
    right: -9px;
  }

  .padding-0 {
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .boxes .col-sm-3 {
    max-width: 194px;
  }
}
@media screen and (max-width: 400px) {
  .mobile-view .wrap .messages .message_area {
    height: 52vh !important;
  }

  .boxes .row .bg-light-gray .name {
    font-size: 13px;
  }
  .boxes .col-sm-3 {
    max-width: 183px;
  }

  #detail .modal-dialog .modal-content .btn-close {
    right: -9px;
  }
}
@media screen and (max-width: 390px) {
  .account-page.help .contact-area {
    height: 69vh;
  }

  .boxes .col-sm-3 {
    max-width: 183px;
  }
}
@media screen and (max-width: 389px) {
  .boxes .col-sm-3 {
    max-width: 235px;
  }
}
@media screen and (min-width: 1200px) {
  .boxes {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1399px) {
  .account-page.help .contact-area {
    height: 550px;
  }

  .account-page.message .wrap {
    height: calc(100vh - 146px);
  }
  .account-page.message .wrap .messages .message_area {
    height: calc(100vh - 369px);
  }
}
@media screen and (min-width: 576px) {
  .lower-screen {
    display: none !important;
  }
}

/*# sourceMappingURL=result_page.css.map */
