@import "footer";
@import "gnrl";

.br-1 {
  border-right: 1px solid #b2b2b2;
}

.my-account {
  padding: 10px 34px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  position: relative;
  margin-bottom: 19px;

  &:hover {
    color: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 38px;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-top-color: #000;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
  }
}

select.form-select {
  color: #565656;
  font-size: 13px;
  background-position: right 16px center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  border: 1px solid #565656;
  padding: 7px 35px 8px 16px;
}


#detail {
  background-color: rgb(100 120 253 / 0.7);
  z-index: 99999;

  .modal-dialog {
    margin-top: 75px;

    .modal-content {
      margin: 0 auto;
      border-radius: 31px;
      width: 350px;

      .btn-close {
        position: absolute;
        top: -27px;
        background-color: #fff;
        opacity: 1;
        border-radius: 50%;
        font-size: 10px;
        padding: 9px;
        right: -28px;
      }

      .display-card {
        padding: 14px 26px 26px;
        color: #000;

        .favorite > div {
          max-width: 54px;
          margin-left: auto;

          .img {
            background-image: url("../image/kalpicibos.svg");
            width: 25px;
            height: 23px;
            margin: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
              background-image: url("../image/kalpkirmizi.svg");
            }
          }

          p {
            text-align: center;
            font-family: "Panton SemiBold Italic";
            font-style: italic;
            font-size: 10px;
            line-height: 13px;
          }
        }

        .person {
          .person-wrap {
            width: 91px;
            height: 91px;
            border-radius: 50%;
            margin: auto;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .name {
          p {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            font-family: Panton Extra Bold;
            margin-top: 9px;
          }
        }

        .text {
          padding-bottom: 12px;
          border-bottom: 1px solid #c4c4c4;

          p {
            font-size: 13px;
            margin-bottom: 2px;

            &.text-bold {
              font-weight: bold;
              font-family: "Panton Extra Bold";
            }
          }
        }

        .description {
          margin-top: 18px;
          font-size: 13px;
        }

        .contact, .block {
          display: block;
          padding: 8px;
          text-align: center;
          border-radius: 31px;
          color: #fff;
          font-size: 15px;
          font-family: "Panton Extra Bold";
          margin-top: 8px;
        }

        .contact {
          background-color: #6cbe5d;

          &:hover {
            background-color: #6dc95b;
          }
        }

        .block {
          background-color: #d12e26;

          &:hover {
            background-color: #e1342b;
          }
        }
      }
    }
  }

}

#blocked {
  background-color: rgb(100 120 253 / 0.7);
  z-index: 99999;

  .modal-dialog {
    max-width: 650px;

    .modal-content {
      border-radius: 35px;

      .btn-close {
        position: absolute;
        top: -20px;
        right: -20px;
        background-color: #fff;
        opacity: 1;
        color: #000;
        font-size: 10px;
        padding: 7px;
        border-radius: 50%;

      }

      .modal-body {
        padding: 36px;

        .text-center {
          span {
            background-color: #d12e26;
            color: #fff;
            font-size: 16px;
            font-family: Panton Extra Bold;
            padding: 8px 15px;
            border-radius: 25px;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              border-top: #d12e26;
              border-right: transparent;
              border-left: transparent;
              border: 40px;
              bottom: -11px;
              left: 48%;
              border-top: 11px solid #d12e26;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
            }
          }
        }

        .profil {
          margin: 28px 0 7px;

          & > div {
            width: 92px;
            height: 92px;
            border-radius: 50%;
            margin: auto;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .name {
          font-size: 14px;
          font-family: "Panton Extra Bold";
        }

        .message-wrap {
          border: 1px solid #c5c5c5;
          border-radius: 31px;
          height: 190px;
        }
      }
    }
  }

}

#closeAccount {
  background-color: rgb(100 120 253 / 0.7);

  .modal-content {
    width: 245px;
    padding: 17px;
    border: none;
    border-radius: 20px;

    h3 {
      font-size: 15px;
      color: #000;
      font-family: "Panton Extra Bold";
      text-align: center;
    }

    p {
      font-size: 12px;
      color: #000;
      text-align: center;
      line-height: 16px;

    }

    a.general-btn {
      margin: 0;
      background-color: #939393;

      &:hover {
        background-color: #6478fd;
      }
    }

    button.general-btn {
      margin: 8px 0 0;
    }
  }
}

#infoOneModal, #infoTwoModal {
  background-color: rgb(100 120 253 / 0.7);

  .modal-dialog {
    justify-content: center;

    button {
      position: absolute;
      font-size: 12px;
      background-color: rgb(63, 63, 63);
      width: 20px;
      height: 20px;
      opacity: 1;
      border-radius: 50%;
      top: -8px;
      right: -9px;
      background-image: url("../image/carpi_iconu.png");
    }

    .modal-content {
      width: 310px;
      background-color: rgb(63, 63, 63);
      color: #fff;
      padding: 15px;
      font-size: 13px;
      border-radius: 20px;
      line-height: 17px;

      b {
        font-family: "Panton Extra Bold";
        margin-bottom: -10px;
        &.stay{
          margin-bottom: 10px;
        }
      }
    }
  }
}

#filterModal {
  background-color: rgb(100 120 253 / 0.7);

  .modal-content {
    border: none;
  }
}

.filter {
  display: block;
  top: 34px;
  width: 334px;
  border-radius: 20px;
  padding: 25px;
  border: none;

  .detail {
    padding: 6px 16px 5px;
    background-color: rgb(100, 120, 253);
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 12px;

    .circle {
      background-color: #fff;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      float: right;
      margin-right: -11px;
      margin-top: -2px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .select-box {
    select.form-select {
      color: #565656;
      font-size: 13px;
      background-position: right 16px center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      border: 1px solid #565656;
      padding: 7px 35px 8px 16px;
      width: 100%;
      margin: 0 0 8px 0;
    }
  }

  .check {
    h3 {
      font-size: 14px;
      font-family: 'Panton Extra Bold';
      margin-top: 12px;
      margin-bottom: 0px;
      position: relative;

      img[data-tool="rent"]:hover {
        & + #rent {
          display: inline-block;
        }
      }

      img[data-tool="accommodation"]:hover {
        & + #accommodation {
          display: inline-block;
        }
      }
    }

    .tooltips {
      b {
        font-size: 14px;
        padding-bottom: 5px;
        display: inline-block;
        font-family: "Panton Extra Bold";
      }

      position: absolute;
      left: 107px;
      top: -75px;
      font-size: 12px;
      width: 301px;
      background-color: #3f3f3f;
      color: #fff;
      padding: 14px 24px;
      border-radius: 20px;
      opacity: 0.95;
      display: none;
      font-family: "Panton";

      &#accommodation {
        left: 140px;
        top: -68px;
      }

      i {
        position: absolute;
        left: -9px;
        font-size: 29px;
        top: 42%;
        color: #3f3f3f;
      }
    }

    .gender {
      .form-check {
        &:nth-child(2) {
          margin-left: 24px;
        }

        &:nth-child(3) {
          margin-left: 35px;
        }
      }
    }

    .status {
      .form-check {
        &:nth-child(2) {
          margin-left: 12px;
        }

        &:nth-child(3) {
          margin-left: 27px;
        }
      }
    }

    .smoking {
      .form-check {
        &:nth-child(2) {
          margin-left: 30px;
        }

        &:nth-child(3) {
          margin-left: 38px;
        }
      }
    }

    .drinking {
      .form-check {
        &:nth-child(2) {
          margin-left: 30px;
        }

        &:nth-child(3) {
          margin-left: 38px;
        }
      }
    }

    .own-home {
      .form-check {
        &:nth-child(2) {
          margin-left: 36px;
        }
      }
    }

    .timing {
      .form-check {
        &:nth-child(2) {
          margin-left: 30px;
        }

        &:nth-child(3) {
          margin-left: 38px;
        }
      }
    }

    .form-check {
      margin-right: 25px;

      label {
        margin-left: -9px;
        font-size: 13px;
        font-family: "Panton Semi Bold";
      }
    }

    .form-check-input[type="radio"] {
      border-radius: 3px;
      background-color: transparent;
      border: 1px solid #777777;
      margin-top: 7px;
      width: 11px;
      height: 11px;

      &:checked {
        background-color: #6cbe5d;
        /*background-image: none;*/
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      }
    }

  }

  .hr {
    height: 1px;
    background: linear-gradient(37deg, rgba(205, 205, 205, 0) 0%, rgba(205, 205, 205, 0.9303318739605217) 16%, rgba(205, 205, 205, 0.9303318739605217) 84%, rgba(205, 205, 205, 0) 98%);
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .multi-range {
    margin: 0px 0px 30px;

    h3 {
      font-size: 14px;
      font-family: 'Panton Extra Bold';
      margin-top: 12px;
      margin-bottom: 0;
    }

    .slider-div {
      background-color: #eeeeee;

      .slider-wrapper {
        width: 94%;
        background-color: #eeeeee;

        #slider-range {
          background-color: #eeeeee;

          .ui-slider-range {
            .range-value {
              color: #000;
            }
          }
        }
      }
    }
  }

  .price-range {
    h3 {
      font-size: 14px;
      font-family: 'Panton Extra Bold';
      margin-top: 12px;
      margin-bottom: 4px;
    }

    input.form-control {
      color: #000000;
      border: 1px solid #939393;
      border-radius: 20px;
      font-size: 13px;

      &::placeholder {
        color: #939393;
      }

      &:focus {
        border: 1px solid #cdcdcd;

        &::placeholder {
          color: #cdcdcd;
        }
      }
    }
  }

  .btn-submit {
    margin-top: 22px;
    text-align: center;

    button {
      border-radius: 31px;
      background-color: #6478fd;
      border: none;
      padding: 11px 30px;
      color: #fff;
      font-size: 13px;
      font-family: "Panton Extra Bold";

      &:hover {
        background-color: #7288ff;
      }
    }
  }
}

.general-btn {
  border-radius: 23px;
  padding: 7px 30px 8px;
  border: none;
  background-color: #6478fd;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 5px;
  color: white;
  font-size: 13px;
  text-decoration: none;
  /*height: 31px;*/
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #7288ff;;
    color: #fff;
  }

  &.login {
    font-family: "Panton Semi Bold";
    width: 108px;
    font-size: 12px;
    margin-left: 0;
    padding: 9px 30px 9px;
    margin-right: 0;
  }
}

.boxes {
  margin-top: 10px;
  min-height: calc(100vh - 133px);

  .col-sm-3 {
    width: 218px;
  }

  .text .col-4 {
    padding: 0;
  }

  .row {
    margin: 0;

    .bg-light-gray {
      background-color: #eeeeee;
      border-radius: 25px;
      position: relative;
      padding: 30px 22px 0px;
      text-align: center;
      margin-bottom: 36px;

      .ticket {
        position: absolute;
        left: 24px;
        top: 0;

        img {
          height: 31px;
          width: 26px;
        }
      }

      .person {
        .person-wrap {
          width: 91px;
          height: 93px;
          border-radius: 50%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          /*outline: 2px solid #6cbe5d;*/
          &.br {
            border: 4px solid #6cbe5d;
          }

          img {
            height: 102%;
            width: 100%;
            object-position: center;
            object-fit: cover;
          }
        }
      }

      .name {
        font-family: "Panton Extra Bold";
        font-size: 14px;
        margin-top: 6px;

        p {
          margin-bottom: 6px;
        }
      }

      .favorite {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 36px;
        height: 21px;
        text-align: center;

        p {
          font-family: "Panton SemiBold Italic";
          font-size: 10px;
          line-height: 10px;
          margin-top: -2px;
          font-style: italic;
        }

        .img {
          background-image: url("../image/kalpicibos.svg");
          width: 23px;
          height: 23px;
          margin: 0 auto;

          &:hover {
            background-image: url("../image/kalpkirmizi.svg");
          }
        }
      }

      .text {
        margin-bottom: -26px;

        .text-thin {
          font-size: 13px;
          text-align: start;
          margin-bottom: 1px;
          color: #000;
        }

        .text-bold {
          font-size: 13px;
          text-align: start;
          margin-bottom: 1px;
          font-weight: 900;
          font-family: "Panton Extra Bold";
          color: #000;
        }
      }

      .person-link {
        position: relative;
        top: 14px;
        width: 122px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 25px 7px;
        /*height: 31px;*/
        background-color: #6cbe5d;
        border-radius: 25px;
        text-decoration: none;
        margin: 20px auto 0;
        color: #fff;
        font-size: 13px;
        font-family: Panton Extra Bold;

        &:hover {
          background-color: #6dc95b;
        }
      }
    }
  }
}

.single-page {
  height: calc(100vh - 123px);
  color: #000;

  .single-page-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    img {
      max-width: 96px;
      margin-left: -35px;
    }

    p {
      font-family: "Panton Extra Bold";
      font-size: 22px;
      color: #6478fd;
      max-width: 240px;
      text-align: center;
      margin-top: 15px;
      line-height: 24px;
    }

    .single-page-btn {
      width: 145px;
      height: 40px;
      color: #fff;
      background-color: #6478fd;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Panton Extra Bold";
      font-size: 13px;
      text-decoration: none;
      border-radius: 20px;

      &:hover {
        background-color: #7288ff;
      }
    }
  }

  .text-wrapper {
    h1 {
      font-size: 23px;
      font-family: "Panton Extra Bold";
    }

    p {
      font-size: 15px;
      line-height: 20px;

      a.purple {
        color: #6478fd;
      }

      a {
        color: #000;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .social {
    text-align: center;
    margin-top: 100px;

    p {
      font-size: 11px;
      font-family: "Panton Semi Bold";
      color: #939393;
      width: 163px;
      margin: auto;
      line-height: 12px;
    }

    .social_media {
      margin-top: 9px;
      display: flex;
      justify-content: center;
      color: #939393;

      .icon {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b3b3b3;
        border-radius: 50%;

        a {
          color: #b3b3b3;

          &:hover {
            color: #939393;
          }
        }
      }
    }
  }

  .big-img {
    width: 100%;
    margin: 45px 0 20px;
  }

  .campaigns-detail-btn{
    font-family: "Panton Extra Bold";
  }
}

.account-page {
  margin-top: 20px;
  min-height: calc(100vh - 143px);

  .drop-select {
    ul {
      inset: 0 0 auto auto !important;
      text-align: end;
      font-size: 13px;
      border: none;
      padding: 0;

      a {
        color: #939393;
        padding-top: 0;
        padding-bottom: 0;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }

    .dropdown-toggle {
      color: #939393;
      /*background-color: #fff;*/
      border: none;
      font-size: 13px;

      &:after {
        margin-bottom: -1px;
      }

      &:hover {
        color: #000;
      }
    }
  }

  .col-title {
    font-size: 18px;
    font-family: "Panton Extra Bold";
    color: #3f3f3f;
  }

  .contact-rule {
    a {
      padding: 8px 23px 7px;
      text-align: center;
      line-height: 12px;
      font-size: 10px;
      background-color: #d12e26;
      border-radius: 31px;
      font-family: Panton Extra Bold;
      color: #fff;
      display: inline-block;

      &:hover {
        background-color: #e1342b;
      }

    }

    &.success {
      a {
        background-color: #6cbe5d;
        display: flex;
        align-items: center;
        text-align: left;

        p {
          margin: 0 4px 0 0;
          font-size: 22px;
        }
      }
    }
  }

  .menu {
    border-right: 1px solid #b2b2b2;

    & > div {
      margin-bottom: 10px;

      img {
        width: 23px;
        margin-bottom: 3px;
        /*margin-right: -6px;*/
      }

      span {
        font-size: 13px;
        font-family: "Panton Semi Bold";

        a {
          color: #000;

          &:hover {
            color: #666666;
          }
        }
      }
    }
  }

  .review {
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      max-width: 105px;
    }

    h3 {
      font-size: 22px;
      font-family: "Panton Extra Bold";
      line-height: 27px;
      margin: 10px 0 2px;
    }

    p {
      max-width: 380px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .account-close {
    font-size: 13px;

    a {
      color: #939393;
    }
  }
}

.account-page.personal-card {
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    flex-wrap: wrap;

    p {
      margin-bottom: 0;
    }

    span {
      font-size: 11px;
      background-color: #6cbe5d;
      color: #fff;
      font-weight: bold;
      padding: 3px 8px 2px;
      border-radius: 15px;
      margin-left: 7px;

      &.yellow {
        margin-left: 3px;
        background-color: #ffd54a;
        color: #000;
      }
    }
  }

  .personal-info {
    .name {
      font-size: 18px;
      font-family: "Panton Extra Bold";
      color: #3f3f3f;
      margin-bottom: 12px;
    }

    .check-confirm input {
      width: 13px;
      height: 10px;
    }

    .tooltips {
      b {
        font-size: 14px;
        padding-bottom: 5px;
        display: inline-block;
        font-family: "Panton Extra Bold";
      }

      position: absolute;
      right: -302px;
      top: -86px;
      font-size: 12px;
      width: 301px;
      background-color: #3f3f3f;
      color: #fff;
      padding: 14px 24px;
      border-radius: 20px;
      opacity: 1;
      z-index: 99;
      display: none;
      line-height: 17px;

      &#home {
        top: -86px;
      }

      i {
        position: absolute;
        left: -9px;
        font-size: 29px;
        top: 42%;
        color: #3f3f3f;
      }

    }
  }

  .profile-personal {
    span {
      font-size: 10px;
      padding-left: 14px;
      color: #9d9d9d;
      margin-top: 3px;
      display: block;
      line-height: 11px;
    }

    textarea {
      border-radius: 20px;
      border: 1px solid #c5c5c5;
      padding-left: 14px;
      font-size: 13px;
      color: #000;

      &:focus {
        &::placeholder {
          color: #cdcdcd;
        }

        border: 1px solid #c5c5c5;
        box-shadow: none;
      }
    }

    .file-wrap {
      padding-top: 10px;

      #img1, #img2, #img3, #img4 {
        display: none;
      }

      .file {
        width: 100%;
        height: 74px;
        background-color: #f2f2f2;
        border-radius: 25px;
        background-image: url("../image/resimyukle.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        a {
          display: none;
          width: 24px;
          height: 24px;
          background-color: red;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          z-index: 9;

          img {
            width: 80%;
            height: 80%;
          }
        }

        &:hover {
          a {
            display: flex;
          }

          background-image: url("");
        }

        &:hover:after {
          position: absolute;
          content: "";
          inset: 0;
          background-color: #000;
          opacity: 0.5;
          border-radius: 25px;
        }
      }
    }
  }

  .publish {
    font-size: 18px;
    font-family: "Panton Extra Bold";
    color: #3f3f3f;
    margin-bottom: 16px;
  }

  .display-card {
    .bg-light-gray {
      background-color: #eeeeee;
      border-radius: 25px;
      position: relative;
      padding: 18px;
      text-align: center;
      margin-bottom: 11px;

      .swiper-pagination {
        bottom: -19px;

        .swiper-pagination-bullet-active {
          background-color: #939393;
        }
      }

      .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 17px;
        color: #939393;
      }

      .favorite {
        display: flex;
        justify-content: space-between;

        span {
          background-color: #d12e26;
          padding: 4px 10px;
          font-size: 11px;
          font-family: "Panton Extra Bold";
          color: #fff;
          border-radius: 20px;
        }

        .img {
          background-image: url(../image/kalpicibos.svg);
          width: 22px;
          height: 20px;
          margin: auto;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-image: url(../image/kalpkirmizi.svg);
          }
        }

        p {
          margin-top: 1px !important;
          font-family: "Panton SemiBold Italic";
          font-size: 10px;
          line-height: 10px;
          margin-top: -2px;
          font-style: italic;
          text-align: center;
          width: 41px;
        }
      }
    }

    .person {
      .person-wrap {
        width: 92px;
        height: 92px;
        border-radius: 50%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .name {
      p {
        font-size: 18px;
        font-family: "Panton Extra Bold";
        color: #000;
        margin-top: 9px;
      }
    }

    .text {
      margin-left: 16px;
      text-align: left;
      border-bottom: 1px solid #999999;
      padding-bottom: 9px;
      margin-bottom: 13px;

      .text-thin {
        font-size: 13px;
        color: #000;
        margin-bottom: 5px;
      }

      .text-bold {
        margin-bottom: 5px;
        font-weight: bold;
        color: #000;
        font-size: 13px;
        font-family: "Panton Extra Bold";
      }
    }

    .description {
      margin-left: 16px;
      text-align: left;
      font-size: 13px;
      line-height: 17px;
    }

    .img-container {
      display: flex;
      justify-content: space-between;
      margin: 0 16px 10px;

      div {
        width: 70px;
        height: 70px;
        border-radius: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .btn-smt {
      a {
        display: block;
        padding: 11px 0 10px;
        border-radius: 25px;
        text-align: center;
        color: #fff;
        background-color: #6cbe5d !important;
        font-size: 13px;
        font-family: Panton Extra Bold;

        &:hover {
          background-color: #6dc95b !important;
        }
      }
    }
  }
}
.sortable{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6478fd;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: all 0.5s ease-in;
  transform: translateY(100%);
  &.active{
    transform: translateY(0);
  }
  .sort-wrap{
    padding: 15px 45px 20px;
    position: relative;
    h5{
      font-size: 15px;
      font-family: Panton Extra Bold;
      color: #fff;
      text-align: center;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
    li{
      a{
        display: inline-block;
        color: #fff;
        padding: 5px 0;
      }
    }
    }
    img{
      position: absolute;
      right: 20px;
      top: 19px;
      width: 11px;
    }
  }
}

.account-page.packages {
  .col-text {
    font-size: 17px;
    margin-top: -18px;
  }

  .item {
    width: 100%;
    border: 1px solid #c6c6c6;
    border-radius: 31px;
    padding-bottom: 13px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .title {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3f3f3f;
      border-top-left-radius: 31px;
      border-top-right-radius: 31px;

      h4 {
        font-size: 14px;
        color: #fff;
        font-family: "Panton Extra Bold";
        margin-bottom: 0;
      }
    }

    .body {
      text-align: center;
      margin: 14px 0 20px;

      p {
        color: #3f3f3f;
        font-size: 20px;
        font-family: "Panton Semi Bold";

        span {
          font-family: "Panton Extra Bold";
          font-size: 60px;
        }
      }
    }

    .features {
      padding-left: 13px;
      margin-top: -15px;
      padding-right: 13px;

      p {
        display: flex;
        align-items: start;
        margin-bottom: 9px;

        img {
          width: 18px;
          margin-right: 3px;
        }

        span {
          font-size: 13px;
          color: #3f3f3f;
          font-weight: bold;
          display: inline-block;
        }
      }
    }

    .info {
      /*margin-bottom: 83px;*/
      color: #939393;
      font-size: 12px;
      padding: 0 31px;
      margin-top: -10px;
      line-height: 14px;
    }

    .footer-btn {
      padding: 0 13px;
      /*margin-top: 35px;*/
      /*position: absolute;
      width: 94%;*/
      bottom: 13px;

      a {
        display: block;
        background-color: #6cbe5d;
        border-radius: 31px;
        padding: 12px;
        text-align: center;
        color: #fff;
        font-size: 13px;
        font-family: 'Panton Extra Bold';

        &:hover {
          background-color: #6dc95b;
        }
      }
    }
  }
}

.account-page.card-product {
  .product {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b2b2b2;
    padding: 6px 19px 6px 13px;
    height: 72px;

    .col-left {
      display: flex;
      align-items: center;

      img {
        width: 50px;
      }

      .check-confirm {
        margin-bottom: -8px;

        .form-check-input {
          width: 13px;
          height: 13px;
          border-radius: 3px !important;

          &:checked {
            background-color: #6478fd;
          }
        }
      }

      .img {
        width: 56px;
        height: auto;
      }

      p {
        margin: 0 8px -3px;
        color: #000;
        font-weight: bold;
        font-size: 13px;

        span {
          font-weight: normal;
        }
      }
    }

    .col-right {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: #000;
      font-size: 13px;

      .numeration {
        border: 1px solid #bbb;
        border-radius: 31px;
        margin-right: 17px;

        a {
          padding: 7px 8px;
          display: inline-block;
          background-color: #bbbbbb;
          color: #fff;

          &:hover {
            background-color: #9b9b9b;
          }

          &.minus {
            border-top-left-radius: 31px;
            border-bottom-left-radius: 31px;
          }

          &.plus {
            border-top-right-radius: 31px;
            border-bottom-right-radius: 31px;
          }
        }

        span {
          padding: 7px;
          display: inline-block;
        }
      }

      .delete {
        width: 31px;
        height: 31px;
        background-color: #d12e26;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 17px;

        img {
          width: 75%;
        }

        &:hover {
          background-color: #e1342b;
        }
      }
    }

    &.bb-1 {
      border-bottom: 1px solid #b2b2b2;
    }
  }

  .order {
    color: #000;
    margin-top: 20px;

    .title {
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 5px;
      font-family: "Panton Extra Bold";
    }

    .order-item {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      margin-bottom: 5px;

      b {
        font-family: "Panton Extra Bold";
      }
    }

    button {
      padding: 13px;
      width: 100%;
      background-color: #6cbe5d;
      color: #fff;
      font-family: "Panton Extra Bold";
      border-radius: 31px;
      border: none;
      font-size: 13px;
      margin-top: 10px;

      &:hover {
        background-color: #6dc95b;
      }
    }
  }
}

.account-page.card-product.publication {
  .button-list {
    margin-bottom: 20px;

    .add {
      background-image: url("../image/ilanekle.svg");
      background-size: 24px;

      &:hover {
        background-color: #6dc95b;
      }
    }

    .publish {
      background-image: url("../image/yayinla.svg");
      background-size: 8px;
      background-position: 16px 13px;

      &:hover {
        background-color: #6cbe5d;
      }
    }

    .stop {
      background-image: url("../image/durdur.svg");
      background-size: 8px;
      background-position: 16px 13px;

      &:hover {
        background-color: #d12e26;
      }
    }

    .delete {
      background-image: url("../image/copkutusu.svg");
      background-size: 20px;
      background-position: 10px 9px;

      &:hover {
        background-color: #d12e26;
      }
    }

    a {
      padding: 10px 24px 9px 32px;
      display: inline-block;
      font-size: 12px;
      color: #fff;
      font-family: Panton Extra Bold;
      background-color: #6cbe5d;
      border-radius: 25px;
      background-repeat: no-repeat;
      background-position: 7px 6px;

      &.bg-light-gray {
        background-color: #c0c0c0;
      }
    }
  }

  .col-right {
    .delete {
      margin-left: 7px;
    }

    .edit {
      width: 31px;
      height: 31px;
      background-color: #6478fd;
      border-radius: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 17px;

      &:hover {
        background-color: #7288ff;
      }

      img {
        width: 75%;
      }
    }
  }

  .col-left {
    img {
      border-radius: 20px;
    }

    .small-info {
      font-size: 11px;
      font-weight: bold;
      padding: 2px 8px;
      background-color: #6cbe5d;
      border-radius: 25px;
      margin: 0 0px 0px 2px;
      display: inline-block;
      color: #fff;

      &:first-child {
        margin-left: 8px;
      }

      &.danger {
        background-color: #d12e26;
      }

      &.warning {
        background-color: #ffd54a;
        color: #000;
      }
    }
  }
}

.account-page.campaigns {
  .col-text {
    font-size: 17px;
    margin-top: -18px;
  }

  .item {
    width: 100%;
    height: 419px;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 26px;
    text-align: center;

    .img_wrap {
      height: 29px;
      margin-bottom: 9px;

      img {
        height: 100%;
        width: auto;
      }
    }

    p {
      font-size: 17px;
      color: #fff;
      font-weight: bold;
      font-family: 'Panton Semi Bold';
      margin-bottom: 12px;
      line-height: 22px;
    }

    a {
      padding: 6px 13px;
      background-color: #000;
      color: #fff;
      border-radius: 25px;
      font-size: 12px;
      font-family: "Panton Semi Bold";

      &:hover {
        background-color: #121212;
      }
    }
  }
}

.account-page.favorite-contacts {
  .favorite-wrap {
    width: 100%;
    padding: 5px 18px 5px 5px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    align-items: center;

    .col-left {
      display: flex;
      align-items: center;

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
      }

      p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: bold;
        font-family: Panton Extra Bold;
        margin-left: 6px;
      }
    }

    .col-right {
      display: flex;
      align-items: center;

      .link {
        padding: 8px 20px;
        background-color: #6cbe5d;
        border-radius: 31px;
        font-size: 13px;
        font-family: "Panton Semi Bold";
        color: #fff;

        &:hover {
          background-color: #6dc95b;
        }
      }

      .person {
        width: 35.5px;
        height: 35.5px;
        border-radius: 50%;
        margin-left: 7px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 75%;
        }

        &.see {
          background-color: #6478fd;

          &:hover {
            background-color: #7288ff;
          }
        }

        &.delete {
          background-color: #d12e26;

          &:hover {
            background-color: #e1342b;
          }
        }

        &.lower-screen {
          background-color: #6cbe5d;

          &:hover {
            background-color: #6dc95b;
          }
        }
      }
    }
  }
}

.account-page.favorite-contacts.blocked {
  .link {
    background-color: #d12e26 !important;

    &:hover {
      background-color: #e1342b !important;
    }
  }
}

.account-page.help {
  .contact-area {
    border-radius: 31px;
    border: 1px solid #c5c5c5;
    height: 388px;
    padding: 9px;
  }
}

.message_send {
  margin-top: 11px;
  border-radius: 31px;
  border: 1px solid #c5c5c5;
  padding: 9px;
  display: flex;
  align-items: center;

  .person-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
      width: 87%;
      border: none;
      padding-left: 8px;
      font-size: 13px;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;

        &::placeholder {
          color: #cdcdcd;
          font-size: 13px;
        }
      }
    }

    button {
      border: none;
      padding: 10px 32px;
      border-radius: 31px;
      color: #fff;
      background-color: #6478fd;
      font-size: 13px;
      font-family: 'Panton Semi Bold';

      &:hover {
        background-color: #7288ff;
      }
    }
  }
}

.account-page.message {
  .menu {
    border-right: 1px solid #c5c5c5;
  }

  .wrap {
    border: 1px solid #c5c5c5;
    /*height: 76vh;*/
    border-radius: 31px;

    .messages {
      padding: 21px;

      .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 29px 8px 10px;
        background-color: #eeeeee;
        border-radius: 65px;

        .col-left {
          display: flex;
          align-items: center;

          .img_wrap {
            width: 93px;
            height: 93px;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          p {
            margin-bottom: 0;
            font-weight: bold;
            font-size: 14px;
            font-family: 'Panton Extra Bold';
            margin-left: 13px;
          }
        }

        .col-right {
          display: flex;
          align-items: center;

          .like {
            width: 35.4px;
            height: 35.4px;
            border-radius: 50%;
            background-color: #939393;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: #d12e26;
            }

            img {
              width: 15px;
            }
          }

          .link {
            padding: 8px 32px;
            background-color: #6cbe5d;
            border-radius: 31px;
            font-size: 13px;
            font-family: "Panton Semi Bold";
            color: #fff;
            margin-left: 8px;

            &:hover {
              background-color: #6dc95b;
            }

            &.red {
              background-color: #d12e26;

              &:hover {
                background-color: #e1342b;
              }
            }
          }
        }
      }

      .message_area {
        height: 45vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .message-wrap {
          display: flex;
          align-items: center;
          max-width: 50%;

          img {
            width: 32px;
            height: 32px;
            object-fit: cover;
          }

          span {
            font-size: 13px;
            font-family: "Panton Semi Bold";
            margin-left: 7px;
            padding: 7px 15px;
            line-height: 15px;
            background-color: #eeeeee;
            border-radius: 31px;
          }
        }

        .me {
          justify-content: end;
          margin-left: auto;

          span {
            background-color: #6478fd;
            color: #fff;
            margin-left: 0px;
            margin-right: 7px;
          }
        }
      }
    }

    .person-list {
      padding: 21px;

      .search {
        justify-content: space-between;
        display: flex;
        border: 1px solid #c5c5c5;
        border-radius: 31px;
        align-items: center;
        padding: 8px 13px;

        img {
          width: 14px;
          height: 14px;
        }

        form {
          width: 90%;

          input {
            width: 100%;
            border: none;
            border-radius: 31px;
            font-size: 14px;

            &::placeholder {
              color: #939393;
            }

            &:focus {
              outline: 0;

              &::placeholder {
                color: #cdcdcd;
              }
            }
          }
        }
      }

      .friends {
        margin-top: 16px;
        display: flex;
        align-items: center;

        img {
          width: 44px;
          height: 44px;
          object-fit: cover;
        }

        p {
          margin-bottom: 0;
          font-size: 13px;
          color: #7f7f7f;
          font-family: "Panton Semi Bold";
          margin-left: 7px;

          &.bold {
            color: #000;
            font-weight: bold;
          }
        }

        .person-list-link {
          margin-left: auto;
          display: flex;

          a {
            width: 21px;
            height: 21px;
            background-color: #7f7f7f;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 7px;

            &:hover {
              background-color: #d12e26;
            }

            &:nth-child(1) {
              &:hover {
                background-color: #6cbe5d;
              }
            }

            img {
              width: 90%;
              height: 90%;
            }
          }
        }
      }
    }
  }
}


.profile {
  width: 117px;
  height: 118px;
  background-image: url("../image/profil.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;

  &:hover::after {
    content: "";
    background-image: url("../image/fotografcek.svg");
    background-size: 25px 27px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    inset: 0;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.5;
  }
}

#profile {
  display: none;
}

#crop {
  h5 {
    font-size: 13px;
    font-weight: 900;
    margin-top: 25px;
    font-family: Panton Extra Bold;
  }

  p {
    padding: 0 94px;
    color: #a7a7a7;
    font-size: 13px;
    line-height: 1;
  }

  .modal-dialog {
    width: fit-content;

    .modal-content {
      background-color: #fff;
      border-radius: 70px;

      .btn-close {
        right: -20px;
        top: -20px;
        font-size: 11px;
        background-color: #fff;
        opacity: 1;
        padding: 9px;
        border-radius: 50%;
        color: #000;
      }
    }

    .modal-footer {
      button {
        background-color: #6478fd;
        color: white;
        border-radius: 20px;
        padding: 8px 40px;
        &:hover{
          background-color: #7288ff;
        }
      }
    }
  }

  .img-container {
    min-width: 320px;
    max-height: 500px;
  }

  button.btn-close {
    right: 0;
    z-index: 999;

    &:focus {
      box-shadow: none;
      border: none;
    }
  }

  .modal-footer {
    border: none;
  }
}

#image {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
  width: 100%;
}

.profile-personal {
  select.form-select {
    height: 35px;
    border: 1px solid #c5c5c5;
    color: #939393;
    background-image: url("../image/arrow-down-sign-to-navigate.png");
    background-size: 10px 10px;
    background-position: right 14px center;
    padding-left: 14px;
    font-size: 13px;
    font-family: "Panton";

    &:focus {
      color: #cdcdcd;
      border: 1px solid #c5c5c5;
    }
  }

  input.form-control {
    height: 35px;
    color: #000;
    border: 1px solid #c5c5c5;
    padding-left: 14px;
    font-size: 13px;

    &::placeholder {
      color: #939393;
    }

    &:focus {
      border-color: #cdcdcd;

      &::placeholder {
        color: #cdcdcd;
      }
    }
  }

  .female, .male {
    input {
      height: 35px;
    }

    input[type="radio"]:checked {
      /*border: 2px solid #6478fd;*/
      &:after {
        content: "";
        position: absolute;
        top: 10%;
        right: 4px;
        width: 27px;
        height: 27px;
        background-image: url("../image/onayisaresi.svg");
      }
    }

    label {
      margin-top: -29px;
      position: absolute;
      color: #939393;
      left: 48px;
      font-size: 13px;
    }
  }

  #female {
    background: url("../image/kadin_icon.png") no-repeat left;
    background-size: 13px;
    background-position: 17px;
    padding-left: 20px;
    position: relative;

  }

  #male {
    background: url("../image/erkek_icon.png") no-repeat left;
    background-size: 13px;
    background-position: 17px;
    padding-left: 20px;
    position: relative;
  }

  .update {
    margin-top: 13px;

    a {
      width: 100%;
      background-color: #939393;
      color: #fff;
      display: inline-block;
      text-align: center;
      padding: 11px 0 10px;
      border-radius: 31px;
      font-size: 13px;
      font-family: "Panton Extra Bold";

      &:hover {
        background-color: #596efa;
      }
    }

    &.active {
      a {
        background-color: #6478fd;
      }
    }
  }

  img.info {
    position: absolute;
    width: 18px;
    bottom: 28%;
    right: 31px;

    &.homes:hover {
      & + .tooltips {
        display: inline-block;
      }
    }

    &.guess:hover {
      & + .tooltips {
        display: inline-block;
      }
    }
  }
}

form.contact {
  input.form-control {
    height: 40px;
    color: #000;
    border: 1px solid #c5c5c5;
    padding-left: 14px;
    font-size: 13px;

    &::placeholder {
      color: #939393;
    }

    &:focus {
      border-color: #cdcdcd;

      &::placeholder {
        color: #cdcdcd;
      }
    }
  }

  textarea.form-control {
    color: #000;
    border: 1px solid #c5c5c5;
    padding-left: 14px;
    font-size: 13px;
    resize: none;
    border-radius: 20px;

    &::placeholder {
      color: #939393;
    }

    &:focus {
      border-color: #cdcdcd;
      box-shadow: none;

      &::placeholder {
        color: #cdcdcd;
      }
    }
  }

  a {
    display: inline-block;
    padding: 7px 86px 8px;
  }

  button {
    font-family: "Panton Extra Bold";
  }
}

input.form-check-input[type=checkbox]:checked {
  background-color: #9ebf43;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .25);
}

input.form-check-input[type=checkbox]:focus {
  box-shadow: none;
}

.check-confirm {
  display: flex;

  input {
    width: 11px;
    height: 11px;
    margin-top: 3px;
    border-radius: 0px !important;
  }

  label {
    margin-top: 2px;
    padding-top: 0;
    padding-left: 3px;
    color: #939393;
    font-size: 12px;
    line-height: 14px;
    font-family: "Panton Semi Bold";

    a {
      color: #000;
    }
  }
}

#blogModal {
  button {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    padding: 6px;
    margin: 10px 6px;
    font-size: 12px;
    opacity: 1;
    right: -37px;
    top: -37px;
  }

  img {
    width: 100%;
  }
}

.blog {
  margin-top: 20px;

  .date {
    text-align: end;
    color: #939393;
    font-size: 12px;
    font-family: 'Panton Semi Bold';

    span:nth-child(1) {
      margin-bottom: -4px;
    }
  }

  .br {
    margin-top: 6px;
    margin-bottom: 22px;
    padding: 0 12px;

    div {
      border-bottom: 1px solid #cccccc;
    }
  }

  .col-big {
    .main-image {
      border-radius: 25px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 32%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7510601652770483) 0%, rgba(0, 0, 0, 0.6810321540725666) 25%, rgba(0, 0, 0, 0.25246072550113796) 79%, rgba(0, 0, 0, 0) 98%);
      }

      img {
        width: 100%;
        border-radius: 20px;
      }

      p {
        position: absolute;
        left: 27px;
        bottom: 20px;
        color: #fff;
        font-size: 29px;
        font-weight: 900;
        padding-right: 120px;
        z-index: 9;
        line-height: 34px;
        font-family: "Panton Extra Bold";
      }
    }

    .swiper-pagination {
      bottom: -23px;

      .swiper-pagination-bullet {
        background-color: #cacaca;
        opacity: 0.8;

        &.swiper-pagination-bullet-active {
          background-color: #727272;
        }
      }

    }
  }

  .col-small {
    height: 100%;
    display: flex;
    flex-direction: column;

    .h-60 {
      height: 60%;
      background-color: #f2f2f2;
      border-radius: 20px;
      padding: 9px;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        object-position: center;
        border-radius: 12px;

      }
    }

    .row {
      margin-top: 5%;
      height: 36%;

      .wrap {
        position: relative;
        height: 100%;

        img {
          width: 100%;
          height: 75%;
          object-fit: cover;
          border-radius: 20px;
        }

        p {
          font-size: 16px;
          font-family: Panton Extra Bold;
          line-height: 19px;
          margin-bottom: 0;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .col-wrap {
    margin-top: 28px;

    .col-wrap-img {
      border-radius: 20px;

      img {
        width: 100%;
        max-height: 217px;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    span {
      margin-top: 7px;
      padding: 4px 7px 2px;
      background-color: #e69632;
      border-radius: 20px;
      font-size: 10px;
      font-family: "Panton Semi Bold";
      color: #fff;
      width: 70px;
      display: flex;
      justify-content: center;

      &.bg-blue {
        background-color: #009cdd;
      }

      &.bg-light-blue {
        background-color: #76c2ec;
      }

      &.bg-dark-pink {
        background-color: #cb0ef3;
      }

      &.bg-gray {
        background-color: #757575;
      }

      &.bg-purple {
        background-color: #667af5;
      }

      &.bg-green {
        background-color: #85b545;
      }

      &.bg-red {
        background-color: #d12e26;
      }
    }

    p {
      font-size: 16px;
      font-family: Panton Extra Bold;
      padding-right: 75px;
      line-height: 19px;
      margin-top: 3px;
      color: #000;
    }
  }

  .dividing {
    font-family: 'Panton Extra Bold';
    color: #fff;
    background-color: #6478fd;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    margin: 4px 0 -6px;
  }
}

.blog.blog-detail {
  .dividing {
    height: fit-content;
    margin: 19px 0px 11px;
  }

  .col-big {
    border-right: 1px solid #939393;

    .main-image:after {
      background: none;
    }

    .news-title {
      font-size: 25px;
      font-family: "Panton Extra Bold";
      color: #000;
      line-height: 27px;
      margin: 17px 0;
    }

    .news-content {
      color: #000;
      font-size: 15px;

      img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
      }
    }
  }

  .col-small {
    .h-60 {
      height: auto;

      img {
        border-radius: 12px;
      }
    }

    .row.col-wrap {
      margin-top: 0;
    }
  }

  .reklam{
    height: 200px;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

.mobile-view {
  position: fixed;
  height: 100vh;
  background-color: #fff;
  inset: 0;
  transform: translateX(100%);

  .wrap {
    height: 100vh;

    .messages {
      .banner {
        padding: 8px 19px 8px 10px !important;

        .col-left {
          .img_wrap {
            height: 65px !important;
            width: 65px !important;
          }
        }
      }

      .message_area {
        height: 55vh !important;

        .message-wrap {
          max-width: 85% !important;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .account-page.message {
    .wrap {
      border: none;
    }

    .br-1 {
      border: none;
      position: inherit;
    }
  }

  .account-page {
    .btn-holder {
      display: none;
    }

    .menu {
      display: none;
    }
  }
  .profile {
    margin: 0 auto 22px;
  }
  .account-page.help {
    .contact-area {
      height: 471px;
    }
  }
  .col-small {
    .h-60 {
      order: 2;
    }
  }
  .blog.blog-detail {
    .col-small {
      .h-60 {
        order: 0;
      }
    }

    .col-big {
      border-right: none;
    }
  }
  .account-page {
    &.warning {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .account-page.packages .item {
    .info {
      margin-bottom: 0;
    }

    .footer-btn {
      position: initial;
      width: 100%;
    }
  }

  .account-page.campaigns {
    .item {
      height: 548px;
    }
  }
  .account-page.personal-card {
    .publish {
      text-align: center;
      margin-top: 10px;
    }

    .head {
      p {
        width: 100%;
      }

      div {
        width: 100%;
        text-align: center;
      }
    }

    .personal-info {
      .name {
        text-align: center;
        margin-top: -12px;
      }
    }

    .profile-personal .file-wrap .file {
      height: 110px;
      background-size: 34%;
    }
  }
}

@media screen and (max-width: 576px) {
  .account-page.personal-card{
    .publish{
      margin-top: 29px
    }
    .display-card{
      margin-bottom: 125px;
    }
  }
  .message-footer{
    display: none;
  }
  #filterModal{
    background-color: #fff;
    .modal-dialog{
      height: 100%;
      margin-bottom: 215px;
    }
  ;
  }
  #blogModal button {
    background-color: rgb(255, 255, 255, 0.5);
    right: 0px;
    top: -4px;
  }
  .account-page.card-product.publication {
    .col-left p {
      width: 200px !important;
    }

    .col-right .edit {
      margin-left: 3px;
    }
  }
  .account-page.card-product.publication .button-list .publish {
    height: 38px;
    width: 38px;
    padding: 0;
    margin-left: 7px;
    background-position: center;
  }
  .account-page.card-product.publication .button-list a.bg-light-gray {
    height: 38px;
    width: 38px;
    padding: 0;
    margin-left: 7px;
    background-position: center;
  }
  .account-page.help {
    .contact-area {
      height: 72vh;
      border: none;
    }
  }
  #blocked .modal-dialog .modal-content .btn-close {
    right: 0;
    top: -95px;
  }
  .filter {
    width: 100%;
  }
  .blog .col-big .main-image p {
    font-size: 20px;
    padding-right: 25px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .blog .col-small .row .wrap p {
    height: 25px;
  }
  .blog .col-wrap p {
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
  .big-screen {
    display: none !important;
  }
  .profile-personal {
    margin-bottom: 40px;
  }
  .br-1 {
    border-right: none;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 1px;
      left: 12px;
      bottom: 0;
      width: calc(100% - 24px);
      background-color: #b2b2b2;

    }
  }
  .mb-6 {
    margin-bottom: 4rem;
  }
  .account-page.campaigns {
    .row.g-3 {
      margin-bottom: 100px;
    }
  }
  .account-page.card-product .product {
    padding: 6px 10px 6px 10px;

    .col-left {
      img {
        width: 35px;
      }

      p {
        font-size: 11px;
        margin: 0 7px -3px;
        width: 130px;
      }
    }

    .col-right {
      font-size: 11px;

      .numeration {
        margin-right: 7px;

        a {
          padding: 5px 6px;
        }

        span {
          padding: 4px;
        }
      }

      .delete {
        width: 26px;
        height: 26px;
        margin-left: 7px;
      }
    }
  }
  #crop .modal-dialog .modal-content{
    margin: 0 15px;
    .btn-close{
      right: -9px;
    }
  ;
  }
  .padding-0{
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .boxes {
    .col-sm-3 {
      max-width: 194px;
    }
  }

}

@media screen and (max-width: 400px) {
  .mobile-view .wrap .messages .message_area {
    height: 52vh !important;
  }
  .boxes {
    .row .bg-light-gray .name {
      font-size: 13px;
    }

    .col-sm-3 {
      max-width: 183px;
    }
  }
  #detail .modal-dialog .modal-content .btn-close {
    right: -9px;
  }
}

@media screen and (max-width: 390px) {
  .account-page.help {
    .contact-area {
      height: 69vh;
    }
  }
  .boxes {
    .col-sm-3 {
      max-width: 183px;
    }
  }
}
@media screen and (max-width: 389px) {
  .boxes {
    .col-sm-3 {
      max-width: 235px;
    }
  }
}
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

  .boxes {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1399px) {
  .account-page.help .contact-area {
    height: 550px;
  }
  .account-page.message .wrap {
    height: calc(100vh - 146px);

    .messages {
      .message_area {
        height: calc(100vh - 369px);
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .lower-screen {
    display: none !important;
  }
}