@font-face {
  font-family: "Panton ExtraBold Italic";
  src: url("../fonts/panton/Fontfabric - Panton ExtraBold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Panton SemiBold Italic";
  src: url("../fonts/panton/Fontfabric - Panton SemiBold Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Panton";
  src: url("../fonts/panton/Fontfabric - Panton.otf");
  font-style: normal;
}
@font-face {
  font-family: "Panton Extra Bold";
  src: url("../fonts/panton/Fontfabric - Panton ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Panton Semi Bold";
  src: url("../fonts/panton/Fontfabric - Panton SemiBold.otf");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Panton;
}

select.form-select {
  background-image: url("../image/arrow-down-sign-to-navigate.png");
  background-size: 10px 10px;
  background-position: right 21px center;
  font-family: "Panton Semi Bold";
}

.bg-purple {
  background-color: #6478fd !important;
}
.bg-purple:hover {
  background-color: #7288ff !important;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bg-gray {
  background-color: #3f3f3f !important;
}
.bg-gray:hover {
  color: #fff !important;
}

.br-37 {
  border-radius: 31px !important;
}

.back {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  transition: 0.5s ease-in;
}
.back.active {
  opacity: 0.5;
  top: 0;
}

.hr-home {
  height: 2px;
  background: linear-gradient(37deg, rgba(252, 252, 252, 0) 0%, rgba(255, 255, 255, 0.930331874) 16%, white 33%, white 67%, rgba(255, 255, 255, 0.930331874) 84%, rgba(255, 255, 255, 0) 98%);
  margin-top: 9px;
  margin-bottom: 13px;
}
.hr-home.mt {
  margin-top: 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-245 {
  margin-bottom: 175px;
}

.header .search a {
  color: #000;
}
.header .logo-wrap {
  width: 50px;
  display: inline-block;
  float: left;
}
.header .logo-wrap.user-login img {
  margin-left: -12px;
}
.header .logo-wrap img {
  width: 45px;
}
.header .button-wrap {
  display: flex;
}
.header .button-wrap select.form-select {
  width: auto;
  margin: 0 4px 0px 3px;
}
.header .button-wrap .turn-back {
  margin-left: 3px;
  background-color: #fff;
  color: #999999;
  border: 1px solid #999999;
}
.header .button-wrap .turn-back:hover {
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
}
.header .head-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .head-right .favorite {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d12e26;
  margin-right: 8px;
}
.header .head-right .favorite:hover {
  background-color: #e1342b;
}
.header .head-right .favorite img {
  max-width: 50%;
}
.header .head-right .cart {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #939393;
  margin-right: 8px;
}
.header .head-right .cart:hover {
  background-color: #a4a4a4;
}
.header .head-right .cart img {
  max-width: 62%;
}
.header .head-right .top-person {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.header .head-right .top-person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .head-right .dropdown a.dropdown-toggle {
  padding: 10px 38px 11px 23px;
  background-color: #6478fd;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  border: none;
  font-family: "Panton Semi Bold";
  width: auto;
  height: auto;
  background-image: url("../image/down.png");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}
.header .head-right .dropdown a.dropdown-toggle:hover {
  background-color: #7288ff;
}
.header .head-right .dropdown a.dropdown-toggle:focus {
  box-shadow: none;
}
.header .head-right .dropdown .dropdown-toggle::after {
  display: none;
}
.header .head-right .dropdown ul.dropdown-menu {
  right: 0 !important;
  top: 45px !important;
  transform: none !important;
  padding: 17px;
  min-width: 247px;
  background-color: #6478fd;
  border-radius: 25px;
  transition: all 0.3s ease-in;
  border: none;
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item {
  padding: 2px 0;
  color: white;
  font-family: "Panton Semi Bold";
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item:hover {
  background: none;
  color: rgba(255, 255, 255, 0.8);
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item span {
  position: relative;
  /*&:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px;
    width: 167px;
    background-color: rgb(255,255,255, 0.7);
  }*/
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item span.border-0:after {
  background-color: rgba(255, 255, 255, 0);
}
.header .head-right .dropdown ul.dropdown-menu .dropdown-item img {
  width: 20px;
  margin-right: 5px;
}
.header .head-right .dropdown ul.dropdown-menu .social-icon {
  margin-left: 3px;
}
.header .head-right .dropdown ul.dropdown-menu .social-icon i {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.header .head-right .general-btn {
  margin-top: 0;
}

.multi-range {
  margin-left: 22px;
  margin-right: 22px;
  position: relative;
}
.multi-range .mobile-value {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: "Panton Semi Bold";
}
.multi-range .slider-div {
  width: 100%;
  height: 15.3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  margin-top: 6px;
}
.multi-range .slider-div .slider-wrapper {
  width: 92%;
  display: inline-block;
  position: relative;
  /*top: 3.3px;*/
}
.multi-range .slider-div .ui-slider {
  background: #fff;
  height: 10.78px;
  position: relative;
  border-radius: 37px;
  /*&:hover{
    .range-wrapper.top{
      opacity: 1;
    }
  }*/
}
.multi-range .slider-div .ui-slider-range {
  background: #ffd54a;
  height: 10.78px;
  position: absolute;
  top: 0.9px;
  /*border-top: 1px solid #ffd54a;
  border-bottom: 1px solid #ffd54a;*/
  transform: translateY(-1px);
}
.multi-range .slider-div .ui-slider-handle {
  background-color: #ffd54a;
  position: absolute;
  width: 10.78px;
  height: 10.78px;
  top: 49%;
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  z-index: 10;
  /*background: linear-gradient(#555, #454545);*/
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /*box-shadow: inset -2px -2px 6px 2px rgba(0,0,0, 0.1);*/
  transition: width 0.1s;
}
.multi-range .slider-div .ui-slider-handle:focus {
  outline: none;
}
.multi-range .slider-div .ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background-color: #6478fd;
}
.multi-range .slider-div .ui-state-active {
  width: 12px;
}
.multi-range .slider-div .range-wrapper {
  position: absolute;
  top: 16px;
  transform: translateX(-50%);
}
.multi-range .slider-div .range-wrapper.one {
  left: 0%;
}
.multi-range .slider-div .range-wrapper.two {
  left: 100%;
}
.multi-range .slider-div .range {
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #fff;
  z-index: 10;
  position: relative;
}
.multi-range .slider-div .range-value {
  font-family: "Panton Semi Bold";
  text-align: center;
  display: inline-block;
  transition: background 0.1s;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  /* margin-top: 3px;*/
}
.multi-range .slider-div .range-value:after {
  position: absolute;
  content: "\f0de";
  font-family: FontAwesome;
  left: -1px;
  border-radius: 16px;
  top: -5px;
  width: 14px;
  font-size: 12px;
  height: 15px;
}

button.general-btn:focus {
  box-shadow: none;
  outline: none;
}

select.form-select:focus {
  box-shadow: none;
  outline: none;
}

input.form-control:focus {
  box-shadow: none;
  outline: none;
}

.mobile-menu {
  align-items: center;
  justify-content: space-between;
}
.mobile-menu .login img {
  width: 22px;
}
.mobile-menu .hmbr img {
  width: 22px;
}
.mobile-menu .search img {
  width: 22px;
}

.mobile_col_menu {
  transform: translateY(100%);
  overflow: scroll;
  transition: 0.5s ease-in;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100vh - 70px);
  height: -moz-calc(100vh - 70px);
  height: -webkit-calc(100vh - 70px);
  background-color: #6478fd;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  padding: 35px;
  z-index: 99;
}
.mobile_col_menu.active {
  transform: translateY(0);
}
.mobile_col_menu p.name {
  margin-top: 7px;
  font-family: "Panton Extra Bold";
  color: #fff;
  font-size: 15px;
}
.mobile_col_menu .close img {
  width: 15px;
}
.mobile_col_menu .profile-img {
  width: 117px;
  height: 118px;
  border-right: 50%;
  margin: auto;
}
.mobile_col_menu .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mobile_col_menu .icon {
  display: flex;
  margin-bottom: 20px;
}
.mobile_col_menu .icon img {
  width: 25px;
  margin-right: 4px;
}
.mobile_col_menu .icon span {
  /*border-bottom: 1px solid #fff;*/
  width: 100%;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  position: relative;
  /* &:after {
     content: "";
     position: absolute;
     width: 91%;
     height: 0.1px;
     background-color: #fff;
     bottom: -5px;
     left: 0;
   }*/
}
.mobile_col_menu .icon span a {
  color: #fff;
}
.mobile_col_menu .icon:nth-child(11) span:after {
  height: 0;
}
.mobile_col_menu .social-icon {
  display: flex;
  margin-left: 6px;
}
.mobile_col_menu .social-icon a {
  font-size: 19px;
  color: #fff;
  margin-right: 18px;
}

#order {
  margin-left: 4px;
}
#order button {
  color: #565656;
  font-size: 13px;
  border: 1px solid #565656;
  background-color: #fff;
  padding: 7px 38px 8px 38px;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 16px center;
  background-size: 10px;
  background-repeat: no-repeat;
}
#order button:hover {
  color: #b5b5b5;
  border: 1px solid #b5b5b5;
}
#order button.active {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.07) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}
#order button.active:hover {
  color: #565656;
  border: none;
}
#order button:focus {
  box-shadow: none;
}
#order button:after {
  background-image: url("");
}
#order .accordion-item {
  position: relative;
  border: none;
}
#order .accordion-item #collapseOne {
  top: 35px;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 1px 8px 12px !important;
}
#order .accordion-item #collapseOne .accordion-body {
  padding: 0px 8px 8px !important;
}
#order .accordion-item #collapseOne .accordion-body a {
  width: 100%;
  /*border-top: 1px solid #cdcdcd;*/
  font-size: 12px;
  color: #565656;
  padding: 9px 9px;
  display: inline-block;
}
#order .accordion-item #collapseOne .accordion-body a:hover {
  background-color: #e7e7e7;
  border-radius: 20px;
}

.dropdown.filter-drop {
  z-index: 9999;
}

.dropdown.active #filter {
  background-color: #fff;
  border: none;
  margin-bottom: -11px;
}
.dropdown.active #filter:hover {
  color: #565656;
  border: none;
}
.dropdown #filter {
  color: #565656;
  font-size: 13px;
  background-position: right 16px center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  border: 1px solid #565656;
  padding: 7px 35px 8px 16px;
  background-size: 10px;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 0 4px;
}
.dropdown #filter:hover {
  color: #b5b5b5;
  border: 1px solid #b5b5b5;
}
.dropdown #filter:focus {
  box-shadow: none;
}
.dropdown #filter.dropdown-toggle:after {
  border: none;
}

@media screen and (max-width: 1399px) {
  .mb-245 {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 992px) {
  .menu-big {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .mb-245 {
    margin-bottom: 0px;
  }

  .mt-20 {
    margin-top: -20px;
  }

  .big-screen {
    display: none !important;
  }

  .header .header-wrap {
    max-width: 444px;
  }
}
@media screen and (max-width: 500px) {
  .header .header-wrap {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .header .header-wrap {
    max-width: 382px;
  }
}
@media screen and (min-width: 576px) {
  .lower-screen {
    display: none;
  }

  .header .header-wrap {
    max-width: 436px;
  }
}
@media screen and (min-width: 768px) {
  .header .header-wrap {
    max-width: 657px;
  }
}
@media screen and (min-width: 992px) {
  .header .header-wrap {
    max-width: 872px;
  }

  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-wrap {
    max-width: 1100px !important;
  }
}
input.form-control, select.form-select {
  height: 40px;
  font-family: "Panton";
  color: #878787 !important;
  font-size: 13px;
  padding-left: 21px;
}

.text-danger {
  font-size: 12px;
  text-align: left;
  display: block;
  margin-left: 21px;
}

.main-modal-button {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  padding: 6px;
  margin: 10px 6px;
  font-size: 12px;
  opacity: 1;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
}
.home .home-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*height: 100vh;*/
}
.home .home-wrap .wrap {
  margin-bottom: 33px;
}
.home .home-wrap .wrap .logo-wrap {
  margin-bottom: 33px;
}
.home .home-wrap .wrap .logo-wrap .logo {
  max-width: 112px;
  /* margin-left: -6px;*/
}
.home .home-wrap .wrap h1.main-title {
  font-size: 22px;
  font-style: italic;
  font-family: "Panton SemiBold Italic";
}
.home .home-wrap .wrap h1.main-title strong {
  font-family: "Panton ExtraBold Italic";
}
.home .home-wrap .searcher-wrap {
  width: 266px;
  padding: 0;
}
.home .home-wrap .searcher-wrap .searcher {
  background-color: #6478fd;
  padding: 14px 13px 13px;
}
.home .home-wrap .searcher-wrap .searcher h3 {
  font-family: Panton Extra Bold;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: start;
  margin-bottom: -2px;
}
.home .home-wrap .searcher-wrap .searcher .check {
  margin-top: 15px;
  margin-left: 21px;
}
.home .home-wrap .searcher-wrap .searcher .check .form-check {
  margin-right: 27px;
  margin-bottom: 0;
}
.home .home-wrap .searcher-wrap .searcher .check .form-check-input[type=radio] {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 6px;
  width: 12px;
  height: 12px;
}
.home .home-wrap .searcher-wrap .searcher .check .form-check-input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  background-color: #ffd54a;
  box-shadow: none;
}
.home .home-wrap .searcher-wrap .searcher .check .form-check label {
  font-family: Panton Semi Bold;
  color: #fff;
  font-size: 13px;
  margin-left: -7px;
}
.home .home-wrap .searcher-wrap .searcher .multi-range {
  margin-left: 22px;
  margin-right: 22px;
  position: relative;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .mobile-value {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: "Panton Semi Bold";
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div {
  width: 100%;
  height: 15.3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  margin-top: 6px;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .slider-wrapper {
  width: 92%;
  display: inline-block;
  position: relative;
  /*top: 3.3px;*/
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider {
  background: #fff;
  height: 10.78px;
  position: relative;
  border-radius: 37px;
  /*&:hover{
    .range-wrapper.top{
      opacity: 1;
    }
  }*/
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider-range {
  background: #ffd54a;
  height: 10.78px;
  position: absolute;
  top: 0.9px;
  /*border-top: 1px solid #ffd54a;
  border-bottom: 1px solid #ffd54a;*/
  transform: translateY(-1px);
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider-handle {
  background-color: #ffd54a;
  position: absolute;
  width: 10.78px;
  height: 10.78px;
  top: 49%;
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  z-index: 10;
  /*background: linear-gradient(#555, #454545);*/
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /*box-shadow: inset -2px -2px 6px 2px rgba(0,0,0, 0.1);*/
  transition: width 0.1s;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider-handle:focus {
  outline: none;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background-color: #6478fd;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-state-active {
  width: 12px;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .range-wrapper {
  position: absolute;
  top: 18px;
  transform: translateX(-50%);
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .range-wrapper.one {
  left: 0%;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .range-wrapper.two {
  left: 100%;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .range {
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #fff;
  z-index: 10;
  position: relative;
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .range-value {
  font-family: "Panton Semi Bold";
  text-align: center;
  display: inline-block;
  transition: background 0.1s;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  /* margin-top: 3px;*/
}
.home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .range-value:after {
  position: absolute;
  content: "\f0de";
  font-family: FontAwesome;
  left: -1px;
  border-radius: 16px;
  top: -5px;
  width: 14px;
  font-size: 12px;
  height: 15px;
}
.home .home-wrap .status {
  margin-left: 21px;
}
.home .home-wrap .status .form-check {
  margin-right: 18px;
  margin-bottom: 0;
}
.home .home-wrap .status .form-check-input[type=radio] {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  margin-top: 6px;
}
.home .home-wrap .status .form-check-input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  background-color: #ffd54a;
  box-shadow: none;
}
.home .home-wrap .status .form-check label {
  color: #fff;
  font-size: 13px;
  font-family: "Panton Semi Bold";
  margin-left: -7px;
}
.home .home-wrap .login-small-device {
  color: #000;
  font-size: 14px;
  line-height: 17px;
}
.home .home-wrap .login-small-device a {
  font-family: "Panton Semi Bold";
  color: #000;
  text-decoration: none;
}
.home .add-member {
  /*margin-top: 34px;*/
  margin-bottom: 10px;
}
.home .add-member a {
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  margin: 13px auto 0;
  justify-content: center;
  font-size: 13px;
}
.home .add-member a:hover {
  color: #fff;
  background-color: #4c4c4c;
}

.general-btn {
  font-family: "Panton Extra Bold";
  border-radius: 23px;
  /*padding: 12px 51px 9px;*/
  height: 36px;
  width: 113px;
  border: none;
  background-color: #30e4f2;
  /*margin-top: 18px;*/
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-btn:hover {
  background-color: #1adae9;
  color: #fff;
}
.general-btn.bg-gray.w-100 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.general-btn.bg-gray.w-100:hover {
  background-color: #4c4c4c !important;
}
.general-btn.login {
  font-family: "Panton Semi Bold";
  /*height: 31px;
  width: 108px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 25px;
  font-size: 12px;
}
.general-btn.login:hover {
  color: #fff;
  background-color: #7288ff !important;
}

a.general-btn, button.general-btn {
  text-decoration: none;
}

.w-85 {
  width: 85%;
}

.footer {
  /* position: fixed;*/
  bottom: 0;
  left: 0;
  margin-top: 20px;
  background-color: #6478fd;
  padding: 13px 13px 11px;
  font-size: 12px;
}
.footer ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 540px;
  margin: auto;
  padding-left: 0;
  flex-wrap: wrap;
}
.footer ul li {
  list-style-type: none;
  padding: 0 10px;
}
.footer ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-family: "Panton Semi Bold";
}
.footer ul li a:hover {
  opacity: 1;
}

.mobile-footer {
  display: none;
  position: fixed;
  background-color: #6478fd;
  width: 100%;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  padding: 18px 0;
  bottom: 0;
  left: 0;
}
.mobile-footer .icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-footer .icon-wrap img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.mobile-footer .icon-wrap img.third {
  width: 25px;
  height: 25px;
  margin-top: 2px;
}

@media screen and (max-width: 576px) {
  .copyright {
    font-family: "Panton Semi Bold";
    font-size: 12px;
    color: #7f7f7f;
    opacity: 0.8;
  }
  .copyright i {
    font-size: 11px;
  }

  .footer {
    background-color: #fff;
    margin-top: 0;
  }
  .footer ul {
    max-width: 256px;
  }
  .footer ul li {
    padding: 0;
  }
  .footer ul li a {
    color: #7f7f7f;
  }

  .mobile-footer {
    display: block;
  }
}
.page span.choose {
  font-size: 13px;
}
.page input.form-control {
  color: #000;
}
.page input.form-control::placeholder {
  color: #878787;
}
.page input.form-control:focus {
  border: 1px solid #cdcdcd;
}
.page input.form-control:focus::placeholder {
  color: #cdcdcd;
}
.page select.form-select {
  font-family: "Panton";
}
.page .forget-password {
  margin-top: -6px;
}
.page .forget-password a {
  font-size: 12px;
  font-weight: 700;
  color: #939393;
  text-decoration: none;
  line-height: 14px;
}
.page .social-media-enter {
  line-height: 14px;
}
.page .social-media-enter p {
  font-size: 10px;
  font-weight: 700;
  color: #939393;
  text-decoration: none;
  font-family: "PANTON SEMI BOLD";
}
.page .social-media {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.page .social-media .social-media-item {
  width: 30px;
  height: 30px;
  background-color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 6px;
}
.page .social-media .social-media-item.facebook:hover {
  background-color: #3a559f;
}
.page .social-media .social-media-item.google-plus:hover {
  background-color: #dc4e41;
}
.page .social-media .social-media-item.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.page .social-media .social-media-item a {
  color: #fff;
}
.page .item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #939393;
  border-radius: 31px;
  border: 1px solid #939393;
  width: 115px;
  height: 115px;
  flex-direction: column;
}
.page .item img:nth-child(2) {
  display: none;
}
.page .item .img-personal {
  width: 20px;
}
.page .item .img-corporate {
  width: 60px;
}
.page .item:hover {
  background-color: #6478fd;
  color: #fff;
  border: none;
}
.page .item:hover img:nth-child(2) {
  display: block;
}
.page .item:hover img:nth-child(1) {
  display: none;
}
.page form select {
  color: #6c757d;
}
.page .check-confirm {
  display: flex;
  /*align-items: baseline;
  padding-left: 0;*/
}
.page .check-confirm input {
  width: 24px;
  height: 10px;
  border-radius: inherit;
  margin-top: 3px;
}
.page .check-confirm label {
  padding-top: 0;
  padding-left: 3px;
  color: #939393;
  font-size: 12px;
  line-height: 14px;
}
.page .check-confirm label a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: "Panton Extra Bold";
}
.page .female input, .page .male input {
  height: 40px;
}
.page .female input[type=radio]:checked, .page .male input[type=radio]:checked {
  /*border: 2px solid #6478fd;*/
}
.page .female input[type=radio]:checked:after, .page .male input[type=radio]:checked:after {
  content: "";
  position: absolute;
  top: 10%;
  right: 4px;
  width: 30px;
  height: 30px;
  background-image: url("../image/onayisaresi.svg");
}
.page .female label, .page .male label {
  margin-top: -29px;
  position: absolute;
  color: #6c757d;
  left: 48px;
  font-size: 13px;
}
.page #female {
  background: url("../image/kadin_icon.png") no-repeat left;
  background-size: 13px;
  background-position: 17px;
  padding-left: 20px;
  position: relative;
}
.page #male {
  background: url("../image/erkek_icon.png") no-repeat left;
  background-size: 13px;
  background-position: 17px;
  padding-left: 20px;
  position: relative;
}
.page .forget-password-form button {
  background-color: #939393 !important;
}
.page .forget-password-form button.active {
  background-color: #6478fd !important;
}
.page .forget-password-form button:focus {
  color: #fff;
}
.page .forget-password-form button:nth-child(2):hover {
  background-color: #596efa !important;
}
.page .forget-password-form a.general-btn.bg-gray.w-100 {
  background-color: #939393 !important;
}
.page .forget-password-form a.general-btn.bg-gray.w-100.active {
  background-color: #6478fd !important;
}
.page .forget-password-form a.general-btn.bg-gray.w-100:hover {
  background-color: #596efa !important;
}

input.form-check-input[type=checkbox]:checked {
  background-color: #9ebf43;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

input.form-check-input[type=checkbox]:focus {
  box-shadow: none;
}

@media screen and (max-width: 1369px) {
  .home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider-handle {
    height: 10.78px;
  }

  .w-85 {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .home .home-wrap .wrap .logo-wrap .logo {
    max-width: 95px;
    /* margin-left: -12px;*/
  }
  .home .home-wrap .searcher-wrap {
    max-width: 256px;
  }
  .home .home-wrap .searcher-wrap .searcher .multi-range {
    margin-left: 15px;
    margin-right: 13px;
  }
  .home .home-wrap .searcher-wrap .searcher .check {
    margin-left: 15px;
  }
  .home .home-wrap .status {
    margin-left: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
