@import "gnrl";

input.form-control, select.form-select {
  height: 40px;
  font-family: "Panton";
  color: #878787 !important;
  font-size: 13px;
  padding-left: 21px;
}
.text-danger {
  font-size: 12px;
  text-align: left;
  display: block;
  margin-left: 21px;
}

.main-modal-button {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  padding: 6px;
  margin: 10px 6px;
  font-size: 12px;
  opacity: 1;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;

  .home-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*height: 100vh;*/

    .wrap {
      margin-bottom: 33px;

      .logo-wrap {
        margin-bottom: 33px;

        .logo {
          max-width: 112px;
          /* margin-left: -6px;*/
        }
      }

      h1.main-title {
        font-size: 22px;
        font-style: italic;
        font-family: "Panton SemiBold Italic";

        strong {
          font-family: "Panton ExtraBold Italic";
        }
      }
    }

    .searcher-wrap {
      width: 266px;
      padding: 0;

      .searcher {
        background-color: #6478fd;
        padding: 14px 13px 13px;

        h3 {
          font-family: Panton Extra Bold;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          text-align: start;
          margin-bottom: -2px;
        }

        .check {
          margin-top: 15px;
          margin-left: 21px;
          .form-check{
            margin-right: 27px;
            margin-bottom: 0;
          }

          .form-check-input[type=radio] {
            border-radius: 3px;
            background-color: transparent;
            border: 1px solid #fff;
            margin-top: 6px;
            width: 12px;
            height: 12px;
          }

          .form-check-input[type=radio]:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
            background-color: #ffd54a;
            box-shadow: none;
          }

          .form-check {

            label {
              font-family: Panton Semi Bold;
              color: #fff;
              font-size: 13px;
              margin-left: -7px;
            }
          }
        }

        // Slider
        .multi-range {
          margin-left: 22px;
          margin-right: 22px;
          position: relative;
          .mobile-value{
            opacity: 0;
            font-size: 12px;
            color: #fff;
            position: absolute;
            top: 1px;
            left: 26px;
            font-family: "Panton Semi Bold";
          }

          .slider-div {
            width: 100%;
            height: 15.3px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 37px;
            margin-top: 6px;

            .slider-wrapper {
              width: 92%;
              display: inline-block;
              position: relative;
              /*top: 3.3px;*/
            }

            .ui-slider {
              background: #fff;
              height: 10.78px;
              position: relative;
              border-radius: 37px;
              /*&:hover{
                .range-wrapper.top{
                  opacity: 1;
                }
              }*/

            }

            .ui-slider-range {
              background: #ffd54a;
              height: 10.78px;
              position: absolute;
              top: 0.9px;
              /*border-top: 1px solid #ffd54a;
              border-bottom: 1px solid #ffd54a;*/
              transform: translateY(-1px);

            }

            .ui-slider-handle {
              background-color: #ffd54a;
              position: absolute;
              width: 10.78px;
              height: 10.78px;
              top: 49%;
              display: block;
              transform: translate(-50%, -50%);
              border-radius: 100px;
              z-index: 10;
              /*background: linear-gradient(#555, #454545);*/
              cursor: move; /* fallback if grab cursor is unsupported */
              cursor: grab;
              cursor: -moz-grab;
              cursor: -webkit-grab;
              /*box-shadow: inset -2px -2px 6px 2px rgba(0,0,0, 0.1);*/
              transition: width 0.1s;

              &:focus {
                outline: none;
              }

              &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
                background-color: #6478fd;
              }
            }

            .ui-state-active {
              width: 12px;
            }


            // Range Indicator

            .range-wrapper {
              position: absolute;
              top: 18px;
              transform: translateX(-50%);
            }

            .range-wrapper.one {
              left: 0%;
            }

            .range-wrapper.two {
              left: 100%;
            }

            .range {
              border-radius: 2px;
              font-size: 13px;
              letter-spacing: 0.02em;
              color: #fff;
              z-index: 10;
              position: relative;

            }

            .range-value {
              font-family: "Panton Semi Bold";
              text-align: center;
              display: inline-block;
              transition: background 0.1s;
              color: #fff;
              font-size: 10px;
              font-weight: 700;
              /* margin-top: 3px;*/

              &:after {
                position: absolute;
                content: "\f0de";
                font-family: FontAwesome;
                left: -1px;
                border-radius: 16px;
                top: -5px;
                width: 14px;
                font-size: 12px;
                height: 15px;
              }
            }
          }
        }
      }
    }


    .status {
      margin-left: 21px;

      .form-check {
        margin-right: 18px;
        margin-bottom: 0;
      }

      .form-check-input[type=radio] {
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #fff;
        width: 12px;
        height: 12px;
        margin-top: 6px;
      }

      .form-check-input[type=radio]:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        background-color: #ffd54a;
        box-shadow: none;
      }

      .form-check label {
        color: #fff;
        font-size: 13px;
        font-family: "Panton Semi Bold";
        margin-left: -7px;
      }
    }

    .login-small-device {
      color: #000;
      font-size: 14px;
      line-height: 17px;

      a {
        font-family: "Panton Semi Bold";
        color: #000;
        text-decoration: none;
      }
    }
  }

  .add-member {
    /*margin-top: 34px;*/
    margin-bottom: 10px;

    a {
      background-color: #3f3f3f;
      display: flex;
      align-items: center;
      margin: 13px auto 0;
      justify-content: center;
      font-size: 13px;

      &:hover {
        color: #fff;
        background-color: #4c4c4c;
      }
    }
  }
}

.general-btn {
  font-family: "Panton Extra Bold";
  border-radius: 23px;
  /*padding: 12px 51px 9px;*/
  height: 36px;
  width: 113px;
  border: none;
  background-color: #30e4f2;
  /*margin-top: 18px;*/
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: #1adae9;
    color: #fff;
  }
  &.bg-gray.w-100{
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: #4c4c4c !important;
    }
  }
  &.login{
    font-family: "Panton Semi Bold";
    /*height: 31px;
    width: 108px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 25px;
    font-size: 12px;
    &:hover{
      color: #fff;
      background-color: #7288ff !important;
    }
  }
}

a.general-btn, button.general-btn {
  text-decoration: none;
}

.w-85 {
  width: 85%;
}

@import "footer";

.page {
  span.choose{
    font-size: 13px;
  }
  input.form-control{
    color: #000;
    &::placeholder{
      color: #878787;
    }
    &:focus{
      border: 1px solid #cdcdcd;
      &::placeholder{
        color: #cdcdcd;
      }
    }
  }
  select.form-select{
    font-family: "Panton";
  }
  .forget-password {
    margin-top: -6px;

    a {
      font-size: 12px;
      font-weight: 700;
      color: #939393;
      text-decoration: none;
      line-height: 14px;
    }
  }

  .social-media-enter {
    line-height: 14px;

    p {
      font-size: 10px;
      font-weight: 700;
      color: #939393;
      text-decoration: none;
      font-family: 'PANTON SEMI BOLD';
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .social-media-item {
      width: 30px;
      height: 30px;
      background-color: #b3b3b3;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 6px;

      &.facebook:hover {
        background-color: #3a559f;
      }

      &.google-plus:hover {
        background-color: #dc4e41;
      }

      &.instagram:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      }

      a {
        color: #fff;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #939393;
    border-radius: 31px;
    border: 1px solid #939393;
    width: 115px;
    height: 115px;
    flex-direction: column;

    img:nth-child(2) {
      display: none;
    }

    .img-personal {
      width: 20px;
    }

    .img-corporate {
      width: 60px;
    }

    &:hover {
      background-color: #6478fd;

      img:nth-child(2) {
        display: block;
      }

      img:nth-child(1) {
        display: none;
      }

      color: #fff;
      border: none;
    }
  }

  form select {
    color: #6c757d;
  }

  .check-confirm {
    display: flex;
    /*align-items: baseline;
    padding-left: 0;*/
    input {
      width: 24px;
      height: 10px;
      border-radius: inherit;
      margin-top: 3px;
    }

    label {
      padding-top: 0;
      padding-left: 3px;
      color: #939393;
      font-size: 12px;
      line-height: 14px;

      a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-family: "Panton Extra Bold";
      }
    }
  }

  .female, .male {
    input {
      height: 40px;
    }
    input[type="radio"]:checked{
      /*border: 2px solid #6478fd;*/
      &:after{
        content: "";
        position: absolute;
        top: 10%;
        right: 4px;
        width: 30px;
        height: 30px;
        background-image: url("../image/onayisaresi.svg");
      }
    }

    label {
      margin-top: -29px;
      position: absolute;
      color: #6c757d;
      left: 48px;
      font-size: 13px;
    }
  }

  #female {
    background: url("../image/kadin_icon.png") no-repeat left;
    background-size: 13px;
    background-position: 17px;
    padding-left: 20px;
    position: relative;

  }

  #male {
    background: url("../image/erkek_icon.png") no-repeat left;
    background-size: 13px;
    background-position: 17px;
    padding-left: 20px;
    position: relative;
  }

  .forget-password-form{
    button{
      background-color: #939393 !important;
      &.active{
        background-color: #6478fd !important;
      }
      &:focus{
        color: #fff;
      }
      &:nth-child(2):hover{
        background-color: #596efa !important;
      }
    }
    a.general-btn.bg-gray.w-100{
      background-color: #939393 !important;
      &.active{
        background-color: #6478fd !important;
      }
      &:hover{
        background-color: #596efa !important;
      }
    }

  }
}

input.form-check-input[type=checkbox]:checked {
  background-color: #9ebf43;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.25);
}

input.form-check-input[type=checkbox]:focus {
  box-shadow: none;
}

@media screen and (max-width: 1369px) {
  .home .home-wrap .searcher-wrap .searcher .multi-range .slider-div .ui-slider-handle {
    height: 10.78px;
  }
  .w-85 {
    width: 100%;
  }
}



@media screen and (max-width: 576px) {

  .home .home-wrap{
    .wrap{
      .logo-wrap{
        .logo{
          max-width: 95px;
          /* margin-left: -12px;*/
        }
      }
    }
    .searcher-wrap{
      max-width: 256px;
      .searcher{
        .multi-range{
          margin-left: 15px;
          margin-right: 13px;
        }
        .check{
          margin-left: 15px;
        }
      }
    }
    .status{
      margin-left: 14px;
    }
  }

}









